Repository embox/embox, pull requests merged in 2018-11, with the labels that each got.

#1238 Decrease default block dev quantity
  src/drivers/block_dev/Mybuild
Labels: easy

#1239 pjsip qemu x86
  platform/pjsip/cmds/Mybuild
  platform/pjsip/cmds/simple_pjsua_imported.c
  platform/pjsip/templates/x86-qemu/mods.config
  platform/pjsip/templates/x86-qemu/system_start.inc
  scripts/qemu/auto_qemu
  src/cmds/record/record.c
  src/drivers/audio/ac97/ac97.c
  src/drivers/audio/ac97/ac97.h
  src/drivers/audio/audio_dev.h
  src/drivers/audio/intel8x0/intel8x0.c
  src/drivers/audio/portaudio/Mybuild
  src/drivers/audio/portaudio/portaudio_info.c
  src/drivers/audio/portaudio/portaudio_lib.c
  src/fs/driver/ramfs/ramfs.c
  third-party/pjproject/Makefile
  third-party/pjproject/Mybuild
  third-party/pjproject/srtp.patch
Labels: arch:x86, module:platform, module:thirdparty

#1241 fix telnetd exit
  src/cmds/net/telnetd/telnetd.c
Labels: bug

#1240 posix: Break cyclic deps for module exit
  src/compat/posix/proc/Proc.my
  src/compat/posix/proc/exit/Mybuild
  src/compat/posix/proc/exit/exit.c
  src/compat/posix/proc/vfork_exchanged/Mybuild
Labels: easy

#1242 Quake3 porting
  platform/mesa/cmds/osdemo_fb/Mybuild
  platform/mesa/cmds/osdemo_fb/osdemo_fb.c
  platform/quake3/templates/qemu/build.conf
  platform/quake3/templates/qemu/lds.conf
  platform/quake3/templates/qemu/mods.config
  platform/quake3/templates/qemu/start_script.inc
  src/compat/libc/ctype/ctype.c
  src/compat/libc/include/ctype.h
  src/compat/libc/include/stdlib.h
  src/compat/libc/math/math_builtins.c
  src/compat/libc/math/math_builtins.h
  src/compat/libc/stdio/printf_impl.c
  src/compat/libc/string/Mybuild
  src/compat/libc/string/stpcpy.c
  src/compat/posix/include/dlfcn.h
  src/compat/posix/include/netinet/in.h
  src/compat/posix/include/sys/mman.h
  src/compat/posix/stubs/Mybuild
  src/compat/posix/stubs/dlfcn.c
  src/compat/posix/stubs/mman.c
  src/drivers/input/keyboard/Mybuild
  src/drivers/input/keyboard/keymap.c
  src/drivers/tty/vt/video_term.c
  src/drivers/video/Mybuild
  src/drivers/video/fb_overlay.c
  src/drivers/video/fb_overlay.h
  src/fs/driver/fat/fat.c
  src/include/net/if.h
  src/net/lib/ifaddrs.h
  src/net/netdev.c
  src/net/socket/af_inet.c
  third-party/freedesktop/mesa/libdrm/sw/Makefile
  third-party/freedesktop/mesa/mesa/mesa_sw/Makefile
  third-party/games/quake3/Makefile
  third-party/games/quake3/Mybuild
  third-party/games/quake3/compat.c
  third-party/games/quake3/fenv.h
  third-party/games/quake3/include/netinet/ip.h
  third-party/games/quake3/include/sys/param.h
  third-party/games/quake3/math.h
  third-party/games/quake3/patch.txt
  third-party/lib/curl/Makefile
  third-party/lib/curl/Mybuild
  third-party/lib/openlibm/patch.txt
  third-party/lib/sdl2/Makefile
  third-party/lib/sdl2/Mybuild
  third-party/lib/sdl2/embox.c
  third-party/lib/sdl2/gl.c
  third-party/lib/sdl2/include/netinet/ip.h
  third-party/lib/sdl2/include/sys/param.h
  third-party/lib/sdl2/patch.txt
  third-party/ntfs-3g/ntfs-3g_embox_compat.h
  third-party/packetdrill/packetdrill_stubs.h
Labels: arch:x86, compat, graphics, module:platform, module:thirdparty, porting

#1243 arm: Fix mmu_pte_value()
  src/arch/arm/mmu/mmu_small_page.c
Labels: arch:arm

#1244 Fix of pgd_allocator frees more than available space.
  src/mem/pagealloc/bitmask.c
Labels: module:mem

#1245 Ti816x improve
  src/compat/libc/include/stdlib.h
  src/drivers/gpmc/Mybuild
  src/drivers/gpmc/omap_gpmc.c
  src/drivers/gpmc/omap_gpmc.h
  src/drivers/interrupt/omap3_intc/omap3_intc.c
  src/drivers/mtd/nand/Mybuild
  src/drivers/mtd/nand/gpmc_nand/Mybuild
  src/drivers/mtd/nand/gpmc_nand/gpmc_nand.c
  src/drivers/mtd/nand/nand.c
  src/drivers/mtd/nand/nand.h
  src/drivers/mtd/opennand/Mybuild
  src/drivers/mtd/opennand/opennand.h
  src/drivers/net/emac/Mybuild
  src/drivers/net/emac/emac.c
  src/drivers/net/emac/emac.h
  src/drivers/net/emac/emac_desc.h
  src/drivers/net/emac/emac_mdio.c
  src/drivers/serial/ns16550/Mybuild
  src/drivers/serial/ns16550/ns16550.c
  src/include/drivers/gpmc.h
  src/include/kernel/thread/types.h
  src/kernel/thread/Mybuild
  src/mem/vmem/Mybuild
  src/mem/vmem/mmap.c
  src/net/l3/ipv4/ip_fragment.c
  templates/arm/ti816x-qt/mods.config
  templates/arm/ti816x-qt/start_script.inc
  templates/arm/ti816x/mods.config
Labels: module:drivers, module:fs, module:net

#1246 Pjsip stm32f7
  platform/nuklear/templates/stm32f7/mods.config
  platform/pjsip/cmds/Mybuild
  platform/pjsip/cmds/simple_pjsua_imported.c
  platform/pjsip/templates/stm32f7cube/build.conf
  platform/pjsip/templates/stm32f7cube/lds.conf
  platform/pjsip/templates/stm32f7cube/mods.config
  platform/pjsip/templates/stm32f7cube/start_script.inc
  src/arch/arm/armmlib/context_switch.S
  src/arch/arm/fpu/armv7m/cortex_m4_fp_regs.h
  src/arch/arm/fpu/armv7m/cortex_m7_fp_regs.h
  src/arch/arm/fpu/armv7m/fpv5.c
  src/arch/arm/fpu/armv7m/fpv5.h
  src/cmds/play.c
  src/cmds/record/Mybuild
  src/cmds/record/record.c
  src/drivers/audio/audio_dev.h
  src/drivers/audio/intel8x0/intel8x0.c
  src/drivers/audio/portaudio/Mybuild
  src/drivers/audio/portaudio/audio_utils.c
  src/drivers/audio/portaudio/audio_utils.h
  src/drivers/audio/portaudio/portaudio_info.c
  src/drivers/audio/portaudio/portaudio_lib.c
  src/drivers/audio/portaudio/stm32_pa_cube.c
  src/drivers/audio/stm32/Mybuild
  src/drivers/audio/stm32/stm32_audio_f7.c
  src/mem/heap/Mybuild
  src/mem/heap/fixed_heap/Mybuild
  src/mem/heap/fixed_heap/fixed_heap.c
  src/mem/heap/mspace_malloc.c
  src/mem/heap/mspace_malloc.h
  third-party/bsp/stmf7cube/Makefile
  third-party/bsp/stmf7cube/audio.patch
  third-party/pjproject/Makefile
  third-party/pjproject/Mybuild
  third-party/pjproject/config_site.h
  third-party/pjproject/pjsua2_disable.patch
Labels: arch:arm, module:drivers, module:thirdparty

#1247 dropbear-2018.76 port
  third-party/dropbear-2014.63/dropbear.patch
  third-party/dropbear-2014.63/dropbear_rsa_host_key
  third-party/dropbear-2014.63/dropbeard.c
  third-party/dropbear-2014.63/random
  third-party/dropbear/.ssh/authorized_keys
  third-party/dropbear/Makefile
  third-party/dropbear/Mybuild
  third-party/dropbear/dev_pty_0
  third-party/dropbear/dropbear.patch
  third-party/dropbear/etc/dropbear/dropbear_dss_host_key
  third-party/dropbear/etc/dropbear/dropbear_ecdsa_host_key
  third-party/dropbear/etc/dropbear/dropbear_rsa_host_key
  third-party/dropbear/etc/dropbear/random
  third-party/dropbear/stubs.h
Labels: module:thirdparty

#1249 x86/test/net: (template) modified for dropbear-2018
  templates/x86/test/net/mods.config
  templates/x86/test/net/start_script.inc
Labels: templates

#1252 x86/test/net: Fix testing
  templates/x86/test/net/mods.config
Labels: templates

#1251 template: Fix build stm32_vl
  templates/arm/stm32_vl/mods.config
  third-party/bsp/st_discovery_vl/Makefile
Labels: module:thirdparty, templates

#1253 Stm32 fix static irq
  platform/efm32zg_sk3200/templates/debug/mods.config
  platform/stellaris/templates/lm3s811evb/mods.config
  src/drivers/audio/stm32/stm32_audio_f7.c
  src/drivers/interrupt/cortexm_irq_handle.S
  src/drivers/interrupt/cortexm_nvic.c
  src/kernel/Irq.my
  src/kernel/irq_static.h
  src/kernel/irq_static_light.h
  templates/arm/stm32_vl/mods.config
  templates/arm/stm32_vl_light/mods.config
Labels: arch:arm

#1254 Update MESA
  platform/etnaviv/cmds/Mybuild
  platform/etnaviv/cmds/tri.c
  platform/mesa/cmds/osdemo_fb/Mybuild
  src/compat/atomic/pseudo_atomic/pseudo_atomic.c
  src/drivers/gpu/drm/etnaviv/Mybuild
  third-party/freedesktop/mesa/glu/libglu_imx6/Makefile
  third-party/freedesktop/mesa/glu/libglu_osmesa/Makefile
  third-party/freedesktop/mesa/libdrm/etnaviv/Makefile
  third-party/freedesktop/mesa/libdrm/etnaviv/patch.txt
  third-party/freedesktop/mesa/libdrm/sw/Makefile
  third-party/freedesktop/mesa/libdrm/sw/patch.txt
  third-party/freedesktop/mesa/mesa/mesa_etnaviv/Makefile
  third-party/freedesktop/mesa/mesa/mesa_etnaviv/patch.txt
  third-party/freedesktop/mesa/mesa/mesa_sw/Makefile
  third-party/freedesktop/mesa/mesa/mesa_sw/patch.txt
Labels: module:thirdparty
