Repository embox/embox, pull requests merged in 2018-08, with the labels that each got.

#1187 Fix static irq
  src/arch/arm/armmlib/exception_table.S
  src/arch/arm/embox.lds.S
  src/include/asm-generic/static_irq.h
Labels: arch:arm

#1188 Monocube port
  src/arch/e2k/Mybuild
  src/arch/e2k/e2k_interrupt.c
  src/arch/e2k/e2k_syscall_handler.c
  src/arch/e2k/embox.lds.S
  src/arch/e2k/entry.c
  src/arch/e2k/include/asm/hal/memory_barrier.h
  src/arch/e2k/include/asm/io.h
  src/arch/e2k/include/asm/ptrace.h
  src/arch/e2k/include/asm/setjmp.h
  src/arch/e2k/include/e2k_api.h
  src/arch/e2k/include/e2k_mas.h
  src/arch/e2k/include/e2k_sic.h
  src/arch/e2k/kernel_entry.S
  src/arch/e2k/libarch/Mybuild
  src/arch/e2k/libarch/e2k_setjmp.S
  src/arch/e2k/libarch/e2k_syscall.S
  src/compat/libc/include/stdarg.h
  src/drivers/clock/e2k/e2k.c
  src/drivers/interrupt/apic/ioapic_regs_e2k.h
  src/drivers/pci/pci_chip/Mybuild
  src/drivers/pci/pci_chip/pci_chip_elbrus.c
  src/drivers/pci/pci_id.h
  src/drivers/serial/am85c30/Mybuild
  src/drivers/serial/am85c30/am85c30.c
  src/drivers/serial/am85c30/am85c30.h
  src/drivers/serial/e2k/e2k.c
  src/drivers/video/lynxfb/Mybuild
  src/drivers/video/lynxfb/ddk750_chip.c
  src/drivers/video/lynxfb/ddk750_chip.h
  src/drivers/video/lynxfb/ddk750_display.c
  src/drivers/video/lynxfb/ddk750_display.h
  src/drivers/video/lynxfb/ddk750_mode.c
  src/drivers/video/lynxfb/ddk750_mode.h
  src/drivers/video/lynxfb/ddk750_power.c
  src/drivers/video/lynxfb/ddk750_power.h
  src/drivers/video/lynxfb/ddk750_reg.h
  src/drivers/video/lynxfb/lynxfb.c
  src/drivers/video/lynxfb/lynxfb.h
  src/drivers/video/lynxfb/lynxfb_hw750.c
  src/drivers/video/lynxfb/lynxfb_hw750.h
  src/fs/driver/initfs/initfs_dvfs.c
  src/include/util/err.h
  templates/e2k/monocube/build.conf
  templates/e2k/monocube/lds.conf
  templates/e2k/monocube/mods.config
Labels: arch:e2k, module:drivers

#1189 QEMU Stellaris lm3s811
  platform/stellaris/templates/lm3s811evb/build.conf
  platform/stellaris/templates/lm3s811evb/lds.conf
  platform/stellaris/templates/lm3s811evb/mods.config
  platform/stellaris/templates/lm3s811evb/start_script.inc
  scripts/qemu/auto_qemu
  src/drivers/common/Mybuild
  src/drivers/common/memory_impl_stub.h
  src/drivers/serial/Mybuild
  src/drivers/serial/pl011/pl011.c
  src/drivers/tty/serial/Mybuild
  src/drivers/tty/serial/ttys_stub.c
  src/framework/mod/Mybuild
  src/framework/mod/embuild_light_impl.h
Labels: arch:arm, module:platform

#1190 Extend i.MX6 LVDS support
  platform/mesa/cmds/fb_direct_access/fb_direct_access.c
  src/drivers/clk/ccm_imx6/Mybuild
  src/drivers/clk/ccm_imx6/ccm_imx6.h
  src/drivers/clock/Mybuild
  src/drivers/clock/cortexa9_timer/Mybuild
  src/drivers/clock/cortexa9_timer/cortexa9_timer.c
  src/drivers/gpio/imx/imx.c
  src/drivers/gpu/drm/dw_hdmi/dw_hdmi.c
  src/drivers/gpu/ipu_v3/Mybuild
  src/drivers/gpu/ipu_v3/brightness_readme
  src/drivers/gpu/ipu_v3/ipu_disp.c
  src/drivers/gpu/ipu_v3/ipu_param_mem.h
  src/drivers/gpu/ipu_v3/ipu_priv.h
  src/drivers/gpu/ipu_v3/ipu_regs.h
  src/drivers/gpu/ipu_v3/ipuv3.c
  src/drivers/gpu/ipu_v3/ipuv3_fb.c
  src/drivers/gpu/ipu_v3/uboot_ipu_compat.h
  src/drivers/gpu/ldb/Mybuild
  src/drivers/gpu/ldb/ldb.c
  src/drivers/gpu/ldb/ldb.h
  templates/arm/sk_imx6q/build.conf
  templates/arm/sk_imx6q/lds.conf
  templates/arm/sk_imx6q/mods.config
  templates/arm/sk_imx6q/readme
  templates/arm/sk_imx6q/start_script.inc
  templates/arm/var_som_mx6/build.conf
  templates/arm/var_som_mx6/lds.conf
  templates/arm/var_som_mx6/mods.config
  templates/arm/var_som_mx6/readme
  templates/arm/var_som_mx6/start_script.inc
Labels: graphics, module:drivers, templates

#1191 Fix PHY initialization for 1Gbit links
  src/drivers/net/fec/fec.c
  src/drivers/net/phy/phy.c
  src/include/net/mii.h
Labels: module:drivers, module:net

#1193 Qt fix
  templates/arm/qt-app/lds.conf
  templates/arm/qt-app/mods.config
  templates/arm/qt-app/start_script.inc
Labels: templates

#1194 arm: Fix build for i.MX
  src/arch/arm/subarch/armv7a/cpu_reset.S
Labels: arch:arm, easy
