Repository embox/embox, pull requests merged in 2018-07, with the labels that each got.

#1178 Yet another fix for ARM MMU
  src/arch/arm/mmu/mmu_small_page.c
  src/mem/vmem/vmem_mapper.c
  templates/arm/qemu/lds.conf
Labels: arch:arm, module:mem

#1176 find problem with services(arm/qemu)
  src/mem/pagealloc/bitmask.c
  src/mem/vmem/vmem_mapper.c
  src/tests/mem/Mybuild
  src/tests/mem/page_allocator.c
  templates/arm/qemu/mods.config
Labels: easy

#1179 ipu: Pass resolution as module parameters
  src/drivers/gpu/ipu_v3/Mybuild
  src/drivers/gpu/ipu_v3/ipuv3_fb.c
Labels: easy, module:drivers

#1184 net: Improve ip_rcv if inet_dev isn't set
  src/net/l3/ipv4/ip_input.c
Labels: module:net
