Repository embox/embox, pull requests merged in 2018-06, with the labels that each got.

#1166 Fix for x86/test/fs
  src/fs/driver/ext4/ext4.c
  src/fs/driver/jffs2/readinode.c
Labels: easy, module:fs

#1167 Multitasking tests fix
  src/compat/posix/proc/fork_nommu/fork.c
  src/compat/posix/proc/fork_nommu/fork_addr_space.c
  src/compat/posix/proc/fork_nommu/fork_addr_space_heap.c
  src/mem/heap/mspace_malloc.c
  src/tests/kernel/sched/running_threads_test.c
  src/tests/kernel/sched/waitq.c
  src/tests/kernel/task/select_test.c
  src/tests/posix/sys/timerfd/timerfd_tests.c
  templates/x86/qemu/mods.config
Labels: easy, module:tests

#1169 help: Fix ugly output
  src/cmds/help.c
Labels: easy

#1168 Drivers net
  src/drivers/net/Mybuild
  src/drivers/net/e1000/Mybuild
  src/drivers/net/e1000/e1000.c
  src/drivers/net/e1000/e1000.h
  src/drivers/net/greth/Mybuild
  src/drivers/net/greth/greth.c
  src/drivers/net/lan9118/Mybuild
  src/drivers/net/lan9118/lan9118.c
  src/drivers/net/loopback/Mybuild
  src/drivers/net/loopback/loopback.c
  src/drivers/net/r6040/Mybuild
  src/drivers/net/r6040/r6040.c
  src/drivers/net/r6040/r6040.h
  src/drivers/net/rtl8139/Mybuild
  src/drivers/net/rtl8139/rtl8139.c
  src/drivers/net/rtl8139/rtl8139.h
  src/drivers/net/stm32f4_eth/Mybuild
  src/drivers/net/stm32f4_eth/stm32f4_eth.c
  src/drivers/net/tun/Mybuild
  src/drivers/net/tun/tun.c
  src/drivers/net/usbnet/Mybuild
  src/drivers/net/usbnet/usbnet.c
  src/drivers/net/usermode/Mybuild
  src/drivers/net/usermode/usermode.c
  src/drivers/net/virtio_net/Mybuild
  src/drivers/net/virtio_net/virtio_net.c
  src/drivers/net/virtio_net/virtio_net.h
Labels: easy, module:drivers

#1171 Fix archs build
  .travis.yml
  src/cmds/shell/Mybuild
  templates/microblaze/debug/mods.config
  templates/microblaze/qemu/mods.config
  templates/ppc/qemu/mods.config
  third-party/lib/openlibm/Makefile
  third-party/lib/openlibm/patch.txt
Labels: arch:microblaze, arch:powerpc, arch:sparc

#1173 Templates fix
  src/arch/arm/embox.lds.S
  src/drivers/flash/stm32f4/Mybuild
  templates/arm/omap/build.conf
  templates/arm/omap/mods.config
  templates/arm/stm32_dvfs/mods.config
  templates/arm/stm32_modbus/mods.config
  templates/arm/stm32_vl_light/mods.config
Labels: easy, templates
