Repository embox/embox, pull requests merged in 2018-09, with the labels that each got.

#1196 MESA fix build
  platform/mesa/cmds/osdemo_fb/osdemo_fb.c
  platform/mesa/templates/integratorcp/mods.config
  platform/mesa/templates/mesa_imx6/mods.config
  src/compat/posix/fs/Mybuild
  src/compat/posix/fs/dvfs/Mybuild
  src/compat/posix/fs/mknod/mknod_oldfs.c
  src/init/Mybuild
  third-party/freedesktop/mesa/glu/Makefile
  third-party/freedesktop/mesa/libdrm/Mybuild
  third-party/freedesktop/mesa/libdrm/patch.txt
  third-party/freedesktop/mesa/mesa/mesa_etnaviv/Makefile
  third-party/freedesktop/mesa/mesa/mesa_etnaviv/Mybuild
  third-party/freedesktop/mesa/mesa/mesa_etnaviv/patch.txt
  third-party/freedesktop/mesa/mesa/mesa_imx6/Mybuild
  third-party/freedesktop/mesa/mesa/mesa_sw/Makefile
  third-party/freedesktop/mesa/mesa/mesa_sw/Mybuild
  third-party/freedesktop/mesa/mesa/mesa_sw/patch.txt
Labels: graphics

#1200 arm: Fix context init
  src/arch/arm/armlib/context/context.c
Labels: arch:arm, easy

#1186 More command
  src/cmds/fs/more.c
  src/compat/posix/curses/curses.c
Labels: module:shell

#1202 cortex-m: Add additional information about exceptions
  src/arch/arm/armmlib/exception_handlers.c
Labels: arch:arm

#1203 Improve irq static
  platform/efm32zg_sk3200/templates/debug/mods.config
  platform/pjsip/templates/stm32f4cube/mods.config
  platform/pjsip/templates/stm32f4discovery/mods.config
  platform/stellaris/templates/lm3s811evb/mods.config
  platform/stm32f3_sensors/templates/car/mods.config
  src/arch/arm/Mybuild
  src/arch/arm/static_irq_table.lds.S
  src/include/asm-generic/static_irq.h
  src/kernel/Irq.my
  src/kernel/irq_static.c
  templates/arm/stm32_vl/mods.config
  templates/arm/stm32_vl_light/mods.config
Labels: arch:arm

#1206 fixed closing div html tag
  platform/stm32f4_iocontrol/http_admin/partials/leds.html
Labels: easy

#1209 Fix whereami
  src/arch/arm/lib/debug/stack_iter.c
  src/arch/arm/lib/debug/stack_iter.h
  src/lib/debug/whereami.c
  templates/sparc/qemu/mods.config
Labels: arch:arm, arch:sparc, arch:x86

#1214 Linux compat
  src/compat/linux/include/asm-generic/dma-mapping.h
  src/compat/linux/include/err.h
  src/compat/linux/include/linux/idr.h
  src/compat/linux/include/linux/pagemap.h
  src/compat/linux/include/linux/types.h
  src/compat/linux/include/linux/wait.h
Labels: compat

#1215 A bunch of fixes for memory-related functions
  src/mem/vmem/Mybuild
  src/mem/vmem/mmap.c
  src/tests/mem/mmap.c
Labels: module:mem

#1217 FS fixes
  src/compat/posix/fs/dvfs/stat.c
  src/compat/posix/fs/fcntl.c
Labels: module:fs

#1219 imx_power: Initial implementation for imx power handle
  src/drivers/power/imx/Mybuild
  src/drivers/power/imx/imx.c
  src/drivers/power/imx/imx.h
Labels: module:drivers

#1221 dvfs/stat: Stub for directories
  src/compat/posix/fs/dvfs/stat.c
Labels: module:fs
