Repository embox/embox, pull requests merged in 2018-12, with the labels that each got.

#1257 SPI subsystem
  src/drivers/block_dev/block_dev_common.c
  src/drivers/block_dev/block_dev_dvfs.c
  src/drivers/block_dev/block_dev_idesc_dvfs.c
  src/drivers/char/char_dev.c
  src/drivers/char/char_dev.h
  src/drivers/char/char_dev_dvfs/Mybuild
  src/drivers/char/char_dev_dvfs/char_dev.h
  src/drivers/char/char_dev_dvfs/char_dev_dvfs.c
  src/drivers/common/device.c
  src/drivers/common/device.h
  src/drivers/serial/uart_dev_dvfs.c
  src/drivers/spi/Mybuild
  src/drivers/spi/imx6_ecspi/Mybuild
  src/drivers/spi/imx6_ecspi/imx6_ecspi.c
  src/drivers/spi/imx6_ecspi/imx6_ecspi.h
  src/drivers/spi/spi.c
  src/drivers/spi/spi.h
  src/drivers/spi/spi_devfs.c
  src/drivers/tty/serial/idesc_serial_dvfs.c
  src/drivers/tty/serial/ttys_dvfs.c
  src/drivers/usb/usb_whitelist_dev_dvfs.c
  src/drivers/virtual/null_dvfs.c
  src/drivers/virtual/zero_dvfs.c
  src/fs/driver/devfs/devfs_dvfs.c
  src/fs/dvfs/dvfs.c
  src/fs/dvfs/dvfs.h
  src/tests/spi/imx6_spi.c
Labels: module:drivers

#1260 Fix CI x86/test/net
  scripts/continuous/net/forwarding/test_ping_forwarding.sh
  scripts/continuous/net/run.sh
  scripts/continuous/run.sh
  scripts/expect/framework/run_all.exp
  scripts/expect/framework/test_cmd.exp
  scripts/expect/framework/test_core.exp
  scripts/expect/framework/test_exec.exp
  scripts/expect/ntpdate.exp
  scripts/expect/ping.exp
  scripts/expect/rlogin.exp
  scripts/expect/telnet.exp
  scripts/expect/vfat.exp
  scripts/expect/x86_net_tests.config
Labels: in progress, module:tests

#1262 spi: Fix build for non-devfs configs
  src/drivers/spi/spi.c
  src/drivers/spi/spi.h
Labels: easy

#1264 Fix x86/test/net
  scripts/expect/framework/test_core.exp
  scripts/expect/ntpdate.exp
  scripts/expect/ssh.exp
  scripts/expect/telnet.exp
  scripts/expect/x86_net_tests.config
Labels: module:tests

#1268 compat: Fix round() routine signatures in math_builtins
  src/compat/libc/math/math_builtins.c
  src/compat/libc/math/math_builtins.h
Labels: compat

#1270 Minimal generic template
  src/arch/arm/armlib/exceptions/exception_handler.c
  templates/arm/minimal/build.conf
  templates/arm/minimal/lds.conf
  templates/arm/minimal/mods.config
  templates/x86/minimal/build.conf
  templates/x86/minimal/lds.conf
  templates/x86/minimal/mods.config
Labels: arch:arm, arch:x86, templates

#1269 Fix arm/stm32_vl_light
  src/kernel/thread/Mybuild
  src/kernel/thread/thread_none.h
  src/kernel/thread/thread_types.h
  templates/arm/stm32_vl_light/mods.config
Labels: arch:arm

#1272 compat: Fix pthread_rwlock_wrlock()
  src/compat/posix/pthread/pthread_rwlock.c
Labels: compat

#1259 Multibyte functions
  src/compat/libc/include/stdlib.h
  src/compat/libc/stdlib/Mybuild
  src/compat/libc/stdlib/mblen.c
  src/compat/libc/stdlib/mbstowcs.c
  src/compat/libc/stdlib/mbtowc.c
  src/compat/libc/stdlib/wcstombs.c
  src/compat/libc/stdlib/wctomb.c
  src/tests/stdlib/Mybuild
  src/tests/stdlib/mblen_test.c
  src/tests/stdlib/mbstowcs_test.c
  src/tests/stdlib/wcstombs_test.c
  templates/x86/qemu/mods.config
Labels: compat

#1274 Malloc tests
  src/tests/mem/Mybuild
  src/tests/mem/heap/Mybuild
  src/tests/mem/heap/afterfree.c
  src/tests/mem/heap/heap.c
  src/tests/mem/heap/heap_extended_test.c
  src/tests/mem/heap/heap_helpers.c
  src/tests/mem/heap/heap_helpers.h
  src/tests/mem/heap/heap_threads_test.c
Labels: module:tests
