Repository embox/embox, pull requests merged in 2018-10, with the labels that each got.

#1222 Cpp14 templates fix
  platform/mesa/templates/mesa_x86_osmesa/build.conf
  platform/nuklear/templates/x86_qemu/build.conf
  templates/arm/omap-qt/build.conf
  templates/arm/omap-qt/mods.config
  templates/arm/ti816x-qt/build.conf
  templates/arm/ti816x-qt/mods.config
  templates/x86/qt-app/build.conf
  templates/x86/qt-vnc/build.conf
Labels: templates

#1225 arm/stm32f4clang fix
  src/arch/arm/armmlib/exception_handlers.c
  src/arch/arm/armmlib/exception_table.S
  src/drivers/interrupt/cortexm_irq_handle.S
Labels: arch:arm

#1226 Fix arm/bpi template
  src/arch/arm/armlib/exceptions/exception_table.S
  templates/arm/bpi/mods.config
Labels: templates

#1228 Fix x86/bifferboard template
  src/drivers/net/r6040/r6040.c
Labels: templates

#1227 Fix arm/raspi template
  src/mem/vmem/Mybuild
  templates/arm/raspi/mods.config
Labels: templates

#1229 Fs improve
  src/cmds/Service.my
  src/cmds/fs/Cp.my
  src/cmds/fs/mkfs.c
  src/cmds/net/telnetd/Telnetd.my
  src/compat/posix/fs/chown/chown_dvfs.c
  src/compat/posix/fs/dvfs/chdir.c
  src/compat/posix/fs/dvfs/dirent.c
  src/compat/posix/fs/dvfs/fsop.c
  src/compat/posix/fs/dvfs/open.c
  src/compat/posix/fs/dvfs/xattr.c
  src/drivers/block_dev/block_dev_dvfs.c
  src/fs/dvfs/Mybuild
  src/fs/dvfs/compat.c
  src/fs/dvfs/dvfs.c
  src/fs/dvfs/dvfs.h
  src/fs/dvfs/dvfs_dentry.c
  src/fs/dvfs/dvfs_xattr.c
  src/fs/fuse/fuse_linux.c
  src/fs/rootfs_dvfs.c
  src/tests/posix/fcntl/Mybuild
  src/tests/posix/fcntl/open_test.c
  src/tests/posix/fcntl/testfile.txt
  templates/arm/qemu/mods.config
Labels: module:fs, module:tests

#1233 gxx-8-compat
  src/compat/cxx/core/new.cpp
  src/compat/cxx/include/standalone_new
Labels: easy

#1232 qt: Fix rootfs/fonts initialization
  third-party/qt/Mybuild
Labels: easy, module:thirdparty

#1237 ramfs
  src/fs/driver/ramfs/Mybuild
  src/fs/driver/ramfs/ramfs_dvfs.c
  src/fs/dvfs/dvfs_dentry.c
Labels: module:fs
