Repository embox/embox, pull requests merged in 2019-04, with the labels that each got.

#1319 boost: Fix download link
  third-party/lib/boost/CMakeLists.txt
  third-party/lib/boost/Makefile
  third-party/lib/boost/Mybuild
  third-party/lib/boost/boost_embox_compat.h
  third-party/lib/boost/include/csignal
  third-party/lib/boost/include/sys/statvfs.h
  third-party/lib/boost/include/sys/un.h
  third-party/lib/boost/include/syslog.h
  third-party/lib/boost/patch.txt
  third-party/lib/boost/tree/.gitkeep
Labels: easy, module:thirdparty

#1321 Fix fs autotests
  scripts/continuous/fs/run.sh
  scripts/expect/framework/test_exec.exp
  scripts/expect/fs_shell_commands_test.exp
  scripts/expect/fs_unit_tests.exp
  src/cmds/net/telnetd/telnetd.c
  src/drivers/tty/tty.c
  templates/x86/test/fs/mods.config
Labels: module:tests

#1322 heap_simple: Rework
  src/cmds/testing/memtest/Mybuild
  src/cmds/testing/memtest/memtest.c
  src/mem/heap/Mybuild
  src/mem/heap/heap_simple.c
Labels: in progress, module:mem

#1325 Fix ttys_dvfs dev_open assignment
  src/drivers/tty/serial/ttys_dvfs.c
  src/drivers/tty/serial/ttys_dvfs.h
Labels: easy, module:fs

#1320 Rework 'diag' definition
  platform/lego_nxt/drivers/lcd/diag.c
  src/drivers/console/fbcon.c
  src/drivers/console/vc/vc.c
  src/drivers/console/vc/vga.c
  src/drivers/diag/diag.c
  src/drivers/diag/diag.h
  src/drivers/diag/mem_diag.c
  src/drivers/diag/no_diag.c
  src/drivers/diag/usermode.c
  src/drivers/diag/xen_diag.c
  src/drivers/serial/am85c30/am85c30.c
  src/drivers/serial/apbuart/apbuart.c
  src/drivers/serial/at91_uart.c
  src/drivers/serial/bpi_uart.c
  src/drivers/serial/diag_serial.h
  src/drivers/serial/efm32_leuart.c
  src/drivers/serial/el24d1/el24d1.c
  src/drivers/serial/i8250/8250.c
  src/drivers/serial/imx_uart/imx_uart.c
  src/drivers/serial/msp430usci.c
  src/drivers/serial/mspdebug_simio.c
  src/drivers/serial/multiclet_uart.c
  src/drivers/serial/ns16550/ns16550.c
  src/drivers/serial/pic32mx_uart.c
  src/drivers/serial/pl011/pl011.c
  src/drivers/serial/raspi_uart.c
  src/drivers/serial/stm32_usart.c
  src/drivers/serial/stm32_usart/stm_usart.c
  src/drivers/serial/stm32_usart/stm_usart_cube_diag.c
  src/drivers/serial/xuartlite.c
Labels: module:drivers

#1327 Fix stm32 diag
  src/drivers/serial/stm32_usart/stm32_usart_conf_f3.h
  src/drivers/serial/stm32_usart/stm32_usart_conf_f4.h
  src/drivers/serial/stm32_usart/stm32_usart_conf_f7.h
  src/drivers/serial/stm32_usart/stm_usart_cube_diag.c
  templates/arm/stm32f3cube/mods.config
  templates/arm/stm32f7cube/build.conf
Labels: module:drivers, module:platform

#1328 Fix some e2k issues
  src/arch/e2k/context.c
  src/arch/e2k/context.h
  src/arch/e2k/context_switch.S
  templates/e2k/monocube/mods.config
Labels: arch:e2k

#1329 Rework flash subsystem
  platform/stm32f3_sensors/cmds/Mybuild
  platform/stm32f4_iocontrol/cmds/flash_settings.c
  src/cmds/fs/Mkflashemu.my
  src/cmds/fs/cat.c
  src/cmds/fs/jffs2.c
  src/cmds/fs/mkflashemu.c
  src/drivers/block_dev/Mybuild
  src/drivers/block_dev/block_dev.h
  src/drivers/block_dev/block_dev_dvfs.c
  src/drivers/block_dev/block_dev_idesc_dvfs.c
  src/drivers/flash/Mybuild
  src/drivers/flash/emulator/Mybuild
  src/drivers/flash/emulator/emulator.c
  src/drivers/flash/emulator/emulator.h
  src/drivers/flash/flash.c
  src/drivers/flash/flash.h
  src/drivers/flash/flash_dev.h
  src/drivers/flash/flash_fs.c
  src/drivers/flash/flash_nofs.c
  src/drivers/flash/stm32cube/Mybuild
  src/drivers/flash/stm32cube/stm32_flash_cube.c
  src/drivers/flash/stm32f3/Mybuild
  src/drivers/flash/stm32f3/stm32f3_flash.c
  src/drivers/flash/stm32f4/Mybuild
  src/drivers/flash/stm32f4/stm32f4_flash.c
  src/fs/driver/devfs/devfs.c
  src/fs/driver/devfs/devfs_dvfs.c
  src/fs/driver/dfs/Mybuild
  src/fs/driver/dfs/dfs.c
  src/fs/driver/dfs/dfs.h
  src/fs/driver/jffs2/flashio.c
  src/fs/driver/jffs2/jffs2.c
  templates/arm/stm32_dvfs/mods.config
  templates/arm/stm32_f4/mods.config
Labels: module:drivers

#1331 Fix builds for some ARM platforms
  platform/mesa/templates/mesa_imx6/build.conf
  platform/mesa/templates/mesa_imx6/mods.config
  platform/pjsip/templates/arm-qemu/build.conf
  src/drivers/char/char_dev_stub.c
  src/drivers/char/char_dev_stub.h
  src/drivers/tty/serial/Mybuild
  src/drivers/usb/usb_whitelist_dev.c
  src/fs/driver/devfs/devfs.c
  src/fs/dvfs/dvfs.c
  src/mem/mmap/mmap_nommu.h
  third-party/bsp/stmf7cube/Mybuild
Labels: easy, templates

#1332 Fix some builds
  src/cmds/net/telnetd/telnetd.c
  src/drivers/audio/aaci_pl041/aaci_pl041.c
  src/drivers/char/char_dev.h
  src/drivers/usb/usb_whitelist_dev.c
  src/drivers/video/fb_devfs/fb_devfs_old.c
  third-party/freedesktop/mesa/mesa/mesa_sw/Mybuild
Labels: easy

#1333 FB back buffer
  platform/etnaviv/cmds/quad_tex_animated/quad_tex_animated.c
  src/drivers/gpu/ipu_v3/ipu_param_mem.h
  src/drivers/gpu/ipu_v3/ipuv3_fb.c
  src/drivers/video/fb.h
  src/lib/fps/fps.c
  src/lib/fps/fps.h
Labels: graphics, module:drivers

#1334 cmds: env: Add ability to run program in modified environment
  src/cmds/sys/Env.my
  src/cmds/sys/env.c
Labels: module:shell

#1339 compat: Add __BEGIN_DECLS __END_DECLS to time.h & timer.h
  src/include/kernel/time/time.h
  src/include/kernel/time/timer.h
Labels: compat, easy

#1341 Clean arch/qemu templates
  src/compat/libc/math/Mybuild
  templates/arm/qemu/mods.config
  templates/mips/qemu/mods.config
  templates/mips64/qemu/mods.config
  templates/ppc/qemu/mods.config
  templates/x86/qemu/mods.config
Labels: easy, templates

#1336 E2k clean build
  src/arch/e2k/context.c
  src/arch/e2k/e2k_syscall_handler.c
  src/arch/e2k/entry.c
  src/arch/e2k/include/asm/io.h
  src/arch/e2k/include/e2k_api.h
  src/arch/e2k/include/va-e2k.h
  src/compat/libc/stdio/scanf.c
  src/drivers/clock/e2k/e2k.c
  src/drivers/interrupt/apic/ioapic.c
  src/drivers/interrupt/apic/ioapic_regs_e2k.h
  src/drivers/interrupt/apic/lapic_regs_e2k.h
  src/drivers/pci/pci_chip/pci_chip_elbrus.c
  src/drivers/serial/am85c30/am85c30.c
  src/drivers/video/fb.c
  src/drivers/video/lynxfb/ddk750_chip.h
  src/framework/test/run.c
  src/fs/driver/devfs/devfs_dvfs.c
  src/include/framework/test/assert.h
  src/include/kernel/spinlock.h
  src/mem/mmap/mmap_nommu.c
  src/mem/mmap/mmap_nommu.h
  src/tests/util/array_test.c
  src/tests/util/tree_test.c
  templates/e2k/monocube/build.conf
  templates/e2k/monocube/mods.config
Labels: easy

#1314 Utime
  src/compat/posix/Mybuild
  src/compat/posix/include/sys/stat.h
  src/compat/posix/include/utime.h
  src/compat/posix/stubs/Mybuild
  src/compat/posix/utime/Mybuild
  src/compat/posix/utime/utime.c
  src/fs/syslib/Mybuild
  src/fs/syslib/kfile_node.c
  src/fs/syslib/kfsop.c
  src/fs/syslib/nokfsop.c
  src/include/fs/kfsop.h
  src/include/fs/node.h
  src/tests/posix/Mybuild
  src/tests/posix/utime_test.c
  templates/x86/qemu/mods.config
Labels: compat, module:fs

#1338 FPS: Work on double buffering
  platform/etnaviv/cmds/quad_tex_animated/quad_tex_animated.c
  src/drivers/gpu/drm/etnaviv/Mybuild
  src/drivers/gpu/drm/etnaviv/etnaviv_dev.c
  src/drivers/power/imx/imx.c
  src/lib/fps/fps.c
  src/lib/fps/fps.h
  third-party/freedesktop/mesa/mesa/mesa_etnaviv/Mybuild
  third-party/freedesktop/mesa/mesa/mesa_sw/Mybuild
Labels: graphics

#1342 Fix builds for some STM32F3/F4 boards
  platform/stm32f3_sensors/templates/car/mods.config
  platform/stm32f4_multibots/libs/stepper_motor/stepper_motor.h
  src/drivers/common/Mybuild
  src/drivers/flash/stm32f3/stm32f3_flash.c
Labels: easy, templates

#1344 Rework mmap()
  src/cmds/testing/fb_devfs_access/Mybuild
  src/compat/posix/sys/mman/Mybuild
  src/compat/posix/sys/mman/mmap.c
  src/include/mem/vmem.h
  src/kernel/task/resource/mmap_trivial.c
  src/mem/mmap/Mybuild
  src/mem/mmap/mmap_mmu.c
  src/mem/mmap/mmap_mmu.h
  src/mem/mmap/mmap_nommu.h
  src/mem/mmap/mmap_userspace.c
  src/mem/vmem/Mybuild
  src/mem/vmem/mmap.c
  src/mem/vmem/vmem_device_memory.c
  src/mem/vmem/vmem_mapper.c
  src/tests/mem/Mybuild
  third-party/samba/Mybuild
Labels: compat

#1343 [WIP] FB/devfs
  src/compat/posix/sys/mman/mmap.c
  src/drivers/char/char_dev.c
  src/drivers/char/char_dev.h
  src/drivers/char/char_dev_dvfs/char_dev.h
  src/drivers/char/char_dev_dvfs/char_dev_dvfs.c
  src/drivers/char/char_dev_stub.c
  src/drivers/char/char_dev_stub.h
  src/drivers/common/device.c
  src/drivers/common/device.h
  src/drivers/usb/usb_whitelist_dev.c
  src/drivers/video/Mybuild
  src/drivers/video/fb.c
  src/drivers/video/fb.h
  src/drivers/video/fb_devfs/Mybuild
  src/drivers/video/fb_devfs/fb_devfs.c
  src/drivers/video/fb_devfs/fb_devfs_old.c
  src/drivers/video/fb_devfs/fb_devfs_stub.c
  src/include/mem/mmap.h
  src/include/mem/vmem.h
  src/mem/mmap/mmap_mmu.c
  src/mem/vmem/vmem_mapper.c
  src/mem/vmem/vmem_unmapper.c
Labels: in progress, module:drivers

#1347 E2k pci
  src/cmds/hardware/lspci/Mybuild
  src/cmds/hardware/lspci/lspci.c
  src/drivers/pci/pci_chip/pci_chip_elbrus.c
  src/drivers/pci/pci_devices_table.inc
  src/drivers/pci/pci_id.h
  src/drivers/pci/pci_vendors_table.inc
Labels: arch:e2k

#1348 e2k: clean: Clean some e2k specific headers
  src/arch/e2k/include/asm/io.h
  src/arch/e2k/include/e2k_api.h
  src/arch/e2k/include/e2k_mas.h
  src/arch/e2k/include/e2k_sic.h
Labels: arch:e2k, easy

#1346 Xen net driver refactoring
  scripts/xen/embox.cfg
  src/drivers/net/xen_net/Mybuild
  src/drivers/net/xen_net/netfront.c
  src/drivers/net/xen_net/netfront.h
  src/drivers/net/xen_net/xen_net.c
  src/drivers/net/xen_net/xen_net.h
  src/drivers/net/xen_net/xs_info.c
  src/drivers/net/xen_net/xs_info.h
  src/drivers/net/xen_pv_net/xen_pv_net.c
  templates/xen/debug/mods.config
Labels: module:drivers

#1345 posix: Add missing getgrXXX functions
  src/compat/posix/include/grp.h
  src/compat/posix/pwd_grp/pwd_grp.c
  third-party/samba/samba_embox_compat.h
Labels: compat

#1349 Break dependency cycle for ARM MMU
  src/arch/arm/mmu/Mybuild
  src/mem/vmem/Mybuild
  src/mem/vmem/vmem.h
Labels: easy

#1350 Fix some int types
  src/arch/arm/armlib/exceptions/abort_exception_handler.c
  src/arch/arm/armlib/exceptions/arm_undefined_exception_handler.c
  src/arch/arm/armlib/exceptions/exception_handler.c
  src/arch/arm/armmlib/exception_handlers.c
  src/arch/arm/mmu/mmu_common.c
  src/arch/arm/mmu/mmu_small_page.c
  src/arch/e2k/include/asm/types.h
  src/arch/sparc/kernel/traps.c
  src/cmds/hardware/lspci/lspci.c
  src/cmds/mem/infomem.c
  src/cmds/module/lsmod.c
  src/compat/libc/include/inttypes.h
  src/compat/libc/include/stdint.h
  src/kernel/thread/core.c
  src/net/lib/snmp/snmp.c
  src/util/dlist/dlist_debug.c
Labels: compat
