Repository embox/embox, pull requests merged in 2019-10, with the labels that each got.

#1516 templates/arm/iwave_imx6_etnaviv: Remove outdated template
  templates/arm/iwave_imx6_etnaviv/build.conf
  templates/arm/iwave_imx6_etnaviv/lds.conf
  templates/arm/iwave_imx6_etnaviv/mods.config
  templates/arm/iwave_imx6_etnaviv/readme
  templates/arm/iwave_imx6_etnaviv/start_script.inc
Labels: easy, templates

#1517 Time subsystem
  src/cmds/net/ntpdate.c
  src/cmds/sys/date.c
  src/compat/posix/include/sys/time.h
  src/compat/posix/include/time.h
  src/compat/posix/util/gettimeofday.c
  src/compat/posix/util/times.c
  src/include/hal/clock.h
  src/include/kernel/time/time.h
  src/kernel/time/jiffies.c
  src/kernel/time/timekeeping.c
  src/tests/posix/pthread/pthread_cond_timedwait_test.c
  src/tests/posix/time/Mybuild
  src/tests/posix/time/asctime_test.c
  src/tests/posix/time/mktime_test.c
  src/tests/posix/time/strftime_test.c
  src/tests/posix/time/time_test.c
  third-party/iperf/include/sys/time.h
  third-party/sqlite/include/sys/time.h
Labels: compat, easy, module:kernel

#1518 Improve Etnaviv example programms
  platform/etnaviv/cmds/Mybuild
  platform/etnaviv/cmds/quad_tex/Mybuild
  platform/etnaviv/cmds/quad_tex/quad_tex.c
  platform/etnaviv/cmds/tri.c
Labels: module:platform

#1519 little fix in mount
  src/fs/syslib/kfsop.c
  templates/x86/qemu/mods.config
Labels: easy

#1520 Fix dependences for notty
  src/drivers/serial/Mybuild
Labels: easy

#1522 stm32f4_sd: Fix initialization
  src/drivers/block_dev/stm32_sd/stm32f4_sd.c
Labels: easy, module:drivers

#1523 block_dev: Use 64-bit value for block device size
  src/cmds/hardware/ide.c
  src/drivers/block_dev/block_dev.h
  src/drivers/block_dev/block_dev_common.c
  src/fs/driver/ext2/ext2.c
  src/fs/driver/ext3/ext3.c
  src/fs/driver/iso9660/cdfs.c
  src/fs/driver/iso9660/iso9660.h
  src/fs/driver/ntfs/ntfs.c
  src/fs/driver/power_save/qnx6.h
  src/fs/driver/ramfs/ramfs.c
  templates/arm/stm32f4-discovery/mods.config
Labels: easy

#1524 socfpga clk driver
  src/drivers/clk/socfpga/Mybuild
  src/drivers/clk/socfpga/socfpga.c
  src/drivers/clk/socfpga/socfpga.h
Labels: module:drivers

#1525 clean: Rm unused fs driver
  scripts/continuous/fs/run.sh
  src/fs/driver/power_save/Mybuild
  src/fs/driver/power_save/dir.c
  src/fs/driver/power_save/inode.c
  src/fs/driver/power_save/qnx6.c
  src/fs/driver/power_save/qnx6.h
  src/fs/driver/power_save/qnx6_fs.h
Labels: easy

#1527 drivers: Fix imx6_sdhc init
  src/drivers/block_dev/sdhc/imx6_sdhc.c
Labels: module:drivers

#1526 drivers: Add mmc/core
  src/drivers/mmc/core/Mybuild
  src/drivers/mmc/core/mmc.h
  src/drivers/mmc/core/mmc_card.h
  src/drivers/mmc/core/mmc_core.h
  src/drivers/mmc/core/mmc_host.c
  src/drivers/mmc/core/mmc_host.h
Labels: module:drivers

#1528 SDHCI refactoring
  src/drivers/block_dev/sdhc/Mybuild
  src/drivers/block_dev/sdhc/sdhc.c
  src/drivers/mmc/host/sdhci/Mybuild
  src/drivers/mmc/host/sdhci/imx6_sdhci.c
  src/drivers/mmc/host/sdhci/sdhci.c
  src/drivers/mmc/host/sdhci/sdhci.h
  templates/arm/sabrelite/build.conf
  templates/arm/sabrelite/mods.config
  templates/arm/sabrelite/rootfs/network
  templates/arm/sabrelite/start_script.inc
  templates/arm/sabrelite/system_start.inc
Labels: module:drivers

#1529 DW MMC driver implementation
  src/compat/linux/include/asm-generic/dma-mapping.h
  src/drivers/mmc/host/dw_mmc/Mybuild
  src/drivers/mmc/host/dw_mmc/dw_mmc.c
  src/drivers/mmc/host/dw_mmc/dw_mmc.h
  src/drivers/mmc/host/dw_mmc/dw_mmc_socfpga.c
  src/include/hal/clock.h
  src/kernel/time/jiffies.c
  templates/arm/de0_nano_soc/mods.config
Labels: module:drivers

#1531 mk: Fix third-party downlaod for multiple mirrors
  mk/extbld/lib.mk
Labels: buildsystem

#1530 Work on cmds/block_dev_test
  src/cmds/testing/block_dev/Mybuild
  src/cmds/testing/block_dev/block_dev_test.c
  src/compat/libc/include/inttypes.h
  src/util/Mybuild
  src/util/pretty_print.c
  src/util/pretty_print.h
  templates/arm/qemu/mods.config
Labels: cmds

#1521 pl181 driver
  src/drivers/mmc/host/pl181/Mybuild
  src/drivers/mmc/host/pl181/pl181.c
  templates/arm/qemu/mods.config
Labels: in progress, module:drivers

#1533 cmds/block_dev_test: Fix memory leak
  src/cmds/testing/block_dev/block_dev_test.c
Labels: cmds, easy

#1534 FAT fs drivers
  src/fs/driver/fat/Mybuild
  src/fs/driver/fat/fat.h
  src/fs/driver/fat/fat_common.c
  src/fs/driver/fat/fat_common_mem.c
  src/fs/driver/fat/fat_dvfs.c
  src/fs/driver/fat/fat_oldfs.c
  src/fs/driver/fat/fatfs_subr.c
  templates/arm/sabrelite/mods.config
Labels: module:fs

#1535 drivers: Fix dw_mmc
  src/drivers/mmc/core/mmc_host.h
  src/drivers/mmc/host/dw_mmc/Mybuild
  src/drivers/mmc/host/dw_mmc/dw_mmc_socfpga.c
Labels: module:drivers

#1536 Block dev
  src/drivers/block_dev/Mybuild
  src/drivers/block_dev/block_dev_oldfs.c
  src/drivers/block_dev/ramdisk/Mybuild
  src/fs/driver/devfs/Mybuild
  src/fs/driver/ext2/Mybuild
  src/fs/driver/ext3/Mybuild
  src/fs/driver/ext3/ext3.c
  src/fs/driver/ext4/Mybuild
  src/fs/driver/fat/Mybuild
  src/fs/driver/iso9660/Mybuild
  src/fs/driver/jffs2/Mybuild
  src/fs/driver/tmpfs/Mybuild
  src/fs/syslib/kfile.c
  templates/microblaze/debug/mods.config
Labels: easy, module:fs

#1539 SDHCI refactor
  src/drivers/clk/ccm_imx6/ccm_imx6.c
  src/drivers/mmc/host/sdhci/Mybuild
  src/drivers/mmc/host/sdhci/imx_usdhc.c
  src/drivers/mmc/host/sdhci/sdhci.c
  src/drivers/mmc/host/sdhci/sdhci.h
  src/drivers/mmc/host/sdhci/sdhci_ops.c
  src/drivers/mmc/host/sdhci/sdhci_ops.h
  templates/arm/sk_imx6q/mods.config
Labels: module:drivers

#1532 Improve autotest subsystem
  .gitignore
  scripts/autotest/configs/default.sh
  scripts/autotest/configs/ide.sh
  scripts/autotest/configs/usb.sh
  scripts/autotest/framework/cmd.exp
  scripts/autotest/framework/core.exp
  scripts/autotest/framework/exec.exp
  scripts/autotest/run.sh
  scripts/autotest/run_scripts/run_qemu_default.sh
  scripts/autotest/run_scripts/run_qemu_ide.sh
  scripts/autotest/run_scripts/run_qemu_usb.sh
  scripts/autotest/testsuite/block_dev/block_dev_test/test.exp
  scripts/autotest/testsuite/block_dev/finish.exp
  scripts/autotest/testsuite/block_dev/setup.exp
  scripts/autotest/testsuite/fs-devfs/devfs/test.exp
  scripts/autotest/testsuite/fs-devfs/finish.exp
  scripts/autotest/testsuite/fs-devfs/setup.exp
  scripts/autotest/testsuite/fs-nfs/cd
  scripts/autotest/testsuite/fs-nfs/dd
  scripts/autotest/testsuite/fs-nfs/echo
  scripts/autotest/testsuite/fs-nfs/finish.exp
  scripts/autotest/testsuite/fs-nfs/pwd
  scripts/autotest/testsuite/fs-nfs/setup.exp
  scripts/autotest/testsuite/fs-nfs/touch
  scripts/autotest/testsuite/fs-ramfs/cd/test.exp
  scripts/autotest/testsuite/fs-ramfs/dd/test.exp
  scripts/autotest/testsuite/fs-ramfs/echo/test.exp
  scripts/autotest/testsuite/fs-ramfs/finish.exp
  scripts/autotest/testsuite/fs-ramfs/pwd/test.exp
  scripts/autotest/testsuite/fs-ramfs/setup.exp
  scripts/autotest/testsuite/fs-ramfs/touch/test.exp
  scripts/autotest/testsuite/fs-vfat/cd
  scripts/autotest/testsuite/fs-vfat/dd
  scripts/autotest/testsuite/fs-vfat/echo
  scripts/autotest/testsuite/fs-vfat/finish.exp
  scripts/autotest/testsuite/fs-vfat/long_names/test.exp
  scripts/autotest/testsuite/fs-vfat/mount/test.exp
  scripts/autotest/testsuite/fs-vfat/pwd
  scripts/autotest/testsuite/fs-vfat/setup.exp
  scripts/autotest/testsuite/fs-vfat/touch
  scripts/autotest/testsuite/net/finish.exp
  scripts/autotest/testsuite/net/ntpdate/test.exp
  scripts/autotest/testsuite/net/ping/test.exp
  scripts/autotest/testsuite/net/setup.exp
  scripts/autotest/testsuite/net/ssh/test.exp
  scripts/autotest/testsuite/net/telnet/test.exp
  scripts/autotest/testsuite/net/tftp/test.exp
Labels: module:tests

#1540 sdhci: Add missing #include
  src/drivers/mmc/host/sdhci/sdhci_ops.c
Labels: easy, module:drivers
