Repository embox/embox, pull requests merged in 2019-07, with the labels that each got.

#1419 Ld regions
  mk/arhelper.mk
  mk/confmacro.S
  mk/gen_ld_phdrs.sh
  mk/gen_ld_regions.sh
  mk/gen_ld_sections.sh
  mk/image.lds.S
  mk/image2.mk
  mk/image_lib.mk
  mk/mybuild/lang/LinkerSection.my
  mk/objcopy_helper.sh
  mk/script/build/build-gen.mk
  mk/script/build/oldconf-gen.mk
  platform/etnaviv/templates/imx6/lds.conf
  platform/mesa/templates/integratorcp/lds.conf
  platform/mesa/templates/mesa_imx6/lds.conf
  platform/nuklear/templates/arm_qemu/lds.conf
  platform/opencv/templates/arm-qemu/lds.conf
  platform/pjsip/templates/arm-qemu/lds.conf
  platform/pjsip/templates/stm32f4cube/lds.conf
  platform/pjsip/templates/stm32f4discovery/lds.conf
  platform/stm32f4_cnc/templates/debug/lds.conf
  src/arch/arm/embox.lds.S
  src/arch/microblaze/embox.lds.S
  src/arch/mips/embox.lds.S
  src/arch/ppc/embox.lds.S
  src/arch/sparc/embox.lds.S
  src/arch/x86/embox.lds.S
  src/fs/driver/initfs/initfs.lds.S
  src/fs/driver/initfs/initfs_cpio.S
  src/include/kernel/task/resource.h
  src/kernel/cpu/cpudata.lds.S
  src/kernel/cpu/cpudata_impl.h
  src/kernel/task/kernel_task.c
  src/kernel/task/task_resource.lds.S
  src/mem/vmem/vmem_alloc/vmem_page.lds.S
  templates/arm/arria_v/lds.conf
  templates/arm/bpi/lds.conf
  templates/arm/c++_demo/lds.conf
  templates/arm/el24d2/lds.conf
  templates/arm/iwave_imx6/lds.conf
  templates/arm/iwave_imx6_etnaviv/lds.conf
  templates/arm/minimal/lds.conf
  templates/arm/overo/lds.conf
  templates/arm/qemu/lds.conf
  templates/arm/qt-app/lds.conf
  templates/arm/qt-fb-small/lds.conf
  templates/arm/qt-stm32f7discovery/lds.conf
  templates/arm/raspi/lds.conf
  templates/arm/sabrelite/lds.conf
  templates/arm/sk_imx6q/lds.conf
  templates/arm/stm32_modbus/lds.conf
  templates/arm/stm32f4cube/lds.conf
  templates/arm/var_som_mx6/lds.conf
  templates/arm/vexpress-a9/lds.conf
  templates/e2k/monocube/lds.conf
  templates/usermode86/debug/lds.conf
Labels: buildsystem

#1421 boot_thread: Fix build for GCC 9 with -Os
  src/kernel/sched/boot_thread.c
Labels: easy

#1422 clean: drivers: Rm unused code from diag.c
  src/cmds/games/race/race_diag_stdio.c
  src/cmds/games/snake/snake.c
  src/drivers/diag/diag.c
  src/drivers/diag/diag.h
Labels: easy

#1424 cmds/net/tftp: Initialize some variables to fix GCC O2 warnings
  src/cmds/net/tftp.c
Labels: cmds, easy

#1425 Qt stm32 optimization
  src/drivers/video/Mybuild
  src/drivers/video/fb.lds.S
  src/drivers/video/stm32f7_lcd/Mybuild
  src/drivers/video/stm32f7_lcd/stm32f7_lcd.c
  templates/arm/qt-stm32f7discovery/build.conf
  templates/arm/qt-stm32f7discovery/lds.conf
  templates/arm/qt-stm32f7discovery/mods.config
  templates/arm/qt-stm32f7discovery/start_script.inc
Labels: module:thirdparty

#1426 Buildfix nuklear/stm32
  platform/nuklear/templates/stm32f7/mods.config
Labels: easy, templates

#1428 third_party: Add mirrors for sourceforge downloads
  third-party/bsp/stmf3cube/Makefile
  third-party/bsp/stmf4cube/Makefile
  third-party/bsp/stmf7cube/Makefile
  third-party/e2fsprogs/Makefile
  third-party/fuse/ext2fuse/Makefile
  third-party/fuse/fuse/Makefile
  third-party/iperf/Makefile
  third-party/lib/cJSON/Makefile
  third-party/lib/pcre/Makefile
  third-party/tcl/tclsh/Makefile
  third-party/tcl/tcludp/Makefile
Labels: easy, module:thirdparty

#1427 Fix drivers after vmem rework
  src/drivers/gpmc/Mybuild
  src/drivers/gpmc/omap_gpmc.c
  src/drivers/serial/ns16550/ns16550.c
  third-party/freedesktop/mesa/mesa/mesa_sw/Mybuild
Labels: easy

#1429 tests: add fgets_test
  src/tests/stdio/Mybuild
  src/tests/stdio/fgets_test.c
  src/tests/stdio/test_fgets.txt
  src/tests/stdio/test_fgets_empty.txt
  templates/x86/qemu/mods.config
Labels: module:tests

#1431 Qt stm32
  mk/gen_ld_section_symbols.sh
  mk/image.lds.S
  mk/image2.mk
  mk/script/build/oldconf-gen.mk
  templates/arm/qt-fb-small/mods.config
  templates/arm/qt-stm32f7discovery/lds.conf
  templates/arm/qt-stm32f7discovery/mods.config
  templates/arm/qt-stm32f7discovery/start_script.inc
  third-party/qt/Mybuild
  third-party/qt/examples/QtAppQSPIStarter.my
  third-party/qt/examples/qt_app_qspi_starter.c
Labels: module:thirdparty

#1432 stm32f769i port
  src/cmds/bootloader/Qspi_loader.my
  src/cmds/bootloader/qspi_loader.c
  src/cmds/testing/fb_direct_access/fb_direct_access.c
  src/drivers/flash/qspi/Mybuild
  src/drivers/flash/qspi/stm32f7_qspi.c
  src/drivers/net/stm32cube/Mybuild
  src/drivers/net/stm32cube/stm32f7cube_eth.h
  src/drivers/serial/stm32_usart/Mybuild
  src/drivers/serial/stm32_usart/stm32_usart_conf_f7.h
  src/drivers/video/stm32f7_lcd/Mybuild
  src/drivers/video/stm32f7_lcd/stm32f7_lcd.c
  templates/arm/stm32f769i/build.conf
  templates/arm/stm32f769i/lds.conf
  templates/arm/stm32f769i/mods.config
  templates/arm/stm32f769i/rootfs/network
  templates/arm/stm32f769i/start_script.inc
  third-party/bsp/stmf7cube/Mybuild
  third-party/bsp/stmf7cube/arch.c
  third-party/bsp/stmf7cube/sdram_init.c
  third-party/bsp/stmf7cube/stm32746g/Makefile
  third-party/bsp/stmf7cube/stm32746g/Mybuild
  third-party/bsp/stmf7cube/stm32746g/audio.patch
  third-party/bsp/stmf7cube/stm32746g/patch.txt
  third-party/bsp/stmf7cube/stm32746g/stm32f7xx_hal_conf.h
  third-party/bsp/stmf7cube/stm32f769i/Makefile
  third-party/bsp/stmf7cube/stm32f769i/Mybuild
  third-party/bsp/stmf7cube/stm32f769i/audio.patch
  third-party/bsp/stmf7cube/stm32f769i/patch.txt
  third-party/bsp/stmf7cube/stm32f769i/stm32f7xx_hal_conf.h
Labels: module:thirdparty, porting

#1434 stm32f769i fix
  src/cmds/net/tftp.c
  src/drivers/serial/stm32_usart/hal_msp_f7.c
  src/drivers/serial/stm32_usart/stm32_usart_conf_f7.h
Labels: easy

#1435 stm32f769i opencv
  platform/opencv/templates/stm32f769idiscovery/build.conf
  platform/opencv/templates/stm32f769idiscovery/lds.conf
  platform/opencv/templates/stm32f769idiscovery/mods.config
  platform/opencv/templates/stm32f769idiscovery/qspi_objcopy.sh
  platform/opencv/templates/stm32f769idiscovery/readme
  platform/opencv/templates/stm32f769idiscovery/rootfs/fruits.png
  platform/opencv/templates/stm32f769idiscovery/start_script.inc
  src/drivers/video/stm32f7_lcd/stm32f7_lcd.c
Labels: templates

#1436 cortexa9_timer: Fix after jiffies rework
  src/drivers/clock/cortexa9_timer/cortexa9_timer.c
Labels: module:drivers

#1438 cmds/record: Fix build for GCC 9 with -O2
  src/cmds/record/record.c
Labels: easy

#1439 stm32f7 sd
  src/drivers/block_dev/stm32_sd/Mybuild
  src/drivers/block_dev/stm32_sd/stm32f7_discovery_sdio_sd.h
  src/drivers/block_dev/stm32_sd/stm32f7_sd.c
  templates/arm/stm32f769i/mods.config
Labels: module:drivers

#1441 templates: Fix arm/qt-stm32f7discovery
  templates/arm/qt-stm32f7discovery/mods.config
Labels: easy, templates

#1443 opencv/edges: Pass file as an argument
  platform/opencv/cmds/edges.cpp
  platform/opencv/templates/stm32f769idiscovery/mods.config
  src/cmds/fs/dd/Dd.my
  src/cmds/fs/dd/dd.c
  src/compat/posix/fs/dvfs/dirent.c
  src/compat/posix/fs/dvfs/open.c
  src/drivers/block_dev/stm32_sd/stm32f7_sd.c
  src/fs/driver/fat/fat_dvfs.c
  src/fs/dvfs/dvfs_dentry.c
  src/fs/dvfs/dvfs_util.c
  third-party/gcc/Mybuild
Labels: module:fs

#1323 Bmp lib
  src/fs/file_format.c
  src/fs/file_format.h
  src/lib/bmp/Mybuild
  src/lib/bmp/bmp.c
  src/lib/bmp/bmp.h
Labels: graphics, module:lib

#1447 stm32_modbus update
  platform/stm32f4_cnc/cmds/Mybuild
  platform/stm32f4_iocontrol/cmds/Flash_settings.my
  platform/stm32f4_iocontrol/cmds/Mybuild
  platform/stm32f4_iocontrol/cmds/libleddrv_ll.c
  templates/arm/stm32_modbus/mods.config
  third-party/bsp/stmf4cube/stm32f4xx_hal_conf.h
Labels: module:thirdparty, templates

#1448 pl031: Initial implementation
  src/drivers/clock/pl031/Mybuild
  src/drivers/clock/pl031/pl031.c
Labels: module:drivers

#1449 aarch64 basic support
  src/arch/aarch64/embox.lds.S
  src/arch/aarch64/include/asm/hal/arch.h
  src/arch/aarch64/include/asm/hal/context.h
  src/arch/aarch64/include/asm/hal/mmu.h
  src/arch/aarch64/include/asm/hal/reg.h
  src/arch/aarch64/include/asm/limits.h
  src/arch/aarch64/include/asm/ptrace.h
  src/arch/aarch64/include/asm/setjmp.h
  src/arch/aarch64/include/asm/types.h
  src/arch/aarch64/kernel/Mybuild
  src/arch/aarch64/kernel/arch.c
  src/arch/aarch64/kernel/context/Mybuild
  src/arch/aarch64/kernel/context/context.c
  src/arch/aarch64/kernel/context/context.h
  src/arch/aarch64/kernel/context/context_switch.S
  src/arch/aarch64/kernel/exception_table.S
  src/arch/aarch64/kernel/ipl_impl.h
  src/arch/aarch64/kernel/mem_barriers.h
  src/cmds/shell/tish.c
  src/compat/posix/proc/exit/exit.c
  src/drivers/interrupt/cortex_a9_gic/cortex_a9_gic.c
  src/framework/test/run.c
  src/fs/driver/devfs/devfs_dvfs.c
  src/fs/driver/initfs/initfs_dvfs.c
  src/include/hal/reg.h
  templates/aarch64/qemu/build.conf
  templates/aarch64/qemu/lds.conf
  templates/aarch64/qemu/mods.config
  templates/aarch64/qemu/start_script.inc
Labels: arch:aarch64

#1450 i.MX8 UART
  src/drivers/serial/imx_uart/Mybuild
  src/drivers/serial/imx_uart/imx_uart.c
Labels: module:drivers

#1451 aarch64 interrupts
  src/arch/aarch64/include/asm/hal/reg.h
  src/arch/aarch64/include/asm/modes.h
  src/arch/aarch64/kernel/context/context_switch.S
  src/arch/aarch64/kernel/exception_table.S
  src/arch/aarch64/kernel/ipl_impl.h
  src/drivers/clock/pl031/Mybuild
  src/drivers/clock/pl031/pl031.c
Labels: arch:aarch64

#1453 Aarch64: Implement context_switch() and setjmp()
  src/arch/aarch64/include/asm/setjmp.h
  src/arch/aarch64/kernel/arch.c
  src/arch/aarch64/kernel/context/context.c
  src/arch/aarch64/kernel/context/context.h
  src/arch/aarch64/kernel/context/context_switch.S
  src/arch/aarch64/lib/Mybuild
  src/arch/aarch64/lib/setjmp.S
  src/drivers/clock/pl031/pl031.c
  src/drivers/serial/imx_uart/imx_uart.c
  src/include/framework/test/assert.h
  src/mem/heap/heap_bm.c
  src/tests/kernel/thread/thread_priority_test.c
  templates/aarch64/qemu/mods.config
  templates/aarch64/qemu/start_script.inc
Labels: arch:aarch64, module:drivers

#1456 scripts: Enable aarch64 in ./scripts/qemu/auto_qemu
  scripts/qemu/auto_qemu
Labels: arch:aarch64, easy, scripts

#1457 Extending aarch64 support
  src/arch/aarch64/include/asm/hal/reg.h
  src/arch/aarch64/kernel/exception_table.S
  src/compat/posix/proc/vfork_exchanged/exec_exchanged.c
  src/drivers/clock/gpt/Mybuild
  src/drivers/clock/gpt/gpt.c
  src/drivers/interrupt/gicv3/Mybuild
  src/drivers/interrupt/gicv3/gicv3.c
  src/drivers/interrupt/gicv3/gicv3.h
  src/drivers/serial/imx_uart/imx_uart.c
  src/include/hal/reg.h
  templates/aarch64/qemu/mods.config
Labels: arch:aarch64, module:drivers, templates

#1459 Fix stellaris/lm3s811evb
  platform/stellaris/templates/lm3s811evb/mods.config
  src/kernel/thread/signal_stub.c
Labels: easy, templates

#1460 drivers: Rework PERIPH_MEMORY_DEFINE macro
  src/arch/arm/imx/cpuinfo.c
  src/arch/arm/imx/iomuxc/iomuxc.c
  src/drivers/ahci/ti8168.c
  src/drivers/block_dev/sdhc/imx6_sdhc.c
  src/drivers/block_dev/sdhc/sdhc.c
  src/drivers/cache/pl310/pl310.c
  src/drivers/clk/ccm_imx6/ccm_imx6.c
  src/drivers/clock/cortexa9_timer/cortexa9_timer.c
  src/drivers/clock/dm816x/dm816x_timer.c
  src/drivers/clock/gpt/gpt.c
  src/drivers/clock/integrator_pit/integrator_pit.c
  src/drivers/clock/mb_timer/mb_timer.c
  src/drivers/clock/omap3_clk/omap3_clk.c
  src/drivers/clock/raspi_systick.c
  src/drivers/common/memory.h
  src/drivers/common/memory_impl_stub.h
  src/drivers/gpio/dwapb/dwapb_gpio.c
  src/drivers/gpio/imx/imx.c
  src/drivers/gpmc/omap_gpmc.c
  src/drivers/gpu/drm/dw_hdmi/dw_hdmi.c
  src/drivers/gpu/drm/etnaviv/etnaviv_dev.c
  src/drivers/gpu/ipu_v3/ipuv3.c
  src/drivers/gpu/ldb/ldb.c
  src/drivers/i2c/adapters/imx_i2c/imx_i2c1.c
  src/drivers/i2c/adapters/imx_i2c/imx_i2c2.c
  src/drivers/i2c/adapters/imx_i2c/imx_i2c3.c
  src/drivers/interrupt/cortex_a9_gic/cortex_a9_gic.c
  src/drivers/interrupt/gicv3/gicv3.c
  src/drivers/interrupt/integrator_pic/integrator_pic.c
  src/drivers/interrupt/mb_intc/mb_intc.c
  src/drivers/interrupt/omap3_intc/omap3_intc.c
  src/drivers/net/arasan/arasan.c
  src/drivers/net/dwc_gmac/dwc_gmac.c
  src/drivers/net/emac/emac.c
  src/drivers/net/emac/emac_mdio.c
  src/drivers/net/fec/fec.c
  src/drivers/net/lan9118/lan9118.c
  src/drivers/net/lan91c111/lan91c111.c
  src/drivers/pci/pci_chip/ti81xx.c
  src/drivers/power/imx/imx.c
  src/drivers/serial/apbuart/apbuart.c
  src/drivers/serial/el24d1/el24d1.c
  src/drivers/serial/imx_uart/imx_uart.c
  src/drivers/serial/ns16550/ns16550.c
  src/drivers/serial/pl011/pl011.c
  src/drivers/serial/xuartlite/xuartlite.c
  src/drivers/spi/imx6_ecspi/imx6_ecspi.c
  src/drivers/usb/hc/ti81xx.c
  src/drivers/video/pl110/pl110.c
Labels: module:drivers

#1461 stm32 templates
  .travis.yml
  src/cmds/testing/fb_direct_access/fb_direct_access.c
  src/drivers/video/stm32f7_lcd/Mybuild
  src/drivers/video/stm32f7_lcd/stm32f7_lcd.c
  templates/arm/stm32f3-discovery/build.conf
  templates/arm/stm32f3-discovery/lds.conf
  templates/arm/stm32f3-discovery/mods.config
  templates/arm/stm32f3-discovery/start_script.inc
  templates/arm/stm32f4-discovery-clang/build.conf
  templates/arm/stm32f4-discovery-clang/lds.conf
  templates/arm/stm32f4-discovery-clang/mods.config
  templates/arm/stm32f4-discovery-clang/start_script.inc
  templates/arm/stm32f4-discovery/build.conf
  templates/arm/stm32f4-discovery/lds.conf
  templates/arm/stm32f4-discovery/mods.config
  templates/arm/stm32f4-discovery/start_script.inc
  templates/arm/stm32f764g-discovery/build.conf
  templates/arm/stm32f764g-discovery/lds.conf
  templates/arm/stm32f764g-discovery/mods.config
  templates/arm/stm32f764g-discovery/rootfs/network
  templates/arm/stm32f764g-discovery/system_start.inc
  templates/arm/stm32f769i-discovery/build.conf
  templates/arm/stm32f769i-discovery/lds.conf
  templates/arm/stm32f769i-discovery/mods.config
  templates/arm/stm32f769i-discovery/rootfs/network
  templates/arm/stm32f769i-discovery/start_script.inc
  templates/arm/stm32f7cube/start_script.inc
Labels: templates

#1462 compat: Fix some macros in inttypes.h for aarch64
  src/compat/libc/include/inttypes.h
Labels: arch:aarch64, compat
