Repository embox/embox, pull requests merged in 2019-02, with the labels that each got.

#1279 Fix mipsnet network driver
  src/drivers/net/mipsnet/mipsnet.c
Labels: module:drivers

#1280 Very simple port to mips 64
  scripts/qemu/auto_qemu
  src/arch/mips64
  templates/mips64/qemu/build.conf
  templates/mips64/qemu/lds.conf
  templates/mips64/qemu/mods.config
  templates/mips64/qemu/rootfs/network
  templates/mips64/qemu/start_script.inc
  templates/mips64/qemu/system_start.inc
Labels: arch:mips, easy, porting

#1255 i.MX6 i2c support
  src/arch/arm/imx/iomuxc/Mybuild
  src/arch/arm/imx/iomuxc/iomuxc.c
  src/arch/arm/imx/iomuxc/iomuxc.h
  src/cmds/hardware/i2c_tools/i2cdetect/Mybuild
  src/cmds/hardware/i2c_tools/i2cdetect/i2cdetect.c
  src/cmds/hardware/i2c_tools/i2cdump/Mybuild
  src/cmds/hardware/i2c_tools/i2cdump/i2cdump.c
  src/cmds/hardware/i2c_tools/i2cget/Mybuild
  src/cmds/hardware/i2c_tools/i2cget/i2cget.c
  src/cmds/hardware/i2c_tools/i2cset/Mybuild
  src/cmds/hardware/i2c_tools/i2cset/i2cset.c
  src/drivers/clk/ccm_imx6/ccm_imx6.c
  src/drivers/gpu/ldb/Mybuild
  src/drivers/gpu/ldb/ldb.c
  src/drivers/i2c/Mybuild
  src/drivers/i2c/adapters/imx_i2c/Mybuild
  src/drivers/i2c/adapters/imx_i2c/imx_i2c.c
  src/drivers/i2c/adapters/imx_i2c/imx_i2c.h
  src/drivers/i2c/adapters/imx_i2c/imx_i2c1.c
  src/drivers/i2c/adapters/imx_i2c/imx_i2c2.c
  src/drivers/i2c/adapters/imx_i2c/imx_i2c3.c
  src/drivers/i2c/i2c.c
  src/drivers/i2c/i2c.h
  src/drivers/serial/imx_uart/Mybuild
  src/drivers/serial/imx_uart/imx_uart.c
  templates/arm/iwave_imx6/mods.config
  templates/arm/iwave_imx6/start_script.inc
Labels: module:drivers

#1281 General changes from xen18 branch
  mk/image.lds.S
  src/cmds/msleep/msleep.c
  src/cmds/sys/Date.my
  src/cmds/sys/date.c
  src/compat/libc/stdio/Mybuild
  src/kernel/time/timer.c
Labels: arch:xen

#1284 Improve GPIO
  platform/stm32vl/tests/blinking_led/blinking_led.c
  src/cmds/games/race/race_lcd_gpio.c
  src/cmds/hardware/pin/Mybuild
  src/cmds/hardware/pin/pin.c
  src/drivers/gpio/Mybuild
  src/drivers/gpio/dwapb/Mybuild
  src/drivers/gpio/dwapb/dwapb_gpio.c
  src/drivers/gpio/dwapb/dwapb_gpio.h
  src/drivers/gpio/gpio.c
  src/drivers/gpio/gpio.h
  src/drivers/gpio/gpio_driver.h
  src/drivers/gpio/imx/Mybuild
  src/drivers/gpio/imx/imx.c
  src/drivers/gpio/imx/imx.h
  src/drivers/gpio/omap3/Mybuild
  src/drivers/gpio/omap3/omap3_gpio.c
  src/drivers/gpio/omap3/omap3_gpio.h
  src/drivers/gpio/omap3_gpio.c
  src/drivers/gpio/pins_old/Mybuild
  src/drivers/gpio/pins_old/at91_pins.c
  src/drivers/gpio/pins_old/pins.c
  src/drivers/gpio/rdc/Mybuild
  src/drivers/gpio/rdc/rdc_gpio.c
  src/drivers/gpio/rdc_gpio.h
  src/drivers/gpio/stm32/Mybuild
  src/drivers/gpio/stm32/stm32_gpio_conf_f3.h
  src/drivers/gpio/stm32/stm32_gpio_conf_f4.h
  src/drivers/gpio/stm32/stm32_gpio_cube.c
  src/drivers/gpio/stm32_old/Mybuild
  src/drivers/gpio/stm32_old/stm32_gpio.c
  src/drivers/gpio/stm32_old/stm32_gpio.h
  src/drivers/gpu/ipu_v3/brightness_readme
  src/drivers/gpu/ipu_v3/ipuv3.c
  src/drivers/lcd/Mybuild
  src/drivers/lcd/hd44780.c
  src/drivers/net/arasan/arasan.c
  src/drivers/net/lan9118/lan9118.c
  src/drivers/serial/stm32_usart.c
  src/drivers/spi/imx6_ecspi/imx6_ecspi.c
  templates/arm/overo/mods.config
Labels: module:drivers

#1288 stm32 I2C driver
  platform/stm32f4_multibots/cmds/gy_30/Mybuild
  platform/stm32f4_multibots/cmds/i2c/Mybuild
  platform/stm32f4_multibots/cmds/robot/Mybuild
  platform/stm32f4_multibots/cmds/robot/main.c
  platform/stm32f4_multibots/libs/gy_30/Mybuild
  platform/stm32f4_multibots/libs/gy_30/gy_30.c
  platform/stm32f4_multibots/templates/nrf24/mods.config
  src/cmds/sensors/gy_30/Mybuild
  src/cmds/sensors/gy_30/gy_30.c
  src/compat/libc/stdio/scanf.c
  src/drivers/gpio/gpio.h
  src/drivers/gpio/stm32/stm32_gpio_cube.c
  src/drivers/i2c/adapters/stm32/Mybuild
  src/drivers/i2c/adapters/stm32/i2c_conf_f4.h
  src/drivers/i2c/adapters/stm32/stm32_i2c.c
  src/drivers/i2c/adapters/stm32/stm32_i2c.h
  src/drivers/i2c/adapters/stm32/stm32_i2c1.c
  src/drivers/i2c/adapters/stm32/stm32_i2c2.c
  src/drivers/i2c/stm32f4/Mybuild
  src/drivers/i2c/stm32f4/i2c_hal_msp.c
  src/drivers/sensors/gy_30/Mybuild
  src/drivers/sensors/gy_30/gy_30.c
  src/drivers/sensors/gy_30/gy_30.h
  templates/arm/stm32f4cube/mods.config
Labels: module:drivers

#1289 Fixes due to new qemu 3.1.0
  scripts/continuous/net/forwarding/test_ping_forwarding.sh
  scripts/continuous/net/run.sh
  scripts/qemu/auto_qemu
  src/net/socket/sock_hash.c
Labels: module:net

#1287 Telnet client exit
  scripts/expect/telnet.exp
  src/cmds/net/telnetd/Telnetd.my
  src/cmds/net/telnetd/telnetd.c
  src/compat/posix/proc/exec.c
  templates/x86/qemu/mods.config
  templates/x86/test/net/mods.config
Labels: module:shell

#1285 travis: Get correct build status after travis_wait
  .travis.yml
  scripts/continuous/build.sh
Labels: bug

#1286 Sys/param.h
  src/compat/linux/include/sys/param.h
  third-party/dash/include/sys/param.h
  third-party/fuse/fuse_linux/include/sys/param.h
  third-party/games/quake3/include/sys/param.h
  third-party/lib/libmodbus/include/sys/param.h
  third-party/lib/sdl2/include/sys/param.h
  third-party/tcl/tclsh/include/sys/param.h
Labels: compat, easy

#1293 Fix x86/qt-app template
  .travis.yml
  src/drivers/console/fbcon.c
Labels: easy

#1294 compat: Enable sys/poll.h
  src/compat/posix/include/poll.h
  src/compat/posix/include/sys/poll.h
  third-party/fuse/fuse_linux/include/sys/poll.h
  third-party/lua/lib/luasocket/include/sys/poll.h
  third-party/qpid/include/sys/poll.h
Labels: compat, easy

#1295 stm32f4-discovery telnet fix
  src/cmds/Service.my
  src/cmds/service.c
  src/compat/posix/include/signal.h
  src/drivers/i2c/adapters/stm32/Mybuild
  src/kernel/task/resource/Mybuild
  templates/arm/stm32f4cube/mods.config
Labels: module:net
