Repository embox/embox, pull requests merged in 2019-03, with the labels that each got.

#1298 Fix some extbld compiler warnings
  src/compat/libc/include/ctype.h
  src/compat/libc/include/stdlib.h
  src/compat/linux/include/linux/compiler.h
  src/compat/posix/fs/xattr.c
  src/compat/posix/include/sys/xattr.h
  src/include/fs/xattr.h
  src/include/kernel/spinlock.h
  third-party/qt/Makefile
Labels: module:thirdparty

#1299 ARM GCC 8.3.0 build fixes
  platform/nuklear/templates/stm32f7/build.conf
  platform/pjsip/templates/stm32f4cube/build.conf
  platform/pjsip/templates/stm32f4discovery/build.conf
  platform/pjsip/templates/stm32f7cube/build.conf
  platform/stm32f3_agents/templates/feather/build.conf
  platform/stm32f3_sensors/templates/car/build.conf
  platform/stm32f4_cnc/templates/debug/build.conf
  platform/stm32f4_cnc/templates/windows/build.conf
  platform/stm32f4_multibots/templates/nrf24/build.conf
  src/arch/arm/armlib/boot/Mybuild
  src/arch/arm/armlib/exceptions/Mybuild
  src/drivers/gpio/pins_old/omap3_gpio.h
  src/drivers/tty/serial/ttys_oldfs.c
  src/fs/syslib/Mybuild
  src/fs/syslib/nokfile.c
  src/net/lib/dns/dns.c
  templates/arm/am3505/build.conf
  templates/arm/arria_v/build.conf
  templates/arm/el24d2/build.conf
  templates/arm/iwave_imx6/build.conf
  templates/arm/iwave_imx6_etnaviv/build.conf
  templates/arm/minimal/build.conf
  templates/arm/qemu/build.conf
  templates/arm/qt-app/build.conf
  templates/arm/raspi/build.conf
  templates/arm/sabrelite/build.conf
  templates/arm/sk_imx6q/build.conf
  templates/arm/stm32_dvfs/build.conf
  templates/arm/stm32_dvfs/mods.config
  templates/arm/stm32_f4/build.conf
  templates/arm/stm32_modbus/build.conf
  templates/arm/stm32_vl/build.conf
  templates/arm/stm32_vl_light/build.conf
  templates/arm/stm32f3cube/build.conf
  templates/arm/stm32f4cube/build.conf
  templates/arm/stm32f4cube_clang/build.conf
  templates/arm/stm32f7cube/build.conf
  templates/arm/var_som_mx6/build.conf
  templates/arm/vexpress-a9/build.conf
Labels: arch:arm, templates

#1301 Fix build for fb_devfs_old
  src/drivers/video/fb_devfs/fb_devfs_old.c
Labels: easy, module:drivers

#1303 Add simple library to print FPS on screen
  platform/mesa/cmds/osdemo_fb/Mybuild
  platform/mesa/cmds/osdemo_fb/osdemo_fb.c
  src/drivers/video/fb_overlay.c
  src/drivers/video/fb_overlay.h
  src/lib/fps/Mybuild
  src/lib/fps/fps.c
  src/lib/fps/fps.h
Labels: module:lib

#1302 Interrupt controller for e2k
  src/arch/e2k/Mybuild
  src/arch/e2k/e2k_interrupt.c
  src/arch/e2k/embox.lds.S
  src/arch/e2k/entry.c
  src/arch/e2k/include/asm/io.h
  src/arch/e2k/include/asm/ptrace.h
  src/arch/e2k/ipl_impl.h
  src/arch/e2k/kernel_entry.S
  src/drivers/clock/e2k/Mybuild
  src/drivers/clock/e2k/e2k.c
  src/drivers/interrupt/apic/lapic_regs_e2k.h
  templates/e2k/monocube/mods.config
  templates/e2k/monocube/start_script.inc
Labels: arch:e2k

#1275 Fnmatch function
  src/compat/posix/Mybuild
  src/compat/posix/fnmatch/Mybuild
  src/compat/posix/fnmatch/fnmatch.c
  src/compat/posix/include/fnmatch.h
  src/tests/posix/Mybuild
  src/tests/posix/fnmatch_test.c
  templates/x86/qemu/mods.config
  third-party/dash/include/fnmatch.h
Labels: compat

#1305 Fix FEC driver
  src/cmds/net/Netmanager.my
  src/cmds/net/telnetd/Telnetd.my
  src/drivers/net/fec/fec.c
  src/drivers/net/phy/phy.c
Labels: module:drivers

#1306 e2k setjmp
  src/arch/e2k/include/asm/setjmp.h
  src/arch/e2k/include/e2k_api.h
  src/arch/e2k/ipl_impl.h
  src/arch/e2k/libarch/e2k_setjmp.S
  templates/e2k/monocube/mods.config
Labels: arch:e2k

#1308 Ci devfs tests
  scripts/expect/devfs_shell_commands_test.exp
  scripts/expect/fs_shell_commands_test.exp
  scripts/expect/x86_fs_shell_commands.config
  src/cmds/fs/cp/Cp.my
  src/cmds/fs/cp/cp.c
  src/cmds/fs/dd/Dd.my
  src/cmds/fs/dd/dd.c
  src/cmds/fs/md5sum/Md5sum.my
  src/cmds/fs/md5sum/md5sum.c
  templates/x86/qemu/mods.config
  templates/x86/test/fs/mods.config
Labels: module:fs, module:shell

#1307 Cursor improve
  third-party/qt/tree/src/plugins/platforms/emboxvc/cursor.qrc
  third-party/qt/tree/src/plugins/platforms/emboxvc/def_cur.png
  third-party/qt/tree/src/plugins/platforms/emboxvc/emboxvc.pro
  third-party/qt/tree/src/plugins/platforms/emboxvc/emboxvccursor.cpp
  third-party/qt/tree/src/plugins/platforms/emboxvc/emboxvccursor.h
Labels: module:thirdparty

#1310 e2k context switch
  src/arch/e2k/Mybuild
  src/arch/e2k/context.c
  src/arch/e2k/context.h
  src/arch/e2k/context_switch.S
  src/arch/e2k/entry.c
  src/arch/e2k/include/asm/linkage.h
  src/arch/e2k/include/e2k_api.h
  src/arch/e2k/ipl_impl.c
  src/arch/e2k/ipl_impl.h
  src/arch/e2k/libarch/e2k_setjmp.S
  src/arch/e2k/libarch/e2k_syscall.S
  src/include/hal/context.h
  src/kernel/thread/core.c
  src/tests/hal/context/Mybuild
  src/tests/hal/context/context_switch_test.c
  templates/e2k/monocube/mods.config
Labels: arch:e2k

#1311 Fix some MMU issues
  scripts/continuous/fs/run.sh
  scripts/expect/fs_shell_commands_test.exp
  scripts/expect/fs_unit_tests.exp
  src/arch/arm/mmu/mmu_common.c
  src/cmds/testing/memtest/Mybuild
  src/cmds/testing/memtest/memtest.c
  src/include/mem/vmem.h
  src/kernel/task/resource/Mybuild
  src/kernel/task/resource/mmap_trivial.c
  src/lib/exec/Mybuild
  src/mem/vmem/vmem_mapper.c
  src/tests/mem/Mybuild
  templates/arm/var_som_mx6/mods.config
Labels: arch:arm, module:kernel

#1312 autotest: expect: Disable fs tests temporarily
  scripts/continuous/fs/run.sh
Labels: module:tests

#1309 compat: Add module for using libsupc++ from the host toolchain
  platform/efm32zg_sk3200/templates/debug/mods.config
  platform/stm32f4_cnc/templates/debug/mods.config
  platform/stm32f4_cnc/templates/windows/mods.config
  src/arch/msp430/lib/Mybuild
  src/compat/libc/stdio/Mybuild
  src/lib/libgcc/Mybuild
  src/lib/libsupcxx/Mybuild
  templates/arm/bpi/mods.config
  templates/arm/nxt_bt_pnet/mods.config
  templates/arm/omap-qt/mods.config
  templates/arm/overo/mods.config
  templates/arm/raspi/mods.config
  templates/arm/stm32_vl/mods.config
  templates/arm/stm32_vl_light/mods.config
  templates/arm/ti816x-qt/mods.config
  templates/msp430/exp430g2/mods.config
  templates/msp430/mspdebug/mods.config
  templates/sparc/greth/mods.config
  third-party/gcc/Mybuild
  third-party/iperf/Mybuild
  third-party/lib/libgcc/Mybuild
  third-party/lib/libgcc/empty.c
  third-party/lib/libgcc_toolchain/Mybuild
  third-party/lib/libsupcxx_toolchain/Mybuild
  third-party/lua/lua/Mybuild
  third-party/qt/Mybuild
Labels: compat

#1313 Gallium animation example
  platform/etnaviv/cmds/quad_tex_animated/Mybuild
  platform/etnaviv/cmds/quad_tex_animated/embox_logo256x256.tex
  platform/etnaviv/cmds/quad_tex_animated/quad_tex_animated.c
  platform/etnaviv/templates/imx6/build.conf
  platform/etnaviv/templates/imx6/mods.config
  platform/mesa/cmds/gles/Mybuild
  platform/mesa/cmds/gles/gles_example.c
  platform/mesa/cmds/osdemo_fb/osdemo_fb.c
  src/drivers/gpu/drm/etnaviv/etnaviv_dev.c
  src/drivers/gpu/drm/etnaviv/etnaviv_gem_submit.c
  src/drivers/gpu/drm/etnaviv/etnaviv_iommu.c
  src/lib/fps/fps.c
  src/lib/fps/fps.h
  third-party/freedesktop/mesa/mesa/mesa_etnaviv/Makefile
Labels: module:drivers, module:platform

#1316 Fix etna-related examples
  platform/etnaviv/cmds/Mybuild
  platform/etnaviv/cmds/quad_tex_animated/Mybuild
  platform/mesa/cmds/osdemo_fb/Mybuild
  src/arch/arm/armlib/exceptions/Mybuild
  src/arch/arm/armlib/exceptions/arm_undefined_exception_handler.c
  third-party/freedesktop/mesa/mesa/mesa_etnaviv/Mybuild
Labels: module:platform
