Repository embox/embox, pull requests merged in 2019-05, with the labels that each got.

#1353 compat: Improve inttypes.h
  src/compat/libc/include/inttypes.h
Labels: compat

#1354 Fix mmap nommu
  src/cmds/testing/fb_devfs_access/Mybuild
  src/compat/posix/sys/mman/Mybuild
  src/mem/vmem/Mybuild
Labels: module:mem

#1355 arm: Fix warnings
  platform/mesa/templates/integratorcp/mods.config
  platform/nuklear/templates/arm_qemu/mods.config
  src/arch/arm/imx/cpuinfo.c
  src/compat/posix/sys/mman/Mybuild
  src/compat/posix/sys/mman/mmap_stub.c
  src/drivers/char/char_dev_stub.h
  src/drivers/interrupt/cortex_a9_gic/cortex_a9_gic.c
  src/drivers/video/Mybuild
  src/drivers/video/fb_devfs/fb_devfs.c
  src/mem/vmem/Mybuild
  src/mem/vmem/vmem_device_memory.c
  src/mem/vmem/vmem_nommu.h
  third-party/qt/Mybuild
Labels: easy, in progress

#1357 Fix arm cxx
  mk/image2.mk
  src/arch/arm/embox.lds.S
  src/tests/c++/exceptions.cpp
  third-party/STLport/stl_demo/algo/sort1.cpp
  third-party/gcc/Makefile
  third-party/lib/libsupcxx_toolchain/include/exception
Labels: bug, module:thirdparty

#1359 templates: Fix arm/c++_demo templates
  templates/arm/c++_demo/mods.config
Labels: easy

#1358 Fix builds
  src/arch/arm/mmu/mmu_small_page.c
  src/drivers/clock/Mybuild
  src/drivers/clock/omap3_clk/omap3_clk.c
  src/drivers/clock/raspi_systick.c
  src/drivers/gpmc/Mybuild
  src/drivers/video/Mybuild
Labels: easy

#1360 PCI fix printf types
  src/cmds/hardware/lspci/lspci.c
  src/compat/libc/include/inttypes.h
  src/drivers/pci/pci_driver.c
Labels: compat, module:drivers

#1362 fps: Fix typo
  src/lib/fps/fps.c
Labels: easy

#1363 Fix Mesa
  platform/etnaviv/cmds/cube.c
  platform/mesa/cmds/osdemo_fb/osdemo_fb.c
  src/drivers/gpu/drm/etnaviv/etnaviv_buffer.c
  src/drivers/gpu/drm/etnaviv/etnaviv_dev.c
  src/drivers/gpu/drm/etnaviv/etnaviv_gpu.c
  third-party/freedesktop/mesa/mesa/mesa_etnaviv/patch.txt
  third-party/freedesktop/mesa/mesa/mesa_sw/patch.txt
Labels: module:thirdparty

#1364 Update libgcc & libsupc++v3 versions
  mk/flags.mk
  src/compat/libc/include/stddef.h
  templates/arm/c++_demo/build.conf
  third-party/gcc/Makefile
  third-party/gcc/Mybuild
  third-party/gcc/include/signal.h
  third-party/gcc/include/stdio.h
  third-party/gcc/include/stdlib.h
  third-party/gcc/patch.txt
  third-party/gcc/stubs.c
Labels: compat, module:thirdparty

#1365 Stl from gcc
  src/cmds/testing/stl_demo/algo/Mybuild
  src/cmds/testing/stl_demo/algo/algostuff.hpp
  src/cmds/testing/stl_demo/algo/sort1.cpp
  src/compat/cxx/include/cctype
  src/compat/cxx/include/clocale
  src/compat/cxx/include/cstdint
  src/compat/cxx/include/cwchar
  src/lib/stl/Mybuild
  templates/arm/c++_demo/mods.config
  third-party/STLport/Makefile
  third-party/STLport/Mybuild
  third-party/STLport/stl_demo/algo/Mybuild
  third-party/gcc/Makefile
  third-party/gcc/Mybuild
  third-party/gcc/include/string.h
Labels: module:thirdparty

#1368 Improve mips/qemu
  src/arch/mips/embox.lds.S
  src/compat/libc/include/inttypes.h
  src/compat/libc/math/math_builtins.c
  src/compat/libc/math/math_builtins.h
  templates/mips/qemu/build.conf
  templates/mips/qemu/lds.conf
  templates/mips/qemu/mods.config
Labels: arch:mips

#1370 IntegratorCP interrupt/net drivers refactor
  src/drivers/interrupt/integrator_pic/Mybuild
  src/drivers/interrupt/integrator_pic/integrator_pic.c
  src/drivers/net/lan91c111/Mybuild
  src/drivers/net/lan91c111/lan91c111.c
Labels: easy, module:drivers

#1371 service: Check args for NULL ptr
  src/cmds/service.c
Labels: easy

#1367 [WIP] Marea rework
  platform/pjsip/templates/arm-qemu/mods.config
  src/compat/posix/sys/mman/Mybuild
  src/compat/posix/sys/mman/mmap.c
  src/drivers/common/Mybuild
  src/drivers/common/memory.c
  src/include/mem/mmap.h
  src/kernel/syscall/Syscall.my
  src/kernel/syscall/syscall.c
  src/kernel/task/kernel_task.c
  src/kernel/task/multi.c
  src/kernel/task/resource/Mybuild
  src/kernel/task/resource/mmap.c
  src/kernel/task/resource/mmap_trivial.c
  src/kernel/task/resource/phymem/Mybuild
  src/kernel/task/resource/phymem/phymem.c
  src/kernel/task/resource/phymem/task_phymem.h
  src/lib/exec/Mybuild
  src/lib/exec/exec.c
  src/mem/marea/Mybuild
  src/mem/marea/marea.c
  src/mem/marea/marea.h
  src/mem/mmap/Mybuild
  src/mem/mmap/mmap.c
  src/mem/mmap/mmap.h
  src/mem/mmap/mmap_common.c
  src/mem/mmap/mmap_kernel.c
  src/mem/mmap/mmap_mmu.c
  src/mem/mmap/mmap_nommu.c
  src/mem/mmap/mmap_stub.c
  src/mem/vmem/Mybuild
  src/mem/vmem/vmem.c
  src/mem/vmem/vmem.h
  src/mem/vmem/vmem_alloc.c
  src/mem/vmem/vmem_context.c
  src/mem/vmem/vmem_device_memory/Mybuild
  src/mem/vmem/vmem_device_memory/vmem_device_memory.c
  src/mem/vmem/vmem_nommu.c
  src/mem/vmem/vmem_starter.c
  src/tests/mmu/mmu_core.c
  templates/arm/arria_v/mods.config
  templates/arm/vexpress-a9/mods.config
  templates/x86/user_apps/mods.config
Labels: module:mem

#1373 dvfs: Fix dependency for rootfs
  src/fs/dvfs/Mybuild
Labels: easy, module:fs

#1366 Add 'mmuinfo' command
  src/arch/Mybuild
  src/arch/arm/mmu/Mybuild
  src/arch/arm/mmu/mmu.h
  src/arch/arm/mmu/mmuinfo.c
  src/arch/generic/mmu/mmu.h
  src/arch/generic/nommu.h
  src/arch/ppc/mmu/mmu.h
  src/arch/sparc/include/asm/hal/mm/mmu_types.h
  src/arch/sparc/mmu/mmu.h
  src/arch/x86/mmu/mmu.h
  src/cmds/hardware/mmuinfo/Mybuild
  src/cmds/hardware/mmuinfo/mmuinfo.c
  src/compat/libc/include/inttypes.h
  src/include/hal/mmu.h
  src/include/util/binalign.h
Labels: module:mem, module:shell

#1374 Make standard 'struct stat'
  src/cmds/fs/chmod.c
  src/cmds/fs/ls.c
  src/cmds/fs/md5sum/md5sum.c
  src/cmds/fs/stat.c
  src/cmds/fs/stat/Stat.my
  src/cmds/fs/stat/stat.c
  src/compat/posix/idx/isatty.c
  src/compat/posix/include/sys/stat.h
  src/compat/posix/include/sys/types.h
  src/fs/driver/ramfs/ramfs.c
  src/fs/driver/tmpfs/tmpfs.c
  src/fs/syslib/nokfsop.c
Labels: compat

#1376 Extbld minor improvements
  mk/extbld/arch-embox-gcc
  mk/extbld/toolchain.mk
  src/compat/libc/include/stdlib.h
  src/compat/libc/stdlib/Mybuild
  src/compat/libc/stdlib/mkstemp.c
  third-party/STLport/Makefile
  third-party/dropbear/Makefile
  third-party/e2fsprogs/Makefile
  third-party/lib/boost/Makefile
  third-party/qt/Makefile
  third-party/tcl/tclsh/Makefile
  third-party/tcl/tcludp/Makefile
Labels: buildsystem, module:thirdparty

#1375 arm/mmu: Flush updated MMU entries
  src/arch/arm/mmu/mmu_small_page.c
Labels: arch:arm, easy

#1377 Fix MESA/Etnaviv
  src/compat/posix/sys/mman/mmap.c
  src/drivers/gpu/drm/etnaviv/etnaviv_gpu.c
  src/mem/vmem/Mybuild
  src/mem/vmem/vmem_nommu.h
  third-party/freedesktop/mesa/glu/libglu_imx6/Makefile
  third-party/freedesktop/mesa/glu/libglu_osmesa/Makefile
  third-party/freedesktop/mesa/libdrm/etnaviv/patch.txt
  third-party/freedesktop/mesa/mesa/mesa_etnaviv/Makefile
  third-party/freedesktop/mesa/mesa/mesa_etnaviv/Mybuild
  third-party/freedesktop/mesa/mesa/mesa_sw/Makefile
  third-party/freedesktop/mesa/mesa/mesa_sw/Mybuild
Labels: graphics

#1378 quad_tex refactor
  platform/etnaviv/cmds/Mybuild
  platform/etnaviv/cmds/quad_tex.c
  platform/etnaviv/cmds/quad_tex/Mybuild
  platform/etnaviv/cmds/quad_tex/embox_logo256x256.tex
  platform/etnaviv/cmds/quad_tex/quad_tex.c
  platform/etnaviv/cmds/quad_tex_animated/Mybuild
  platform/etnaviv/templates/imx6/mods.config
  third-party/freedesktop/mesa/libdrm/etnaviv/Mybuild
  third-party/freedesktop/mesa/mesa/mesa_etnaviv/Mybuild
  third-party/freedesktop/mesa/mesa/mesa_sw/Mybuild
Labels: graphics

#1380 etnaviv: Fix ininialization sequence
  src/drivers/gpu/drm/etnaviv/Mybuild
  src/drivers/gpu/drm/etnaviv/etnaviv_dev.c
Labels: module:drivers

#1382 power/imx: Replace busy wait with ksleep()
  src/drivers/power/imx/imx.c
Labels: module:drivers

#1383 pl310: Clean code
  src/drivers/cache/pl310/pl310.c
Labels: easy, module:drivers

#1384 Fix etnaviv
  platform/etnaviv/cmds/quad_tex/quad_tex.c
  src/drivers/gpu/drm/etnaviv/etnaviv_buffer.c
  src/drivers/gpu/drm/etnaviv/etnaviv_cmd_parser.c
  src/drivers/gpu/drm/etnaviv/etnaviv_cmdbuf.c
  src/drivers/gpu/drm/etnaviv/etnaviv_dev.c
  src/drivers/gpu/drm/etnaviv/etnaviv_gem_submit.c
  src/drivers/gpu/drm/etnaviv/etnaviv_gpu.c
  src/drivers/gpu/drm/etnaviv/etnaviv_gpu.h
Labels: graphics, module:drivers
