Repository embox/embox, pull requests merged in 2019-09, with the labels that each got.

#1496 Fix stm32 cnc
  platform/stm32f4_cnc/http_admin/Mybuild
  platform/stm32f4_cnc/http_admin/http_admin_backend.c
  platform/stm32f4_cnc/templates/debug/mods.config
  platform/stm32f4_cnc/templates/debug/start_script.inc
  platform/stm32f4_cnc/templates/windows/build.conf
  platform/stm32f4_cnc/templates/windows/lds.conf
  platform/stm32f4_cnc/templates/windows/mods.config
  platform/stm32f4_cnc/templates/windows/start_script.inc
  src/drivers/block_dev/block_dev.c
  src/drivers/char/char_dev_stub.c
Labels: templates

#1497 Remove stm32 old drivers
  .travis.yml
  platform/stm32f3_agents/libcomm/Mybuild
  platform/stm32f3_sensors/cmds/Mybuild
  platform/stm32f3_sensors/libactuators/Mybuild
  platform/stm32f3_sensors/libmisc/Mybuild
  platform/stm32f3_sensors/libsensors/Mybuild
  platform/stm32f3_sensors/templates/car/mods.config
  src/drivers/audio/portaudio/Mybuild
  src/drivers/audio/portaudio/stm32f4_pa.c
  src/drivers/net/stm32f4_eth/Mybuild
  src/drivers/net/stm32f4_eth/stm32f4_eth.c
  src/drivers/serial/stm32_usart/Mybuild
  src/drivers/serial/stm32_usart/stm_usart.c
  src/drivers/tty/serial/ttys_oldfs.h
  templates/arm/stm32_f4/build.conf
  templates/arm/stm32_f4/lds.conf
  templates/arm/stm32_f4/mods.config
  templates/arm/stm32_f4/rootfs/network
  templates/arm/stm32_f4/rootfs/resolv.conf
  templates/arm/stm32_f4/start_script.inc
  templates/arm/stm32f4-discovery-clang/mods.config
  third-party/bsp/st_f3/Makefile
  third-party/bsp/st_f3/Mybuild
  third-party/bsp/st_f3/arch.c
  third-party/bsp/st_f3/buildfix.patch
  third-party/bsp/st_f3/cmsis_impl.h
  third-party/bsp/st_f3/stm32f3xx_hal_conf.h
  third-party/bsp/st_f4/Makefile
  third-party/bsp/st_f4/Mybuild
  third-party/bsp/st_f4/arch.c
  third-party/bsp/st_f4/cmsis_impl.h
  third-party/bsp/st_f4/cmsis_strex_output_fix.patch
  third-party/bsp/st_f4/stm32f4x7_eth_conf.h
  third-party/bsp/st_f4/stm32f4xx_conf.h
  third-party/bsp/st_f4/stmf4_audio_codec.patch
  third-party/bsp/st_f4/stmf4_eth_buildfix.patch
  third-party/bsp/stmf3cube/Mybuild
Labels: templates

#1498 drivers: stm32f7_sd: Return 0 if SD is not inserted
  src/drivers/block_dev/stm32_sd/stm32f7_sd.c
Labels: easy, module:drivers

#1499 fpu: Use numerical labels instead of characters in assembler
  src/arch/arm/fpu/armv7m/fpv5.h
  src/arch/arm/fpu/vfp.h
  src/arch/arm/fpu/vfp9_s.h
Labels: arch:arm, easy

#1500 Usb
  scripts/qemu/auto_qemu
  scripts/qemu/auto_qemu_with_usb_storage
  src/cmds/hardware/Usb_whitelist.my
  src/cmds/hardware/lsusb/Mybuild
  src/drivers/block_dev/scsi/Mybuild
  src/drivers/block_dev/scsi/scsi_disc_create.c
  src/drivers/pci/pci_devices_table.inc
  src/drivers/pci/pci_id.h
  src/drivers/pci/pci_vendors_table.inc
  src/drivers/usb/Mybuild
  src/drivers/usb/hc/Mybuild
  src/drivers/usb/hc/ehci.h
  src/drivers/usb/hc/ehci_hdc.c
  src/drivers/usb/hc/ehci_mem.c
  src/drivers/usb/hc/ehci_pci.c
  src/drivers/usb/hc/ehci_q.c
  src/drivers/usb/hc/ehci_regs.h
  src/drivers/usb/hc/ohci_pci.c
  src/drivers/usb/usb_core.c
  src/drivers/usb/usb_obj.c
  src/drivers/usb/usb_whitelist_dev.c
  src/drivers/usb/usb_whitelist_dev_dvfs.c
  src/include/drivers/usb/usb_desc.h
  templates/x86/qemu/mods.config
Labels: module:drivers

#1501 pl310: Fix missing dependency for ksleep()
  src/drivers/cache/pl310/Mybuild
Labels: easy

#1502 cmds/mem: Fix address output align
  src/cmds/hardware/mem/mem.c
Labels: cmds, easy

#1503 dvfs: Increase reference count for dentry on chdir
  src/compat/posix/fs/dvfs/chdir.c
Labels: module:fs

#1505 Improve FS usability
  src/cmds/fs/Mkdir.my
  src/cmds/fs/Mount.my
  src/cmds/fs/mkdir.c
  src/cmds/fs/mkfs.c
  src/cmds/fs/mount.c
  src/compat/posix/fs/dvfs/fsop.c
  src/drivers/block_dev/block_dev.h
  src/fs/dvfs/dvfs.c
  src/fs/dvfs/dvfs_util.c
Labels: cmds, module:fs

#1508 E2k monocub
  src/arch/e2k/context.c
  src/arch/e2k/entry.c
  src/arch/e2k/include/asm/ptrace.h
  src/arch/e2k/include/asm/setjmp.h
  src/arch/e2k/kernel_entry.S
  src/arch/e2k/libarch/Mybuild
  src/arch/e2k/libarch/e2k_vfork.S
  src/arch/e2k/mmu/mmu.c
  src/cmds/testing/fb_devfs_access/fb_devfs_access.c
  src/drivers/video/lynxfb/lynxfb.c
  src/init/setup_tty.h
  src/init/setup_tty_devfs.c
  src/init/setup_tty_diag.c
  src/init/start_script.c
  src/init/system_start_service.c
  templates/e2k/monocube/mods.config
Labels: arch:e2k

#1506 FAT: Add support for long file names
  src/fs/driver/fat/Mybuild
  src/fs/driver/fat/fat.c
  src/fs/driver/fat/fat.h
  src/fs/driver/fat/fat_common.c
  src/fs/driver/fat/fat_dvfs.c
  src/fs/driver/fat/fatfs_subr.c
Labels: module:fs

#1510 DE0 Nano SoC porting
  src/drivers/interrupt/cortex_a9_gic/cortex_a9_gic.h
  src/drivers/net/dwc_gmac/Mybuild
  src/drivers/net/dwc_gmac/dwc_gmac.c
  src/drivers/serial/ns16550/ns16550.c
  templates/arm/de0_nano_soc/build.conf
  templates/arm/de0_nano_soc/lds.conf
  templates/arm/de0_nano_soc/mods.config
  templates/arm/de0_nano_soc/rootfs/network
  templates/arm/de0_nano_soc/system_start.inc
Labels: porting

#1511 De0 nano soc GPIO support
  src/cmds/hardware/pin/Mybuild
  src/cmds/hardware/pin/pin.c
  src/drivers/gpio/dwapb/dwapb_gpio.c
  templates/arm/de0_nano_soc/mods.config
Labels: module:drivers, templates

#1512 add initial risc-v support
  src/arch/riscv/embox.lds.S
  src/arch/riscv/include/asm/hal/arch.h
  src/arch/riscv/include/asm/hal/ipl.h
  src/arch/riscv/include/asm/interrupts.h
  src/arch/riscv/include/asm/limits.h
  src/arch/riscv/include/asm/regs.h
  src/arch/riscv/include/asm/types.h
  src/arch/riscv/kernel/Mybuild
  src/arch/riscv/kernel/arch.c
  src/arch/riscv/kernel/boot.S
  src/arch/riscv/kernel/context.c
  src/arch/riscv/kernel/context.h
  src/arch/riscv/kernel/ipl_impl.c
  src/arch/riscv/kernel/ipl_impl.h
  src/arch/riscv/kernel/setjmp.S
  src/arch/riscv/kernel/trap.c
  src/compat/libc/include/inttypes.h
  src/drivers/serial/Mybuild
  src/drivers/serial/sifive_uart.c
  templates/riscv/qemu-sifive-e/build.conf
  templates/riscv/qemu-sifive-e/lds.conf
  templates/riscv/qemu-sifive-e/mods.config
Labels: arch:risc-v
