Repository embox/embox, pull requests merged in 2019-08, with the labels that each got.

#1454 Pthread tests
  .travis.yml
  src/kernel/thread/sync/cond.c
  src/tests/posix/pthread/Mybuild
  src/tests/posix/pthread/pthread_cond_test.c
  src/tests/posix/pthread/pthread_cond_timedwait_test.c
  src/tests/posix/pthread/pthread_key_test.c
  src/tests/posix/pthread/pthread_mutex_test.c
  templates/x86/test/units/mods.config
Labels: module:tests

#1464 Fix pjsip stm32746g
  platform/pjsip/templates/stm32746g/build.conf
  platform/pjsip/templates/stm32746g/lds.conf
  platform/pjsip/templates/stm32746g/mods.config
  platform/pjsip/templates/stm32746g/start_script.inc
  src/cmds/play.c
  src/cmds/record/record.c
Labels: templates

#1466 (templates) platform/opencv: Rename stm32f7 templates
  platform/opencv/templates/stm32f764g-discovery/build.conf
  platform/opencv/templates/stm32f764g-discovery/lds.conf
  platform/opencv/templates/stm32f764g-discovery/mods.config
  platform/opencv/templates/stm32f764g-discovery/qspi_objcopy.sh
  platform/opencv/templates/stm32f764g-discovery/readme
  platform/opencv/templates/stm32f764g-discovery/rootfs/fruits.png
  platform/opencv/templates/stm32f764g-discovery/start_script.inc
  platform/opencv/templates/stm32f769i-discovery/build.conf
  platform/opencv/templates/stm32f769i-discovery/lds.conf
  platform/opencv/templates/stm32f769i-discovery/mods.config
  platform/opencv/templates/stm32f769i-discovery/qspi_objcopy.sh
  platform/opencv/templates/stm32f769i-discovery/readme
  platform/opencv/templates/stm32f769i-discovery/rootfs/fruits.png
  platform/opencv/templates/stm32f769i-discovery/start_script.inc
Labels: easy, templates

#1465 E2k mmu
  src/arch/e2k/embox.lds.S
  src/arch/e2k/entry.c
  src/arch/e2k/include/asm/hal/arch.h
  src/arch/e2k/include/e2k_api.h
  src/arch/e2k/include/mmu_regs.h
  src/arch/e2k/mmu/Mybuild
  src/arch/e2k/mmu/mmu.c
  src/arch/e2k/mmu/mmu.h
  src/arch/e2k/mmu/mmuinfo.c
  src/cmds/hardware/mm/mmutrans/mmutrans.c
  src/mem/vmem/mapper.c
  src/mem/vmem/vmem.h
  templates/e2k/monocube/lds.conf
  templates/e2k/monocube/mods.config
Labels: arch:e2k, module:mem

#1467 Fix some templates
  platform/efm32zg_sk3200/templates/debug/mods.config
  platform/stm32f4_cnc/templates/windows/mods.config
  src/cmds/shell/diag_shell/console/cmdline.c
  src/compat/libc/string/strxfrm.c
  templates/arm/bpi/mods.config
  templates/arm/nxt_bt_pnet/mods.config
  templates/arm/omap-qt/mods.config
  templates/arm/overo/mods.config
  templates/arm/raspi/mods.config
  templates/arm/stm32_vl/mods.config
  templates/arm/stm32_vl_light/mods.config
  templates/arm/ti816x-qt/mods.config
  templates/msp430/exp430g2/mods.config
  templates/msp430/mspdebug/mods.config
  templates/sparc/greth/mods.config
Labels: templates

#1468 Fix arm/sabrelite template running on qemu
  templates/arm/sabrelite/mods.config
Labels: easy, templates

#1470 cmds: Fix telnetd race condition
  src/cmds/net/telnetd/telnetd.c
Labels: cmds

#1472 Work on aarch64 support
  src/arch/aarch64/include/asm/hal/reg.h
  src/arch/aarch64/include/asm/modes.h
  src/arch/aarch64/kernel/ipl_impl.h
  src/cmds/hardware/mem/mem.c
  src/drivers/clock/gpt/gpt.c
  src/drivers/interrupt/gicv3/gicv3.h
  src/include/kernel/sched.h
  templates/aarch64/imx8/build.conf
  templates/aarch64/imx8/lds.conf
  templates/aarch64/imx8/mods.config
  templates/aarch64/imx8/readme
  templates/aarch64/imx8/start_script.inc
Labels: arch:aarch64

#1473 autotest: Fix ntpdate test
  scripts/expect/ntpdate.exp
Labels: easy

#1474 net: Remove ICMP discard when neighbour is not resolved
  src/net/neighbour.c
Labels: easy, module:net

#1475 vfork/ptregs_jump for aarch64
  src/arch/aarch64/kernel/Mybuild
  src/arch/aarch64/kernel/arch.c
  src/arch/aarch64/kernel/ptregs_jmp.S
  src/arch/aarch64/kernel/vfork.S
  templates/aarch64/qemu/mods.config
Labels: arch:aarch64

#1463 sched: change sched_check_preempt
  src/kernel/sched/sched.c
Labels: module:kernel

#1476 Fix pjsip stm32f4discovery
  platform/pjsip/templates/stm32f4cube/build.conf
  platform/pjsip/templates/stm32f4cube/lds.conf
  platform/pjsip/templates/stm32f4cube/mods.config
  platform/pjsip/templates/stm32f4cube/start_script.inc
  platform/pjsip/templates/stm32f4discovery/mods.config
  platform/pjsip/templates/stm32f4discovery/start_script.inc
  src/drivers/net/stm32cube/stm32cube_eth.c
  src/mem/heap/Mybuild
  src/mem/heap/mspace_malloc.c
Labels: module:mem, templates

#1479 Minor fixes
  src/cmds/fs/chown/chown.c
  src/drivers/bluetooth/lego/blue_core4.c
  src/fs/driver/ntfs/ntfs.c
Labels: cmds, module:drivers, module:fs

#1481 opencv/edges: pixel loop optimization
  platform/opencv/cmds/edges.cpp
Labels: module:platform

#1480 Aarch64 MMU implementation
  src/arch/aarch64/include/asm/hal/env/traps_core.h
  src/arch/aarch64/include/asm/hal/mmu.h
  src/arch/aarch64/include/asm/hal/reg.h
  src/arch/aarch64/include/asm/hal/test/traps_core.h
  src/arch/aarch64/include/asm/modes.h
  src/arch/aarch64/mmu/Mybuild
  src/arch/aarch64/mmu/mmu.c
  src/arch/aarch64/mmu/mmu.h
  src/arch/microblaze/mmu/mmu.c
  src/cmds/hardware/mm/mmutrans/mmutrans.c
  src/drivers/clock/pl031/pl031.c
  src/drivers/common/memory.c
  src/drivers/interrupt/cortex_a9_gic/cortex_a9_gic.c
  src/include/hal/mmu.h
  src/mem/vmem/vmem.h
  templates/aarch64/qemu/mods.config
Labels: arch:aarch64, module:mem

#1455 Png lib
  platform/nuklear/templates/arm_qemu/mods.config
  src/cmds/testing/fb_draw_image/Mybuild
  src/cmds/testing/fb_draw_image/fb_draw_image.c
  src/fs/file_format.c
  src/fs/file_format.h
  src/lib/bmp/bmp.h
  src/lib/png/Mybuild
  src/lib/png/png.c
  src/lib/png/png.h
Labels: graphics, module:lib

#1483 Fix SD card driver for stm32f7
  platform/opencv/templates/stm32f769i-discovery/mods.config
  src/drivers/block_dev/stm32_sd/Mybuild
  src/drivers/block_dev/stm32_sd/stm32f764g_discovery_sd.h
  src/drivers/block_dev/stm32_sd/stm32f769i_discovery_sd.h
  src/drivers/block_dev/stm32_sd/stm32f7_discovery_sdio_sd.h
  src/drivers/block_dev/stm32_sd/stm32f7_sd.c
  src/drivers/interrupt/cortexm/Mybuild
  src/drivers/interrupt/cortexm/cortexm_nvic.c
  src/include/drivers/irqctrl.h
  templates/arm/stm32f764g-discovery/mods.config
  templates/arm/stm32f769i-discovery/mods.config
Labels: module:drivers

#1485 Fix builds
  src/cmds/net/telnetd/Telnetd.my
  src/drivers/clock/dm816x/dm816x_timer.c
  src/drivers/clock/omap3_clk/omap3_clk.c
  src/drivers/console/Mybuild
Labels: easy, module:drivers

#1486 Fix http_admin for stm32
  mk/image2.mk
  src/cmds/net/httpd/Httpd.my
  src/service/http_admin/Mybuild
  src/service/http_admin/http_admin_backend.c
  templates/arm/qemu/mods.config
  templates/arm/stm32f4-discovery/mods.config
  templates/arm/stm32f764g-discovery/mods.config
  templates/x86/qemu/mods.config
Labels: buildsystem, templates

#1487 PCI refactor
  src/drivers/pci/pci.c
  src/drivers/pci/pci.h
  src/drivers/pci/pci_chip/pci_chip_elbrus.c
  src/drivers/pci/pci_chip/pci_chip_x86.c
  src/drivers/pci/pci_chip/pci_utils.h
  src/drivers/pci/pci_chip/ti81xx.c
Labels: module:drivers, refactoring

#1488 AArch64 PCI support for QEMU/virt
  .travis.yml
  src/arch/aarch64/embox.lds.S
  src/arch/aarch64/include/asm/hal/reg.h
  src/arch/aarch64/mmu/mmu.h
  src/cmds/module/lsmod.c
  src/compat/posix/fs/dirent.c
  src/compat/posix/fs/open.c
  src/compat/posix/include/dirent.h
  src/drivers/net/e1000/Mybuild
  src/drivers/net/e1000/e1000.c
  src/drivers/pci/pci_bios.c
  src/drivers/pci/pci_chip/Mybuild
  src/drivers/pci/pci_chip/gpex.c
  src/drivers/pci/pci_driver.c
  src/drivers/serial/pl011/Mybuild
  src/fs/driver/fat/fat_dvfs.c
  src/fs/syslib/kfile.c
  src/include/hal/reg.h
  src/include/net/netdevice.h
  src/mem/misc/slab.c
  src/net/lib/bootp.c
  templates/aarch64/qemu/mods.config
  templates/aarch64/qemu/rootfs/network
  templates/aarch64/qemu/start_script.inc
  templates/aarch64/qemu/system_start.inc
Labels: module:drivers

#1489 Fix chdir and ls
  src/cmds/fs/ls.c
  src/compat/posix/fs/dvfs/Mybuild
  src/compat/posix/fs/dvfs/chdir.c
  src/fs/dvfs/dvfs_dentry.c
  src/kernel/task/resource/vfs.c
Labels: cmds, module:fs

#1492 Stm32 remove old flash drivers
  platform/stm32f3_sensors/cmds/Mybuild
  platform/stm32f3_sensors/templates/car/mods.config
  platform/stm32f4_multibots/templates/nrf24/mods.config
  platform/stm32f7/templates/stm32f7_discovery/mods.config
  platform/stm32f7/templates/usb-device/mods.config
  src/drivers/flash/stm32/Mybuild
  src/drivers/flash/stm32/stm32_flash.c
  src/drivers/flash/stm32/stm32_flash.lds.S
  src/drivers/flash/stm32/stm32f3flash.h
  src/drivers/flash/stm32/stm32f4flash.h
  src/drivers/flash/stm32/stm32f7flash.h
  src/drivers/flash/stm32f3/Mybuild
  src/drivers/flash/stm32f3/stm32f3_flash.c
  src/drivers/flash/stm32f3/stm32f3_flash.lds.S
  src/drivers/flash/stm32f4/Mybuild
  src/drivers/flash/stm32f4/stm32_flash.h
  src/drivers/flash/stm32f4/stm32f4_flash.c
  src/drivers/flash/stm32f4/stm32f4_flash.lds.S
  src/drivers/flash/stm32f4/stm32flash_conf.h
  templates/arm/stm32_modbus/rootfs/conf/.gitignore
  templates/arm/stm32f764g-discovery/mods.config
Labels: easy, module:drivers

#1493 Add example gpio httpd_admin
  platform/gpio_http_admin/cmds/flash/Mybuild
  platform/gpio_http_admin/cmds/flash/flash_settings.c
  platform/gpio_http_admin/cmds/http_admin/Mybuild
  platform/gpio_http_admin/cmds/http_admin/app.js
  platform/gpio_http_admin/cmds/http_admin/css/app.css
  platform/gpio_http_admin/cmds/http_admin/http_admin_backend.c
  platform/gpio_http_admin/cmds/http_admin/index.html
  platform/gpio_http_admin/cmds/http_admin/partials/interfaces.html
  platform/gpio_http_admin/cmds/http_admin/partials/leds.html
  platform/gpio_http_admin/cmds/http_admin/ui-bootstrap-tpls-0.12.1.min.js
  platform/gpio_http_admin/cmds/led_driver/Mybuild
  platform/gpio_http_admin/cmds/led_driver/led_driver.c
  platform/gpio_http_admin/cmds/led_driver/led_driver_lib.c
  platform/gpio_http_admin/cmds/led_driver/led_driver_lib.h
  platform/gpio_http_admin/readme.txt
  platform/gpio_http_admin/templates/stm32f4_discovery/build.conf
  platform/gpio_http_admin/templates/stm32f4_discovery/lds.conf
  platform/gpio_http_admin/templates/stm32f4_discovery/leds_config.inc
  platform/gpio_http_admin/templates/stm32f4_discovery/mods.config
  platform/gpio_http_admin/templates/stm32f4_discovery/rootfs/conf/.gitignore
  platform/gpio_http_admin/templates/stm32f4_discovery/start_script.inc
Labels: cmds, templates

#1494 x86: Fix depends for boot sequence
  src/arch/x86/mmu/Mybuild
Labels: easy

#1495 Fix opencv
  platform/opencv/templates/stm32f764g-discovery/mods.config
  third-party/lib/opencv/Makefile
Labels: templates
