Repository embox/embox, pull requests merged in 2019-11, with the labels that each got.

#1542 x86: Multiboot header uses address fields
  src/arch/x86/boot/multiboot_header.S
Labels: arch:x86

#1543 Divide MMC/SD/SDIO initialization
  src/drivers/mmc/core/Mybuild
  src/drivers/mmc/core/mmc.c
  src/drivers/mmc/core/mmc_host.c
  src/drivers/mmc/core/mmc_host.h
  src/drivers/mmc/core/sd.c
  src/drivers/mmc/core/sdio.c
  src/drivers/mmc/host/pl181/pl181.c
  src/drivers/mmc/host/sdhci/sdhci_ops.c
Labels: module:drivers

#1544 Fix live flash for qemu
  scripts/live-flash
Labels: scripts

#1545 dw_mmc: Work on dw_mmc_socfpga
  src/drivers/mmc/host/dw_mmc/dw_mmc.c
  src/drivers/mmc/host/dw_mmc/dw_mmc.h
  src/drivers/mmc/host/dw_mmc/dw_mmc_socfpga.c
Labels: module:drivers

#1546 Work on VFS
  src/compat/posix/fs/dvfs/open.c
  src/fs/driver/fat/fat.h
  src/fs/driver/fat/fat_common.c
  src/fs/dvfs/compat.c
  src/fs/dvfs/dvfs.c
  src/fs/dvfs/dvfs.h
  src/fs/dvfs/dvfs_util.c
Labels: module:fs

#1547 Fix O_APPEND flag handling
  src/compat/libc/stdio/fopen.c
  src/fs/dvfs/dvfs.c
Labels: module:fs

#1549 STM32F4 SD driver fix
  src/drivers/block_dev/stm32_sd/stm32f4_sd.c
Labels: module:drivers

#1550 Dependency fix
  src/tests/math/Mybuild
Labels: easy

#1551 FAT32 fix
  src/fs/driver/fat/fat.h
  src/fs/driver/fat/fat_common.c
Labels: module:drivers

#1552 Third-party mirrors
  third-party/bsp/st_discovery_vl/Makefile
  third-party/phoneme/Makefile
Labels: easy, module:thirdparty

#1553 Autotest fix prompt
  scripts/autotest/framework/core.exp
  scripts/autotest/run.sh
Labels: scripts

#1555 Fix some mount-related issues
  src/fs/driver/fat/fat_dvfs.c
  src/fs/dvfs/dvfs.c
  src/fs/dvfs/dvfs.h
  src/fs/dvfs/dvfs_util.c
Labels: module:fs

#1554 Autotest add picocom
  scripts/autotest/configs/default.sh
  scripts/autotest/configs/ide.sh
  scripts/autotest/configs/stm32.sh
  scripts/autotest/configs/usb.sh
  scripts/autotest/framework/core.exp
  scripts/autotest/framework/target_picocom.exp
  scripts/autotest/framework/target_telnet.exp
  scripts/autotest/run.sh
Labels: scripts

#1557 FAT rework
  src/fs/driver/fat/fat.h
  src/fs/driver/fat/fat_common.c
  src/fs/driver/fat/fat_dvfs.c
  src/fs/driver/fat/fat_oldfs.c
Labels: module:fs

#1556 fs : fix mount in nfs driver
  src/fs/driver/nfs/nfs.c
  src/tests/fs/Mybuild
  src/tests/fs/mount_nfs_test.c
  templates/x86/test/fs/mods.config
Labels: module:fs

#1541 Imx6 usb
  src/drivers/clk/ccm_imx6/Mybuild
  src/drivers/clk/ccm_imx6/ccm_imx6.c
  src/drivers/clk/ccm_imx6/ccm_imx6.h
  src/drivers/usb/hc/Mybuild
  src/drivers/usb/hc/ehci.h
  src/drivers/usb/hc/ehci_hdc.c
  src/drivers/usb/hc/ehci_helpers.c
  src/drivers/usb/hc/ehci_mxc.c
  src/drivers/usb/hc/ehci_regs.h
  src/drivers/usb/hc/usb_ehci_mxc_regs.h
  src/drivers/usb/usb_core.c
  templates/arm/sk_imx6q/mods.config
Labels: module:drivers

#1560 third_party: Add mirrors
  third-party/lib/openlibm/Makefile
  third-party/lib/zlib/Makefile
Labels: easy, module:thirdparty

#1559 (templates) arm/qemu: Disable debug output for MMC
  templates/arm/qemu/mods.config
Labels: easy, templates

#1561 Porting to STM32L4-Discovery
  src/drivers/block_dev/Mybuild
  src/drivers/serial/stm32_usart/Mybuild
  src/drivers/serial/stm32_usart/hal_msp_l4.c
  src/drivers/serial/stm32_usart/stm32_usart_conf_l4.h
  src/fs/driver/devfs/Mybuild
  src/fs/driver/devfs/devfs_dvfs.c
  src/fs/driver/devfs/devfs_stub.c
  templates/arm/stm32l4-discovery/build.conf
  templates/arm/stm32l4-discovery/lds.conf
  templates/arm/stm32l4-discovery/mods.config
  templates/arm/stm32l4-discovery/start_script.inc
  third-party/bsp/stml4cube/Makefile
  third-party/bsp/stml4cube/Mybuild
  third-party/bsp/stml4cube/arch.c
  third-party/bsp/stml4cube/stm32l4xx_hal_conf.h
Labels: module:drivers, porting, templates

#1562 Baikal
  src/arch/mips/kernel/entry.S
  templates/mips/baikal/build.conf
  templates/mips/baikal/lds.conf
  templates/mips/baikal/mods.config
  templates/mips/baikal/rootfs/network
  templates/mips/baikal/start_script.inc
  templates/mips/baikal/system_start.inc
Labels: arch:mips

#1563 reworked mount nfs and mount test
  src/fs/driver/nfs/nfs.c
  src/tests/fs/Mybuild
  src/tests/fs/mount_test.c
Labels: module:fs

#1564 Work on MMC subsystem
  src/arch/arm/imx/iomuxc/iomuxc.h
  src/drivers/mmc/core/mmc.c
  src/drivers/mmc/core/mmc_core.h
  src/drivers/mmc/core/mmc_host.c
  src/drivers/mmc/core/sd.c
  src/drivers/mmc/host/sdhci/sdhci.h
  src/drivers/mmc/host/sdhci/sdhci_ops.c
Labels: module:drivers

#1565 pty: Fix synchronization with tty
  src/compat/posix/idx/pipe_pty.c
Labels: compat

#1566 Sdhci fixes
  src/drivers/mmc/core/mmc_host.c
  src/drivers/mmc/core/sd.c
  src/drivers/mmc/host/sdhci/sdhci.h
  src/drivers/mmc/host/sdhci/sdhci_ops.c
Labels: module:drivers

#1567 Add dw_mmc_socfpga
  src/compat/linux/include/asm-generic/dma-mapping.h
  src/drivers/mmc/core/mmc_core.h
  src/drivers/mmc/core/sd.c
  src/drivers/mmc/host/dw_mmc/dw_mmc.h
  src/drivers/mmc/host/dw_mmc/dw_mmc_socfpga.c
  templates/arm/de0_nano_soc/mods.config
Labels: module:drivers

#1570 Fixing FAT for SD cards on socfpga and i.MX6
  src/fs/Mybuild
  src/fs/bcache.c
  templates/arm/de0_nano_soc/mods.config
  templates/arm/sk_imx6q/mods.config
  third-party/qt/Makefile
Labels: module:fs, templates
