Repository embox/embox, pull requests merged in 2020-06, with the labels that each got.

#2013 Microblaze partially fix (working without mmu)
  src/drivers/serial/xuartlite/Mybuild
  src/drivers/serial/xuartlite/xuartlite.c
  src/kernel/time/timer/strategy/head_timer.c
  templates/microblaze/qemu/mods.config
Labels: arch:microblaze

#1996 Add arch_idle() for arm/qemu
  src/arch/arm/subarch/armv5te/arm926ejs/Mybuild
  src/arch/arm/subarch/armv5te/arm926ejs/arch.c
Labels: arch:arm

#2006 Cortexm pendsv optimize
  src/drivers/interrupt/cortexm/irq_entry.S
  src/include/kernel/critical.h
  src/kernel/critical.c
Labels: arch:arm

#2020 2010 rm embox.kerner.time.timer handler module
  src/drivers/clock/Mybuild
  src/drivers/clock/cortexa9_timer/Mybuild
  src/drivers/clock/dm816x/Mybuild
  src/drivers/clock/e2k/Mybuild
  src/drivers/clock/epit/Mybuild
  src/drivers/clock/gpt/Mybuild
  src/drivers/clock/mb_timer/Mybuild
  src/drivers/clock/omap3_clk/Mybuild
  src/drivers/clock/pit/Mybuild
  src/kernel/time/Time.my
  src/kernel/time/clock_source.c
  src/kernel/time/clock_tick.c
  src/kernel/time/timer/Mybuild
  src/tests/kernel/Mybuild
  templates/xen/debug/mods.config
  third-party/bsp/stmf7cube/Mybuild
Labels: module:kernel

#2065 Use struct usb_interface instead of struct usb_dev
  src/cmds/hardware/ccid/ccid_cmd.c
  src/cmds/hardware/lsusb/lsusb.c
  src/drivers/net/usbnet/usbnet.c
  src/drivers/usb/class/ccid/ccid.c
  src/drivers/usb/class/ccid/ccid.h
  src/drivers/usb/class/usb_class_hid.c
  src/drivers/usb/class/usb_hid.c
  src/drivers/usb/class/usb_mass_storage.c
  src/drivers/usb/class/usb_mass_storage.h
  src/drivers/usb/usb_config.c
  src/drivers/usb/usb_driver.c
  src/drivers/usb/usb_driver_example.c
  src/drivers/usb/usb_hub.c
  src/include/drivers/usb/usb.h
  src/include/drivers/usb/usb_driver.h
  src/include/drivers/usb/usb_hid.h
  templates/x86/qemu/mods.conf
Labels: module:drivers

#2070 Riscv
  scripts/qemu/auto_qemu
  src/arch/riscv/include/asm/io.h
  src/arch/riscv/include/asm/regs.h
  src/arch/riscv/kernel/Mybuild
  src/arch/riscv/kernel/interrupt.c
  src/drivers/clock/riscv_clk.c
  src/drivers/interrupt/riscv_intc.h
  src/drivers/net/cadence_gem/Mybuild
  src/drivers/net/cadence_gem/cadence_gem.c
  templates/riscv/qemu-sifive-u/mods.conf
  templates/riscv/qemu-sifive-u/start_script.inc
  templates/riscv/qemu-sifive-u/system_start.inc
Labels: arch:risc-v
