Repository embox/embox, pull requests merged in 2020-09, with the labels that each got.

#2176 Extend posix with a few macros
  src/compat/libc/include/errno.h
  src/compat/posix/include/fcntl.h
  src/compat/posix/include/netinet/in.h
  src/net/lib/ifaddrs.h
  third-party/lib/coap/libcoap_embox_compat.h
  third-party/lua/lib/luasocket/include/fcntl.h
  third-party/lua/lib/luasocket/include/netinet/in.h
  third-party/lua/lua/include/stdlib.h
  third-party/lua/lua/include/string.h
  third-party/qpid/qpid_embox_compat.h
  third-party/qt/tree/mkspecs/qws/embox-generic-g++/qplatformdefs.h
  third-party/tcl/tclsh/tcl_embox_compat.h
  third-party/tcl/tcludp/tcludp_embox_compat.h
Labels: compat

#2178 Add socket cmsg macros
  src/compat/posix/include/sys/socket.h
  src/tests/posix/net/Mybuild
  src/tests/posix/net/socket_cmsg_test.c
Labels: compat

#2177 Add pread() & pwrite()
  src/compat/posix/fs/Mybuild
  src/compat/posix/fs/lseek/lseek_dvfs.c
  src/compat/posix/fs/lseek/lseek_oldfs.c
  src/compat/posix/fs/pread.c
  src/compat/posix/fs/pwrite.c
  src/compat/posix/include/unistd.h
  src/tests/posix/unistd/pwrite/Mybuild
  src/tests/posix/unistd/pwrite/pwrite_test.c
  third-party/e2fsprogs/e2fsprogs_embox_compat.h
  third-party/ntfs-3g/include/getopt.h
  third-party/ntfs-3g/include/regex.h
  third-party/ntfs-3g/ntfs-3g_embox_compat.h
Labels: compat

#2180 drivers: Fix clock rate for integrator_pit
  src/drivers/clock/integrator_pit/integrator_pit.c
Labels: easy

#2186 Enable to use separated tasks and threads
  src/include/kernel/thread.h
  src/kernel/task/Mybuild
  src/kernel/task/multi/Mybuild
  src/kernel/task/multi/main_thread_allocator.c
  src/kernel/task/multi/main_thread_create.c
  src/kernel/task/multi/multi.c
  src/kernel/task/multi/multi.h
  src/kernel/thread/core.c
Labels: module:kernel

#2191 riscv: fix cadence gem net driver
  src/drivers/net/cadence_gem/cadence_gem.c
Labels: arch:risc-v, module:drivers

#2194 minor: drivers: Improve gpio.h
  src/drivers/gpio/gpio.h
Labels: easy

#2196 Stm32cubef1 port
  board_config/stm32vl_discovery.conf.h
  src/drivers/gpio/stm32/Mybuild
  src/drivers/gpio/stm32/stm32_gpio_conf_f1.h
  src/drivers/gpio/stm32/stm32_gpio_cube.c
  src/drivers/serial/stm32_usart/Mybuild
  src/drivers/serial/stm32_usart/stm32_usart_conf_f1.h
  src/drivers/serial/stm32_usart/stm_hal_msp.c
  templates/arm/stm32vl-discovery/board.conf.h
  templates/arm/stm32vl-discovery/build.conf
  templates/arm/stm32vl-discovery/lds.conf
  templates/arm/stm32vl-discovery/mods.conf
  templates/arm/stm32vl-discovery/start_script.inc
  third-party/bsp/stmf1cube/Mybuild
  third-party/bsp/stmf1cube/cmsis_impl.h
  third-party/bsp/stmf1cube/cube/Makefile
  third-party/bsp/stmf1cube/cube/Mybuild
  third-party/bsp/stmf1cube/stm32vl_discovery/Mybuild
  third-party/bsp/stmf1cube/stm32vl_discovery/arch.c
  third-party/bsp/stmf1cube/stm32vl_discovery/stm32f1xx_hal_conf.h
Labels: module:thirdparty

#2200 usb cdc-acm gadget
  src/drivers/char/char_dev.c
  src/drivers/usb/gadget/acm/Mybuild
  src/drivers/usb/gadget/acm/acm_gadget.c
  src/drivers/usb/gadget/acm/acm_tty.c
  src/drivers/usb/gadget/acm/f_acm.c
Labels: module:drivers

#2206 Clean kernel thread module
  platform/fpga/templates/de0_nano_socfpga/mods.conf
  platform/opencv/templates/stm32f769i-discovery/mods.conf
  project/qt4/templates/ti816x/mods.conf
  src/kernel/task/multi/main_thread_allocator.c
  src/kernel/thread/Mybuild
  src/kernel/thread/stack_protect/Mybuild
  src/kernel/thread/stack_protect/stack_protect.c
  src/kernel/thread/stack_protect/stack_protect_mmu.h
  src/kernel/thread/stack_protect/stack_protect_none.c
  src/kernel/thread/stack_protect/stack_protect_none.h
  src/kernel/thread/thread_allocator/Mybuild
  src/kernel/thread/thread_allocator/thread_allocator_heap.c
  src/kernel/thread/thread_allocator/thread_allocator_pool.c
  src/kernel/thread/thread_cancel/Mybuild
  src/kernel/thread/thread_cancel/thread_cancel_disable.h
  src/kernel/thread/thread_cancel/thread_cancel_enable.c
  src/kernel/thread/thread_cancel/thread_cancel_enable.h
  src/kernel/thread/thread_local/Mybuild
  src/kernel/thread/thread_local/thread_local_heap.c
  src/kernel/thread/thread_local/thread_local_heap.h
  src/kernel/thread/thread_local/thread_local_none.h
  src/kernel/thread/thread_types.h
  templates/arm/de0_nano_soc/mods.conf
  templates/arm/sabrelite/mods.conf
  templates/arm/ti816x/mods.conf
  templates/e2k/monocube/mods.conf
Labels: module:kernel
