Repository embox/embox, pull requests merged in 2020-04, with the labels that each got.

#1928 net/arp: Refactor
  src/cmds/net/arp.c
  src/include/net/l3/arp.h
  src/include/net/neighbour.h
  src/net/l3/arp.c
  src/net/neighbour.c
Labels: module:net

#1930 Fix microblaze build
  mk/extbld/toolchain.mk
  mk/image3.mk
  src/arch/microblaze/kernel/traps_core.c
  templates/microblaze/debug/build.conf
  templates/microblaze/petalogix/build.conf
  templates/microblaze/qemu/build.conf
  templates/microblaze/test/units/build.conf
Labels: arch:microblaze

#1931 net/skb: Fix race condition
  src/net/skbuff/skb.c
  src/net/skbuff/skb_data.c
Labels: module:net

#1932 drivers/net/lan91c: Rework
  src/drivers/net/lan91c111/lan91c111.c
Labels: module:drivers

#1933 Add lthread static definition
  src/include/kernel/sched/affinity.h
  src/include/kernel/sched/runq.h
  src/include/kernel/sched/sched_timing.h
  src/include/kernel/sched/schedee_priority.h
  src/include/util/priolist.h
  src/kernel/lthread/lthread.c
  src/kernel/lthread/lthread.h
  src/kernel/sched/affinity/none.h
  src/kernel/sched/affinity/smp.c
  src/kernel/sched/affinity/smp.h
  src/kernel/sched/priority/inherit.h
  src/kernel/sched/priority/none.h
  src/kernel/sched/strategy/runq/list.c
  src/kernel/sched/strategy/runq/list.h
  src/kernel/sched/strategy/runq/list_array.h
  src/kernel/sched/strategy/runq/prioq.h
  src/kernel/sched/timing/none.h
  src/kernel/sched/timing/running_time.h
  src/net/l0/net_entry.c
Labels: module:kernel

#1939 drivers/net/lan91c: Fix packet miss for heavy network load
  src/drivers/net/lan91c111/lan91c111.c
Labels: module:drivers

#1941 Clean lan91c111 netcard
  src/drivers/net/lan91c111/lan91c111.c
  src/drivers/net/lan91c111/lan91c111.h
Labels: module:drivers

#1943 Mouse and keyboard tests
  platform/mesa/templates/mesa_x86_osmesa/mods.config
  platform/quake3/templates/qemu/mods.config
  src/cmds/testing/keyboard_test/Mybuild
  src/cmds/testing/keyboard_test/keyboard_test.c
  src/cmds/testing/mouse_fb_test/Mybuild
  src/cmds/testing/mouse_fb_test/mouse_fb_test.c
  src/drivers/input/i8042/Mybuild
  src/drivers/input/i8042/i8042.c
  src/drivers/input/keyboard/Mybuild
  src/drivers/input/keyboard/keyboard.c
  src/drivers/input/mouse/Mybuild
  src/drivers/input/mouse/ps_mouse.c
  src/drivers/video/fb.c
  src/include/drivers/i8042.h
  templates/x86/qt-app/mods.config
  templates/x86/qt-fb/mods.config
  templates/x86/qt-vnc/mods.config
Labels: cmds

#1944 Udp test
  src/cmds/net/arping.c
  src/cmds/net/rarping.c
  src/cmds/testing/udp_test_srv/Mybuild
  src/cmds/testing/udp_test_srv/readme
  src/cmds/testing/udp_test_srv/udp_test_srv.c
  src/drivers/net/tun/tun.c
  src/include/net/l2/ethernet.h
  src/include/net/netdevice.h
  src/net/l0/net_rx.c
  src/net/l0/net_tx.c
  src/net/l2/ethernet.c
  src/net/l3/arp.c
  src/net/l3/rarp.c
Labels: module:net

#1947 Fix usb mouse
  scripts/qemu/auto_qemu
  src/drivers/usb/class/Mybuild
  src/drivers/usb/class/usb_class_hid.c
  src/drivers/usb/class/usb_hid.c
  src/drivers/usb/class/usb_mass_storage.c
  src/drivers/usb/hc/ohci_pci.c
  src/include/drivers/usb/usb_hid.h
Labels: module:drivers

#1950 templates: Fix input_test path
  templates/arm/ti816x-qt/mods.config
  templates/arm/ti816x/mods.config
Labels: easy

#1953 Stm32f7 touchscreen
  src/cmds/hardware/input/Mybuild
  src/cmds/hardware/input/input.c
  src/cmds/testing/input/touchscreen/Mybuild
  src/cmds/testing/input/touchscreen/touchscreen_test.c
  src/drivers/input/input_dev.h
  src/drivers/input/touchscreen/Mybuild
  src/drivers/input/touchscreen/stm32/Mybuild
  src/drivers/input/touchscreen/stm32/stm32_cube_touchscreen.c
  src/drivers/input/touchscreen/stm32/stm32f746g_ts.h
  src/drivers/input/touchscreen/stm32/stm32f769i_ts.h
  src/drivers/input/touchscreen/touchscreen.h
  templates/arm/stm32f746g-discovery/mods.config
  templates/arm/stm32f769i-discovery/mods.config
  third-party/bsp/stmf7cube/stm32f769i/Mybuild
Labels: cmds, module:drivers

#1957 Fix usb-net
  scripts/qemu/auto_qemu
  src/cmds/hardware/lsusb/lsusb.c
  src/drivers/net/usbnet/Mybuild
  src/drivers/net/usbnet/usbnet.c
  src/drivers/usb/Mybuild
  src/drivers/usb/class/Mybuild
  src/drivers/usb/class/usb_class_cdc.c
  src/drivers/usb/class/usb_mass_storage.c
  src/drivers/usb/hc/ohci.h
  src/drivers/usb/hc/ohci_pci.c
  src/drivers/usb/usb_config.c
  src/drivers/usb/usb_core.c
  src/drivers/usb/usb_driver.c
  src/drivers/usb/usb_hub.c
  src/include/drivers/usb/usb.h
  src/include/drivers/usb/usb_cdc.h
Labels: module:drivers

#1959 Fix pjsip stm32f7 templates
  platform/pjsip/templates/stm32f746g-discovery/mods.config
  platform/pjsip/templates/stm32f769i-discovery/mods.config
Labels: templates

#1964 (graphics) Nuklear mouse and touchscreen
  platform/nuklear/cmd/grfx_rawfb/Mybuild
  platform/nuklear/cmd/grfx_rawfb/grfx_rawfb.c
  platform/nuklear/templates/stm32f7/build.conf
  platform/nuklear/templates/stm32f746g-discovery/build.conf
  platform/nuklear/templates/stm32f746g-discovery/lds.conf
  platform/nuklear/templates/stm32f746g-discovery/mods.config
  platform/nuklear/templates/stm32f746g-discovery/start_script.inc
  platform/nuklear/templates/stm32f769i-discovery/build.conf
  platform/nuklear/templates/stm32f769i-discovery/lds.conf
  platform/nuklear/templates/stm32f769i-discovery/mods.config
  platform/nuklear/templates/stm32f769i-discovery/start_script.inc
  platform/nuklear/templates/x86_qemu/mods.config
  src/cmds/testing/input/touchscreen/Mybuild
  src/cmds/testing/input/touchscreen/touchscreen_test.c
  src/drivers/input/Mybuild
  src/drivers/input/input_codes.h
  src/drivers/input/input_dev.h
  src/drivers/input/mouse/ps_mouse.c
  src/drivers/input/touchscreen/Mybuild
  src/drivers/input/touchscreen/stm32/Mybuild
  src/drivers/input/touchscreen/stm32/stm32_cube_touchscreen.c
  src/drivers/video/bochs.c
  src/drivers/video/fb.c
  src/drivers/video/fb.h
  third-party/lib/nuklear/Makefile
  third-party/lib/nuklear/patch.txt
Labels: graphics
