Repository embox/embox, pull requests merged in 2020-03, with the labels that each got.

#1759 cpuinfo build fix
  src/arch/x86/lib/cpu_performance/cpu_counter.c
  src/arch/x86/lib/cpu_performance/cpu_info.c
  templates/x86/qemu/mods.config
Labels: cmds

#1760 Solved Issue #1740 Incorrect output of more command on short files
  src/cmds/fs/more.c
  src/compat/posix/curses/curses.c
Labels: cmds

#1762 mk: makefile: Fix stack-size error on Mac
  Makefile
Labels: buildsystem

#1766 x86/qemu: multiple argumets for cat command
  src/cmds/fs/cat.c
Labels: cmds

#1773 posix: semaphore: Add an adaptive layer to get POSIX semaphore value
  src/compat/posix/semaphore.c
Labels: compat

#1777 fs: Fix odd error codes during write access to initfs
  src/fs/driver/initfs/initfs_dvfs.c
  src/fs/driver/initfs/initfs_fops.c
  src/fs/driver/initfs/initfs_oldfs.c
Labels: module:fs

#1787 riscv: add multiple harts case handling
  src/arch/riscv/kernel/boot.S
  templates/riscv/qemu-sifive-u/mods.config
Labels: arch:risc-v

#1789 serial/core: Add missing dependency
  src/drivers/serial/Mybuild
Labels: easy

#1780 Scsi simplify the logic
  src/drivers/scsi/scsi.c
  src/drivers/scsi/scsi.h
  src/drivers/scsi/scsi_disk_create.c
  src/drivers/usb/class/usb_mass_storage.c
Labels: module:drivers

#1786 x86/lib: cmds: Extend `cpuinfo` command output
  src/arch/x86/lib/cpu_performance/cpu_info.c
  src/arch/x86/lib/cpu_performance/cpu_info.h
  src/cmds/cpuinfo.c
Labels: cmds

#1793 Fix ping.exp test
  scripts/autotest/testsuite/net/ping/test.exp
  scripts/expect/ping.exp
Labels: module:tests

#1772 fixes #1745 math floating point tests
  src/tests/math/Mybuild
  src/tests/math/math_test_fp.c
Labels: module:tests

#1770 tests: posix: pthreads: Add tests for pthread_rwlock_*
  src/tests/posix/pthread/Mybuild
  src/tests/posix/pthread/pthread_rwlock_test.c
Labels: compat, module:tests

#1810 (templates) Replace sh-style comments with C-style comments
  platform/efm32zg_sk3200/templates/debug/build.conf
  platform/gpio_http_admin/templates/stm32f4_discovery/build.conf
  platform/nuklear/templates/arm_qemu/build.conf
  platform/pjsip/templates/stm32f746g-discovery/build.conf
  platform/pjsip/templates/stm32f769i-discovery/build.conf
  templates/arm/qt-stm32f7discovery/build.conf
  templates/arm/stm32f4-discovery-clang/build.conf
  templates/arm/stm32f4-discovery/build.conf
  templates/arm/stm32f746g-discovery/build.conf
  templates/arm/stm32f769i-discovery/build.conf
  templates/e2k/monocube/build.conf
Labels: templates

#1809 scripts: Fix QEMU run as root
  scripts/qemu/auto_qemu
Labels: scripts

#1792 Rework FS/mount
  platform/gpio_http_admin/templates/stm32f4_discovery/mods.config
  src/compat/posix/fs/chdir.c
  src/compat/posix/fs/dirent/dirent_dvfs.c
  src/compat/posix/fs/dirent/dirent_oldfs.c
  src/compat/posix/fs/dvfs/fsop.c
  src/compat/posix/fs/open/open_dvfs.c
  src/drivers/char/char_dev.c
  src/drivers/common/Mybuild
  src/drivers/common/device.c
  src/drivers/common/device.h
  src/fs/dentry.c
  src/fs/dentry.h
  src/fs/driver/devfs/Mybuild
  src/fs/driver/devfs/devfs_notify_stub.c
  src/fs/driver/devfs/devfs_oldfs.c
  src/fs/driver/fat/fat.h
  src/fs/driver/fat/fat_common.c
  src/fs/driver/fat/fat_dvfs.c
  src/fs/driver/fat/fat_fops.c
  src/fs/driver/fat/fat_oldfs.c
  src/fs/driver/initfs/Mybuild
  src/fs/driver/initfs/initfs.h
  src/fs/driver/initfs/initfs_dvfs.c
  src/fs/driver/initfs/initfs_fops.c
  src/fs/driver/initfs/initfs_oldfs.c
  src/fs/driver/ramfs/ramfs.h
  src/fs/driver/ramfs/ramfs_dvfs.c
  src/fs/driver/ramfs/ramfs_oldfs.c
  src/fs/driver/ramfs/ramfs_ops.c
  src/fs/dvfs/compat.c
  src/fs/dvfs/dcache_polynomial.c
  src/fs/dvfs/dvfs.c
  src/fs/dvfs/dvfs_dentry.c
  src/fs/dvfs/dvfs_util.c
  src/fs/dvfs/inode.c
  src/fs/dvfs/inode.h
  src/fs/fuse/fuse_linux.c
  src/fs/inode.c
  src/fs/inode.h
  src/fs/mount_table.c
  src/fs/super_block.c
  src/fs/syslib/Mybuild
  src/fs/syslib/kfsop.c
  src/fs/vfs.c
  src/include/fs/mount.h
  templates/arm/stm32_modbus/mods.config
  templates/arm/stm32f4-discovery/mods.config
Labels: module:fs, refactoring

#1826 char_dev_stub: Unify interfaces with char_dev
  src/drivers/char/char_dev_stub.h
Labels: easy, module:drivers

#1831 Fix mips/baikal template
  src/drivers/common/Mybuild
  src/drivers/common/memory.c
  src/drivers/common/periph_memory_alloc.c
  src/drivers/common/periph_memory_alloc.h
  src/drivers/mmc/host/dw_mmc/Mybuild
  src/drivers/mmc/host/dw_mmc/dw_mmc_socfpga.c
  src/drivers/net/dwc_gmac/Mybuild
  src/drivers/net/dwc_gmac/dwc_gmac.c
  src/fs/syslib/nokfile.c
  templates/mips/baikal/mods.config
Labels: module:drivers, module:fs, templates

#1839 scsi: Make scsi commands filling linear
  src/drivers/scsi/scsi.c
  src/drivers/scsi/scsi.h
  src/drivers/scsi/scsi_disk.c
Labels: module:drivers

#1832 load_app: Fix ELF section parsing
  mk/script/loadable-build.mk
  src/cmds/load_app/load_app.c
Labels: cmds

#1829 Extended PNG, GIF, ELF, XML format for file command
  src/cmds/fs/file.c
  src/fs/file_format.c
  src/fs/file_format.h
Labels: cmds

#1868 drivers/usb: Fix gcc warnings when compiled with -O2
  src/drivers/usb/class/usb_mass_storage.c
  src/drivers/usb/usb_hub.c
Labels: easy, module:drivers

#1784 implemented macros/functions from BSD queue.h. (Fixed #1644)
  src/include/sys/queue.h
  src/tests/bsd/Mybuild
  src/tests/bsd/queue_test.c
Labels: compat

#1841 Use lthread to handle USB requests
  src/drivers/usb/Mybuild
  src/drivers/usb/hc/Mybuild
  src/drivers/usb/hc/ehci.h
  src/drivers/usb/hc/ehci_hcd.c
  src/drivers/usb/hc/ehci_mem.c
  src/drivers/usb/hc/ehci_q.c
  src/drivers/usb/hc/ohci.h
  src/drivers/usb/hc/ohci_pci.c
  src/drivers/usb/usb_config.c
  src/drivers/usb/usb_core.c
  src/drivers/usb/usb_queue.c
  src/include/drivers/usb/usb.h
  src/include/drivers/usb/usb_queue.h
Labels: module:drivers

#1873 usb: Do not disable hub ports power
  src/drivers/usb/usb_hub.c
Labels: module:drivers

#1878 templates: Add fat driver to imx6/iwave
  templates/arm/iwave_imx6/mods.config
Labels: easy, templates

#1880 Fix DumbFS driver
  src/fs/driver/dfs/dfs.c
  templates/arm/stm32_dvfs/mods.config
  templates/arm/stm32_modbus/mods.config
Labels: module:fs, templates

#1881 fs: Remove .start_pos from inode structure
  src/fs/driver/dfs/dfs.c
  src/fs/driver/dfs/dfs.h
  src/fs/dvfs/inode.h
Labels: module:fs

#1790 Added strptime function and tests
  src/compat/posix/include/time.h
  src/compat/posix/time/Mybuild
  src/compat/posix/time/strptime.c
  src/tests/posix/time/Mybuild
  src/tests/posix/time/strptime_test.c
  templates/x86/test/units/mods.config
Labels: compat

#1705 Mirror Linux lsblk command
  src/cmds/hardware/lsblk/lsblk.c
Labels: cmds

#1888 vmem/vmem_set_flags: Add missing TLB flush for region flags update
  src/mem/vmem/mapper.c
Labels: module:mem

#1890 Run on Rpi1 model b rev2.0
  src/arch/arm/armlib/exceptions/Mybuild
  src/arch/arm/mmu/Mybuild
  src/arch/arm/mmu/cache.c
  src/drivers/serial/Mybuild
  src/drivers/serial/pl011/Mybuild
  src/drivers/serial/pl011/pl011.c
  src/drivers/serial/raspi_uart.c
  templates/arm/raspi/mods.config
  templates/arm/raspi/system_start.inc
Labels: module:drivers, templates

#1882 1870 add %n for scanf
  src/compat/libc/stdio/scanf.c
  src/tests/stdio/scanf_test.c
Labels: compat

#1893 templates: Rename arm/raspi -> arm/rpi1-model-b
  templates/arm/rpi1-model-b/build.conf
  templates/arm/rpi1-model-b/lds.conf
  templates/arm/rpi1-model-b/mods.config
  templates/arm/rpi1-model-b/start_script.inc
  templates/arm/rpi1-model-b/system_start.inc
Labels: easy, templates

#1887 Improve dwc gmac net card driver
  src/compat/linux/include/asm-generic/dma-mapping.h
  src/drivers/net/dwc_gmac/Mybuild
  src/drivers/net/dwc_gmac/dwc_gmac.c
  src/drivers/net/dwc_gmac/dwc_gmac.h
  src/net/netdev.c
Labels: module:drivers

#1899 drivers/net/dwc_gmac: Make xmit handler reentrant
  src/drivers/net/dwc_gmac/dwc_gmac.c
Labels: module:net

#1902 Baikal-t qemu
  scripts/qemu/auto_qemu
  src/arch/mips/include/asm/mipsregs.h
  src/arch/mips/kernel/Mybuild
  src/arch/mips/kernel/entry.S
  src/arch/mips/kernel/interrupt.c
  src/arch/mips/mm/Mybuild
  src/arch/mips/mm/cache.c
  src/arch/mips/mm/mem_barriers.h
  src/arch/mips/subarch/p5600/Mybuild
  src/arch/mips/subarch/p5600/global_control_block/Mybuild
  src/arch/mips/subarch/p5600/global_control_block/global_control_block.c
  src/arch/mips/subarch/p5600/global_control_block/global_control_block.h
  src/arch/mips/subarch/p5600/mips32_p5600_arch.c
  src/drivers/interrupt/Mybuild
  src/drivers/interrupt/mips_gic/Mybuild
  src/drivers/interrupt/mips_gic/mips_gic.c
  src/drivers/interrupt/mips_gic/mips_gic.h
  src/drivers/interrupt/mips_intc.c
  src/drivers/interrupt/mips_intc/Mybuild
  src/drivers/interrupt/mips_intc/mips_intc.c
  src/drivers/interrupt/mips_intc/mips_intc.h
  templates/mips/baikal/mods.config
  templates/mips/baikal/start_script.inc
  templates/mips/baikal/system_start.inc
  templates/mips/baikal_t_boot/build.conf
  templates/mips/baikal_t_boot/lds.conf
  templates/mips/baikal_t_boot/mods.config
  templates/mips/baikal_t_boot/readme
  templates/mips/baikal_t_boot/rootfs/network
  templates/mips/baikal_t_boot/start_script.inc
  templates/mips/c++_demo/build.conf
  templates/mips/qemu/build.conf
  templates/mips/test/units/build.conf
Labels: arch:mips, module:drivers, scripts

#1913 Fix luasocket test
  templates/x86/test/lang/start_script.inc
  third-party/lua/lib/luasocket/http_request.lua
Labels: module:tests
