Repository embox/embox, pull requests merged in 2020-02, with the labels that each got.

#1657 Unify devfs
  platform/etnaviv/templates/imx6/mods.config
  platform/mesa/templates/mesa_imx6/mods.config
  platform/nuklear/templates/stm32f7/mods.config
  platform/opencv/templates/stm32f764g-discovery/mods.config
  platform/opencv/templates/stm32f769i-discovery/mods.config
  platform/stm32f4_multibots/templates/nrf24/mods.config
  platform/stm32f7/templates/stm32f7_discovery/mods.config
  platform/stm32f7/templates/usb-device/mods.config
  src/compat/posix/fs/open/Mybuild
  src/drivers/block_dev/block_dev.c
  src/drivers/char/Mybuild
  src/drivers/char/char_dev.c
  src/drivers/char/char_dev.h
  src/drivers/char/char_dev_dvfs/Mybuild
  src/drivers/char/char_dev_oldfs/Mybuild
  src/drivers/char/char_dev_oldfs/char_dev_oldfs.c
  src/drivers/serial/Mybuild
  src/drivers/serial/uart_dev.c
  src/drivers/serial/uart_dev_dvfs.c
  src/drivers/tty/serial/Mybuild
  src/drivers/tty/serial/idesc_serial.c
  src/drivers/tty/serial/idesc_serial.h
  src/drivers/tty/serial/idesc_serial_dvfs.c
  src/drivers/tty/serial/idesc_serial_oldfs.c
  src/drivers/tty/serial/ttys.c
  src/drivers/tty/serial/ttys.h
  src/drivers/tty/serial/ttys_dvfs.c
  src/drivers/tty/serial/ttys_oldfs.h
  src/fs/Mybuild
  src/fs/driver/devfs/Mybuild
  src/fs/driver/devfs/devfs_common.c
  src/fs/driver/devfs/devfs_dvfs.c
  src/fs/driver/devfs/devfs_oldfs.c
  src/fs/dvfs/Mybuild
  src/fs/dvfs/inode.c
  src/fs/dvfs/inode.h
  src/fs/inode.c
  src/fs/inode.h
  src/fs/syslib/kfile.c
  templates/aarch64/imx8/mods.config
  templates/arm/de0_nano_soc/mods.config
  templates/arm/el24d2/mods.config
  templates/arm/iwave_imx6/mods.config
  templates/arm/sk_imx6q/mods.config
  templates/arm/stm32_dvfs/mods.config
  templates/arm/stm32_modbus/mods.config
  templates/arm/stm32f4-discovery-clang/mods.config
  templates/arm/stm32f4-discovery/mods.config
  templates/arm/stm32f764g-discovery/mods.config
  templates/arm/stm32f769i-discovery/mods.config
  templates/arm/var_som_mx6/mods.config
  templates/e2k/monocube/mods.config
  templates/microblaze/test/units/mods.config
  templates/ppc/qemu/mods.config
Labels: module:drivers

#1659 Fix block and char devices close ops
  src/drivers/block_dev/block_dev_idesc.c
  src/drivers/char/char_dev.c
  src/fs/file_desc.c
Labels: module:drivers

#1660 Fix stm32 i2c
  src/drivers/i2c/adapters/stm32/stm32_i2c.c
  src/drivers/sensors/gy_30/gy_30.c
Labels: module:drivers

#1661 fs/fs_driver: Remove functions for dynamic fs driver allocation
  src/fs/driver/ext3/ext3.c
  src/fs/driver/fs_driver.c
  src/fs/file_system.c
  src/fs/syslib/kfile_node.c
  src/fs/syslib/kfsop.c
  src/include/fs/file_system.h
  src/include/fs/fs_driver.h
Labels: module:fs

#1663 fs: Use common code to find fs_driver
  src/cmds/fs/mkfs.c
  src/compat/posix/fs/statvfs/statvfs.c
  src/fs/Mybuild
  src/fs/driver/Mybuild
  src/fs/driver/devfs/devfs_dvfs.c
  src/fs/driver/dfs/dfs.c
  src/fs/driver/dvfs_driver.c
  src/fs/driver/ext2fuse/ext2fuse.c
  src/fs/driver/ext3/ext3.c
  src/fs/driver/fat/fat_dvfs.c
  src/fs/driver/fs_driver.c
  src/fs/driver/initfs/initfs_dvfs.c
  src/fs/driver/ramfs/ramfs_dvfs.c
  src/fs/dvfs/Mybuild
  src/fs/dvfs/dvfs.c
  src/fs/dvfs/dvfs.h
  src/fs/dvfs/dvfs_util.c
  src/fs/dvfs/fs_driver.h
  src/fs/file_system.c
  src/fs/fuse/fuse_linux.c
  src/fs/rootfs_dvfs.c
  src/fs/syslib/kfsop.c
  src/include/fs/fs_driver.h
Labels: module:fs, refactoring

#1666 (templates) Remove non-existant uart_dev_dvfs module from all templates
  platform/etnaviv/templates/imx6/mods.config
  platform/fpga/templates/de0_nano_socfpga/mods.config
  platform/gpio_http_admin/templates/stm32f4_discovery/mods.config
  platform/mesa/templates/mesa_imx6/mods.config
  platform/nuklear/templates/stm32f7/mods.config
  platform/opencv/templates/arm-qemu/mods.config
  platform/opencv/templates/stm32f764g-discovery/mods.config
  platform/opencv/templates/stm32f769i-discovery/mods.config
  platform/stm32f4_multibots/templates/nrf24/mods.config
  platform/stm32f7/templates/stm32f7_discovery/mods.config
  platform/stm32f7/templates/usb-device/mods.config
  templates/aarch64/imx8/mods.config
  templates/aarch64/qemu/mods.config
  templates/arm/c++_demo/mods.config
  templates/arm/de0_nano_soc/mods.config
  templates/arm/el24d2/mods.config
  templates/arm/iwave_imx6/mods.config
  templates/arm/qemu/mods.config
  templates/arm/sabrelite/mods.config
  templates/arm/sk_imx6q/mods.config
  templates/arm/stm32_dvfs/mods.config
  templates/arm/stm32_modbus/mods.config
  templates/arm/stm32f4-discovery-clang/mods.config
  templates/arm/stm32f4-discovery/mods.config
  templates/arm/stm32f764g-discovery/mods.config
  templates/arm/stm32f769i-discovery/mods.config
  templates/arm/test/units/mods.config
  templates/arm/var_som_mx6/mods.config
  templates/e2k/monocube/mods.config
  templates/microblaze/qemu/mods.config
  templates/mips/c++_demo/mods.config
  templates/mips/qemu/mods.config
  templates/sparc/c++_demo/mods.config
  templates/sparc/qemu/mods.config
  templates/x86/c++_demo/mods.config
  templates/x86/qemu/mods.config
Labels: easy, templates

#1664 templates: Rename arm template stm32f764g->stm32f746g
  platform/opencv/templates/stm32f746g-discovery/build.conf
  platform/opencv/templates/stm32f746g-discovery/lds.conf
  platform/opencv/templates/stm32f746g-discovery/mods.config
  platform/opencv/templates/stm32f746g-discovery/qspi_objcopy.sh
  platform/opencv/templates/stm32f746g-discovery/readme
  platform/opencv/templates/stm32f746g-discovery/rootfs/fruits.png
  platform/opencv/templates/stm32f746g-discovery/start_script.inc
  platform/pjsip/templates/stm32f746g-discovery/build.conf
  platform/pjsip/templates/stm32f746g-discovery/lds.conf
  platform/pjsip/templates/stm32f746g-discovery/mods.config
  platform/pjsip/templates/stm32f746g-discovery/start_script.inc
  src/drivers/audio/stm32/Mybuild
  src/drivers/audio/stm32/stm32f746g_discovery_audio.c
  src/drivers/audio/stm32/stm32f746g_discovery_audio.h
  src/drivers/block_dev/stm32_sd/Mybuild
  src/drivers/block_dev/stm32_sd/stm32f746g_discovery_sd.h
  templates/arm/stm32f746g-discovery/build.conf
  templates/arm/stm32f746g-discovery/lds.conf
  templates/arm/stm32f746g-discovery/mods.config
  templates/arm/stm32f746g-discovery/rootfs/network
  templates/arm/stm32f746g-discovery/system_start.inc
Labels: easy, templates

#1665 fs/dvfs: Get rid of bdev_file from super_block
  src/cmds/fs/mount.c
  src/fs/driver/devfs/devfs_dvfs.c
  src/fs/driver/dfs/dfs.c
  src/fs/driver/ext2fuse/ext2fuse.c
  src/fs/driver/fat/fat_dvfs.c
  src/fs/driver/initfs/initfs_dvfs.c
  src/fs/driver/ramfs/ramfs_dvfs.c
  src/fs/dvfs/dvfs.c
  src/fs/dvfs/dvfs.h
  src/fs/dvfs/dvfs_util.c
  src/fs/dvfs/fs_driver.h
Labels: module:fs, refactoring

#1668 (templates) Remove non-existant embox.fs.driver.dvfs_driver from templates
  platform/etnaviv/templates/imx6/mods.config
  platform/fpga/templates/de0_nano_socfpga/mods.config
  platform/mesa/templates/mesa_imx6/mods.config
  templates/aarch64/imx8/mods.config
  templates/arm/de0_nano_soc/mods.config
  templates/arm/el24d2/mods.config
  templates/arm/iwave_imx6/mods.config
  templates/arm/sk_imx6q/mods.config
  templates/arm/stm32_dvfs/mods.config
  templates/arm/stm32f3-discovery/mods.config
  templates/arm/stm32l4-discovery/mods.config
  templates/arm/var_som_mx6/mods.config
Labels: easy, templates

#1669 Add l3g4200d gyro driver
  src/cmds/hardware/sensors/l3g4200d/Mybuild
  src/cmds/hardware/sensors/l3g4200d/l3g4200d.c
  src/drivers/i2c/adapters/stm32/Mybuild
  src/drivers/i2c/adapters/stm32/stm32_i2c.c
  src/drivers/sensors/l3g4200d/Mybuild
  src/drivers/sensors/l3g4200d/l3g4200d.c
  src/drivers/sensors/l3g4200d/l3g4200d.h
Labels: module:drivers

#1662 Rename fs/file_system -> fs/super_block
  src/cmds/fs/mount.c
  src/fs/Mybuild
  src/fs/driver/binfs/binfs.c
  src/fs/driver/cifs/cifs.c
  src/fs/driver/devfs/devfs_oldfs.c
  src/fs/driver/ext2/ext2.c
  src/fs/driver/ext2/ext2_balloc.c
  src/fs/driver/ext2/ext2_xattr.c
  src/fs/driver/ext3/ext3.c
  src/fs/driver/ext4/ext4.c
  src/fs/driver/ext4/ext4_balloc.c
  src/fs/driver/fat/fat_dvfs.c
  src/fs/driver/fat/fat_oldfs.c
  src/fs/driver/initfs/initfs_oldfs.c
  src/fs/driver/iso9660/cdfs.c
  src/fs/driver/jffs2/flashio.c
  src/fs/driver/jffs2/gcthread.c
  src/fs/driver/jffs2/jffs2.c
  src/fs/driver/jffs2/jffs2.h
  src/fs/driver/nfs/nfs.c
  src/fs/driver/ntfs/ntfs.c
  src/fs/driver/ramfs/ramfs_dvfs.c
  src/fs/driver/ramfs/ramfs_oldfs.c
  src/fs/dvfs/dvfs.h
  src/fs/file_system.c
  src/fs/inode.h
  src/fs/super_block.c
  src/fs/syslib/kfile.c
  src/fs/syslib/kfile_node.c
  src/fs/syslib/kfsop.c
  src/fs/xattr.c
  src/include/fs/file_system.h
  src/include/fs/super_block.h
Labels: module:fs, refactoring

#1671 cmds: Move gy_30 sensor demo to hardware/sensors
  src/cmds/hardware/sensors/gy_30/Mybuild
  src/cmds/hardware/sensors/gy_30/gy_30.c
Labels: cmds, easy

#1672 ext2: Refactor some functions for further VFS rework
  src/fs/driver/ext2/ext2.c
  src/fs/driver/ext2/ext2_balloc.c
  src/fs/driver/ext2/ext2_xattr.c
  src/fs/driver/ext3/ext3.c
  src/fs/driver/ext4/ext4_balloc.c
  src/include/fs/ext2.h
Labels: module:fs, refactoring

#1673 fs: Change mount handlers signature
  src/fs/driver/binfs/binfs.c
  src/fs/driver/cifs/cifs.c
  src/fs/driver/devfs/devfs_dvfs.c
  src/fs/driver/devfs/devfs_oldfs.c
  src/fs/driver/dfs/dfs.c
  src/fs/driver/ext2/ext2.c
  src/fs/driver/ext2fuse/ext2fuse.c
  src/fs/driver/ext3/ext3.c
  src/fs/driver/ext4/ext4.c
  src/fs/driver/fat/fat_dvfs.c
  src/fs/driver/fat/fat_oldfs.c
  src/fs/driver/initfs/initfs_dvfs.c
  src/fs/driver/initfs/initfs_oldfs.c
  src/fs/driver/iso9660/cdfs.c
  src/fs/driver/jffs2/jffs2.c
  src/fs/driver/nfs/nfs.c
  src/fs/driver/ntfs/ntfs.c
  src/fs/driver/ramfs/ramfs_dvfs.c
  src/fs/driver/ramfs/ramfs_oldfs.c
  src/fs/dvfs/compat.c
  src/fs/dvfs/dvfs.c
  src/fs/dvfs/dvfs.h
  src/fs/dvfs/dvfs_idesc_ops.c
  src/fs/dvfs/dvfs_util.c
  src/fs/dvfs/fs_driver.h
  src/fs/fuse/fuse_linux.c
  src/fs/fuse/fuse_module_linux.h
  src/fs/fuse/fuse_module_none.h
  src/fs/fuse/fuse_none.c
  src/fs/syslib/fsop.c
  src/fs/syslib/kfsop.c
  src/fs/syslib/nokfsop.c
  src/include/fs/fs_driver.h
  src/include/fs/mount.h
Labels: module:fs, refactoring

#1676 cmds/fs/mkramdisk: Print name of the created device
  src/cmds/fs/mkramdisk.c
Labels: cmds, easy

#1675 fs: Move vfs_del_node() from .delete_node to common VFS code
  src/fs/driver/cifs/cifs.c
  src/fs/driver/ext2/ext2.c
  src/fs/driver/ext4/ext4.c
  src/fs/driver/fat/fat_oldfs.c
  src/fs/driver/jffs2/jffs2.c
  src/fs/driver/nfs/nfs.c
  src/fs/driver/ntfs/ntfs.c
  src/fs/driver/ramfs/ramfs_oldfs.c
  src/fs/syslib/kfsop.c
Labels: module:fs, refactoring

#1674 fs: Split VFS mount handlers
  src/fs/driver/binfs/binfs.c
  src/fs/driver/cifs/cifs.c
  src/fs/driver/devfs/devfs_oldfs.c
  src/fs/driver/ext2/ext2.c
  src/fs/driver/ext3/ext3.c
  src/fs/driver/ext4/ext4.c
  src/fs/driver/fat/fat_common.c
  src/fs/driver/fat/fat_dvfs.c
  src/fs/driver/fat/fat_oldfs.c
  src/fs/driver/initfs/initfs_oldfs.c
  src/fs/driver/iso9660/cdfs.c
  src/fs/driver/jffs2/jffs2.c
  src/fs/driver/nfs/nfs.c
  src/fs/driver/ntfs/ntfs.c
  src/fs/driver/ramfs/ramfs.h
  src/fs/driver/ramfs/ramfs_dvfs.c
  src/fs/driver/ramfs/ramfs_oldfs.c
  src/fs/driver/ramfs/ramfs_ops.c
  src/fs/inode.h
  src/fs/super_block.c
  src/fs/syslib/kfsop.c
  src/include/fs/fs_driver.h
  src/include/fs/super_block.h
Labels: module:fs, refactoring

#1678 l3g4200d gyro add SPI mode
  src/cmds/hardware/sensors/l3g4200d/Mybuild
  src/drivers/sensors/l3g4200d/Mybuild
  src/drivers/sensors/l3g4200d/l3g4200d.c
  src/drivers/sensors/l3g4200d/l3g4200d_i2c.c
  src/drivers/sensors/l3g4200d/l3g4200d_spi.c
  src/drivers/sensors/l3g4200d/l3g4200d_transfer.h
  src/drivers/spi/stm32/spi_conf_f4.h
  src/drivers/spi/stm32/stm32.c
  src/drivers/spi/stm32/stm32_spi1.c
  src/drivers/spi/stm32/stm32_spi2.c
Labels: module:drivers

#1677 vfs: Set superblock pointer for inode in common code
  src/compat/posix/fs/dirent/dirent_oldfs.c
  src/fs/driver/cifs/cifs.c
  src/fs/driver/devfs/devfs_oldfs.c
  src/fs/driver/ext2/ext2.c
  src/fs/driver/ext4/ext4.c
  src/fs/driver/fat/fat_oldfs.c
  src/fs/driver/initfs/initfs_oldfs.c
  src/fs/driver/iso9660/cdfs.c
  src/fs/driver/jffs2/jffs2.c
  src/fs/driver/nfs/nfs.c
  src/fs/driver/ntfs/ntfs.c
  src/fs/driver/ramfs/ramfs_oldfs.c
  src/fs/vfs.c
Labels: module:fs, refactoring

#1679 fs/driver: Don't access inode->privdata directly
  src/fs/driver/devfs/devfs_oldfs.c
  src/fs/driver/ext2/ext2.c
  src/fs/driver/ext2/ext2_balloc.c
  src/fs/driver/ext2/ext2_xattr.c
  src/fs/driver/ext4/ext4.c
  src/fs/driver/ext4/ext4_balloc.c
  src/fs/driver/fat/fat_oldfs.c
  src/fs/driver/iso9660/cdfs.c
  src/fs/driver/jffs2/jffs2.c
  src/fs/driver/nfs/nfs.c
  src/fs/driver/ntfs/ntfs.c
  src/fs/driver/ramfs/ramfs_oldfs.c
  src/fs/dvfs/inode.c
  src/fs/dvfs/inode.h
  src/fs/inode.c
  src/fs/inode.h
Labels: module:fs, refactoring

#1680 vfs: Free super block in kumount()
  src/fs/driver/cifs/cifs.c
  src/fs/driver/ext2/ext2.c
  src/fs/driver/ext4/ext4.c
  src/fs/driver/fat/fat_oldfs.c
  src/fs/driver/iso9660/cdfs.c
  src/fs/driver/jffs2/jffs2.c
  src/fs/driver/nfs/nfs.c
  src/fs/driver/ntfs/ntfs.c
  src/fs/syslib/kfsop.c
Labels: module:fs, refactoring

#1681 Rework umount()
  src/fs/driver/binfs/binfs.c
  src/fs/driver/cifs/cifs.c
  src/fs/driver/ext2/ext2.c
  src/fs/driver/ext3/ext3.c
  src/fs/driver/ext4/ext4.c
  src/fs/driver/fat/fat_dvfs.c
  src/fs/driver/fat/fat_fops.c
  src/fs/driver/fat/fat_oldfs.c
  src/fs/driver/iso9660/cdfs.c
  src/fs/driver/jffs2/gcthread.c
  src/fs/driver/jffs2/jffs2.c
  src/fs/driver/jffs2/jffs2.h
  src/fs/driver/jffs2/malloc_jffs2.c
  src/fs/driver/jffs2/nodelist.h
  src/fs/driver/nfs/nfs.c
  src/fs/driver/ntfs/ntfs.c
  src/fs/super_block.c
  src/fs/syslib/kfsop.c
  src/include/fs/fs_driver.h
Labels: module:fs, refactoring

#1682 L3g4200d i2c imx6
  src/drivers/clk/ccm_imx6/ccm_imx6.c
  src/drivers/i2c/adapters/imx_i2c/Mybuild
  src/drivers/i2c/adapters/imx_i2c/imx_i2c1.c
  src/drivers/i2c/adapters/imx_i2c/imx_i2c2.c
  src/drivers/i2c/adapters/imx_i2c/imx_i2c3.c
  templates/arm/iwave_imx6/mods.config
Labels: module:drivers

#1683 Mount rework
  src/fs/driver/devfs/devfs_dvfs.c
  src/fs/driver/devfs/devfs_oldfs.c
  src/fs/driver/ext2fuse/ext2fuse.c
  src/fs/driver/fat/fat_common.c
  src/fs/driver/fat/fat_dvfs.c
  src/fs/driver/fat/fat_oldfs.c
  src/fs/driver/fuse/fuse_fs_driver.c
  src/fs/driver/initfs/initfs_dvfs.c
  src/fs/driver/ramfs/ramfs_dvfs.c
  src/fs/driver/ramfs/ramfs_oldfs.c
  src/fs/dvfs/dvfs.c
  src/fs/dvfs/dvfs.h
  src/fs/dvfs/dvfs_dentry.c
  src/fs/dvfs/dvfs_util.c
  src/fs/dvfs/file_desc.h
  src/fs/dvfs/fs_driver.h
  src/fs/dvfs/inode.c
  src/fs/dvfs/inode.h
  src/fs/inode.c
  src/fs/inode.h
  src/fs/super_block.c
  src/fs/syslib/kfsop.c
  src/fs/vfs.c
  src/include/fs/inode_operation.h
  src/include/fs/super_block.h
Labels: module:fs, refactoring

#1684 l3g4200d spi mode on imx6 iwave
  src/arch/arm/imx/iomuxc/iomuxc.h
  src/drivers/clk/ccm_imx6/ccm_imx6.c
  src/drivers/gpio/gpio.c
  src/drivers/gpio/imx/Mybuild
  src/drivers/gpio/imx/imx.c
  src/drivers/spi/imx6_ecspi/Mybuild
  src/drivers/spi/imx6_ecspi/imx6_ecspi.c
  src/drivers/spi/imx6_ecspi/imx6_ecspi.h
  src/drivers/spi/imx6_ecspi/imx6_ecspi1.c
  src/drivers/spi/imx6_ecspi/imx6_ecspi2.c
  templates/arm/iwave_imx6/mods.config
  templates/arm/sk_imx6q/mods.config
Labels: module:drivers

#1687 Add l3g4200d gyro (spi mode) to DE0 Nano SOC
  src/drivers/gpio/dwapb/Mybuild
  src/drivers/gpio/dwapb/dwapb_gpio.c
  src/drivers/sensors/l3g4200d/l3g4200d_spi.c
  src/drivers/spi/dw_spi/Mybuild
  src/drivers/spi/dw_spi/dw_spi.c
  src/drivers/spi/dw_spi/dw_spi.h
  templates/arm/de0_nano_soc/mods.config
  templates/arm/el24d2/mods.config
Labels: module:drivers

#1688 Break annoying dependency cycle for vmem
  src/arch/e2k/mmu/Mybuild
  src/mem/vmem/Mybuild
Labels: easy, module:mem

#1691 mk: Stop building if used with make 4.3
  Makefile
Labels: buildsystem

#1693 imx6 ehci
  src/arch/x86/mmu/Mybuild
  src/arch/x86/mmu/cache.c
  src/cmds/hardware/partition/Mybuild
  src/cmds/hardware/partition/partition.c
  src/drivers/block_dev/partition/partition.h
  src/drivers/scsi/scsi_disk_create.c
  src/drivers/usb/class/usb_mass_storage.c
  src/drivers/usb/hc/ehci.h
  src/drivers/usb/hc/ehci_hcd.c
  src/drivers/usb/hc/ehci_mem.c
  src/drivers/usb/hc/ehci_q.c
  src/drivers/usb/phy/phy_mxs_usb.c
  src/drivers/usb/usb_config.c
  src/drivers/usb/usb_core.c
  src/drivers/usb/usb_hub.c
  src/include/drivers/usb/usb.h
  templates/arm/iwave_imx6/mods.config
  templates/arm/sk_imx6q/mods.config
  templates/x86/qemu/mods.config
  templates/x86/qemu/system_start.inc
Labels: module:drivers

#1692 mk: Add real fix for make 4.3
  Makefile
  mk/core/define.mk
  mk/extbld/lib.mk
  src/arch/usermode86/host/host_net.c
Labels: buildsystem

#1697 Ehci multiple urbs
  src/drivers/usb/hc/ehci.h
  src/drivers/usb/hc/ehci_hcd.c
  src/drivers/usb/hc/ehci_mem.c
  src/drivers/usb/hc/ehci_q.c
  src/drivers/usb/usb_hub.c
Labels: module:drivers

#1703 ci: Use 'index.html' from test folder for page download test
  scripts/continuous/net/run.sh
Labels: scripts

#1704 stm32f4: Add workaround for spi1 due to stm32f4 errata
  src/drivers/spi/stm32/stm32_spi1.c
  third-party/bsp/stmf4cube/Mybuild
  third-party/bsp/stmf4cube/arch.c
Labels: bug, module:drivers

#1711 tempates: Add -mapcs-frame flag to arm templates
  platform/etnaviv/templates/imx6/build.conf
  platform/fpga/templates/de0_nano_socfpga/build.conf
  platform/mesa/templates/integratorcp/build.conf
  platform/mesa/templates/mesa_imx6/build.conf
  platform/nuklear/templates/arm_qemu/build.conf
  platform/opencv/templates/arm-qemu/build.conf
  platform/pjsip/templates/arm-qemu/build.conf
  templates/arm/am3505/build.conf
  templates/arm/arria_v/build.conf
  templates/arm/bpi/build.conf
  templates/arm/c++_demo/build.conf
  templates/arm/de0_nano_soc/build.conf
  templates/arm/el24d2/build.conf
  templates/arm/iwave_imx6/build.conf
  templates/arm/omap/build.conf
  templates/arm/qemu/build.conf
  templates/arm/qt-app/build.conf
  templates/arm/raspi/build.conf
  templates/arm/sabrelite/build.conf
  templates/arm/sk_imx6q/build.conf
  templates/arm/test/units/build.conf
  templates/arm/var_som_mx6/build.conf
  templates/arm/vexpress-a9/build.conf
Labels: templates

#1689 Fix DWC GMAC net driver for -O2 build
  src/drivers/common/memory.c
  src/drivers/net/dwc_gmac/dwc_gmac.c
  src/drivers/net/dwc_gmac/dwc_gmac.h
Labels: module:drivers

#1728 fs/vfs: Fix if_root_follow_up()
  src/fs/vfs.c
Labels: bug, module:fs

#1727 cmd: testing: fix incorrect parsing of command line arguments
  src/cmds/testing/block_dev/block_dev_test.c
Labels: cmds

#1733 Ohci disable "port power off" handling
  src/drivers/usb/hc/ohci_pci.c
Labels: bug, module:drivers

#1715 [mem]Implement memalign for heap_simple memory allocator
  src/mem/heap/heap_simple.c
Labels: module:mem

#1735 scripts/qemu/start_script: Add missing iptables rules for IP packets forwarding
  scripts/qemu/start_script
Labels: scripts

#1724 Add error check in printf
  src/compat/libc/stdio/fprintf.c
  src/compat/libc/stdio/printf_impl.c
  src/compat/libc/stdio/printf_impl.h
  src/compat/libc/stdio/snprintf.c
  src/compat/libc/stdio/sprintf.c
  src/lib/printk.c
Labels: compat

#1738 Simplify mass storage and scsi
  src/drivers/scsi/scsi.c
  src/drivers/scsi/scsi_disk.c
  src/drivers/usb/class/usb_mass_storage.c
  src/drivers/usb/class/usb_mass_storage.h
  src/drivers/usb/usb_core.c
  src/include/drivers/usb/usb.h
Labels: module:drivers
