Repository embox/embox, pull requests merged in 2020-08, with the labels that each got.

#2128 qt: Fix Q_FOREACH for gcc >= 9
  third-party/qt/Makefile
  third-party/qt/q_foreach_bug_g++9.txt
Labels: module:thirdparty

#2136 added test for strtok_r
  src/tests/stdlib/Mybuild
  src/tests/stdlib/strtok_r.c
Labels: module:tests

#2144 2088 fix ticker on riscv
  src/arch/riscv64/include/asm/regs.h
  src/arch/riscv64/kernel/interrupt.c
  templates/riscv/qemu/mods.conf
Labels: arch:risc-v

#2139 Nuklear optimize for stm32
  platform/nuklear/cmd/grfx_rawfb/Mybuild
  platform/nuklear/cmd/grfx_rawfb/grfx_rawfb.c
  platform/nuklear/cmd/grfx_rawfb/rawfb.h
  platform/nuklear/cmd/grfx_rawfb/rawfb_memcpy.c
  platform/nuklear/cmd/grfx_rawfb/rawfb_stm32_ltdc.c
  platform/nuklear/cmd/grfx_rawfb/rawfb_stm32_ltdc_alpha.c
  platform/nuklear/templates/stm32f746g-discovery/mods.conf
  platform/nuklear/templates/stm32f746g-discovery/start_script.inc
  platform/nuklear/templates/stm32f769i-discovery/mods.conf
  platform/nuklear/templates/stm32f769i-discovery/start_script.inc
  platform/nuklear/templates/x86_qemu/mods.conf
  src/drivers/dma/Mybuild
  src/drivers/dma/dma.h
  src/drivers/dma/stm32_cube/Mybuild
  src/drivers/dma/stm32_cube/stm32f7_dma.c
  src/drivers/video/stm32f7_lcd/Mybuild
  src/drivers/video/stm32f7_lcd/stm32f7_lcd.c
  templates/arm/qt-stm32f7discovery/board.conf.h
  third-party/bsp/stmf7cube/Mybuild
  third-party/bsp/stmf7cube/arch.c
  third-party/ntfs-3g/Makefile
Labels: graphics

#2159 Fix pthread_key_create
  src/kernel/task/syslib/thread_key_table.c
  src/tests/posix/pthread/pthread_key_test.c
Labels: compat, module:kernel

#2162 ARMv7-M cpu cache enable
  project/nuklear/cmd/grfx_rawfb/rawfb_stm32_ltdc.c
  project/nuklear/cmd/grfx_rawfb/rawfb_stm32_ltdc_alpha.c
  project/nuklear/templates/stm32f746g-discovery/mods.conf
  project/nuklear/templates/stm32f769i-discovery/mods.conf
  src/arch/arm/armmlib/cpu_cache/Mybuild
  src/arch/arm/armmlib/cpu_cache/armv7m_cpu_cache.c
  src/arch/arm/armmlib/cpu_cache/cpu_cache.h
  src/arch/arm/armmlib/cpu_cache/cpu_cache_none.h
  src/arch/arm/armmlib/cpu_cache/mpu_nocache_regions.lds.S
  src/arch/arm/cortexm3/Mybuild
  src/arch/arm/include/asm/arm_m_regs.h
  src/drivers/net/stm32cube/stm32cube_eth.c
  templates/arm/stm32f746g-discovery/mods.conf
  templates/arm/stm32f769i-discovery/mods.conf
  third-party/bsp/stmf7cube/Mybuild
  third-party/bsp/stmf7cube/arch.c
Labels: arch:arm

#2165 Remove nvic patch.txt from stm32cube (f4 and f7)
  third-party/bsp/stmf4cube/cube/Makefile
  third-party/bsp/stmf4cube/cube/patch.txt
  third-party/bsp/stmf7cube/cube/Makefile
  third-party/bsp/stmf7cube/cube/patch.txt
Labels: module:thirdparty
