Repository embox/embox, pull requests merged in 2020-05, with the labels that each got.

#1969 Expand uart ops api
  src/drivers/serial/apbuart/apbuart.c
  src/drivers/serial/i8250/8250.c
  src/drivers/serial/ns16550/ns16550.c
  src/drivers/serial/pl011/pl011.c
  src/drivers/serial/stm32_usart/stm_usart_cube_diag.c
  src/drivers/serial/uart_device.h
Labels: module:drivers

#1973 Porting to Dialog da14680
  scripts/dialog/da14680/da14680_gdb_start_script
  scripts/dialog/da14680/flash_qspi.sh
  scripts/dialog/da14680/gdb_start.sh
  scripts/dialog/da14680/jlink_gdb_server_start.sh
  src/arch/arm/armmlib/exception_handlers.c
  src/arch/arm/embox.lds.S
  src/arch/arm/head.S
  src/arch/arm/platform/da146xx/Mybuild
  src/arch/arm/platform/da146xx/arch.c
  src/arch/arm/platform/da146xx/da14680_quirk.lds.S
  src/compat/libc/include/inttypes.h
  src/compat/libc/include/limits.h
  src/kernel/task/resource/atexit/Mybuild
  templates/arm/da14680/build.conf
  templates/arm/da14680/lds.conf
  templates/arm/da14680/mods.config
Labels: porting

#1976 Extend da146xx templates with timers and threads
  src/arch/arm/armmlib/context_switch.S
  src/arch/arm/lib/ptregs_jmp.S
  src/arch/arm/platform/da146xx/arch.c
  src/drivers/clock/Mybuild
  src/drivers/clock/cortexm_systick.c
  src/drivers/interrupt/cortexm/Mybuild
  src/drivers/interrupt/cortexm/cortexm0_nvic.c
  src/drivers/interrupt/cortexm/cortexm0_nvic.h
  src/drivers/interrupt/cortexm/cortexm_irq_handle.S
  src/drivers/interrupt/cortexm/cortexm_nvic.c
  src/kernel/sched/priority/none.h
  src/tests/hal/context/context_switch_test.c
  templates/arm/da14680/mods.config
  templates/arm/da14680/start_script.inc
  templates/arm/da14695/mods.config
  templates/arm/da14695/start_script.inc
Labels: porting

#1978 scripts: Add eth_to_wifi.sh to forward eth to internet
  scripts/eth_to_wifi.sh
Labels: scripts

#1981 Add dialog SDKs as third-party modules
  src/compat/posix/include/sys/errno.h
  templates/arm/da14680/build.conf
  templates/arm/da14680/mods.config
  templates/arm/da14695/build.conf
  templates/arm/da14695/mods.config
  third-party/bsp/dialog/da14681/Mybuild
  third-party/bsp/dialog/da14681/ble_mgr.c
  third-party/bsp/dialog/da14681/custom_config_qspi.h
  third-party/bsp/dialog/da14681/da14681_libble_stack.h
  third-party/bsp/dialog/da14681/da14681_rom.h
  third-party/bsp/dialog/da14681/da14681_rom.lds.S
  third-party/bsp/dialog/da14681/default_patch_handler.c
  third-party/bsp/dialog/da14681/sdk/Makefile
  third-party/bsp/dialog/da14681/sdk/Mybuild
  third-party/bsp/dialog/da14681/sdk/patch.txt
  third-party/bsp/dialog/da14681/sdk/sdk_hotfix_01/Makefile
  third-party/bsp/dialog/da14681/sdk/sdk_hotfix_01/Mybuild
  third-party/bsp/dialog/da14681/sdk_retention.lds.S
  third-party/bsp/dialog/da14681/sys_charger.c
  third-party/bsp/dialog/da14681/sys_clock_mgr.c
  third-party/bsp/dialog/da14681/usb_example.c
  third-party/bsp/dialog/da14695/Mybuild
  third-party/bsp/dialog/da14695/arch_main.c
  third-party/bsp/dialog/da14695/custom_config_qspi.h
  third-party/bsp/dialog/da14695/da14695_libble_stack.h
  third-party/bsp/dialog/da14695/sdk/Makefile
  third-party/bsp/dialog/da14695/sdk/Mybuild
  third-party/bsp/dialog/da14695/sdk/patch.txt
  third-party/bsp/dialog/da14695/sdk_retention.lds.S
  third-party/bsp/dialog/da14695/usb_example.c
Labels: module:thirdparty

#1824 compat: Add atexit()
  src/compat/libc/stdlib/sysconf.c
  src/compat/posix/include/unistd.h
  src/compat/posix/proc/atexit/Mybuild
  src/compat/posix/proc/atexit/atexit.c
  src/compat/posix/proc/atexit/atexit_stub.c
  src/compat/posix/proc/exit/Mybuild
  src/compat/posix/proc/exit/exit.c
  src/kernel/task/resource/atexit/atexit.c
  src/kernel/task/resource/atexit/atexit.h
  src/tests/posix/Mybuild
  src/tests/posix/atexit_test.c
Labels: compat, module:kernel

#1998 cortexm irq handling
  platform/opencv/templates/stm32f746g-discovery/mods.config
  platform/opencv/templates/stm32f769i-discovery/mods.config
  platform/pjsip/templates/stm32f4discovery/mods.config
  platform/stm32f3_sensors/templates/car/mods.config
  src/arch/arm/armmlib/Mybuild
  src/arch/arm/armmlib/ipl_impl.h
  src/arch/arm/armmlib/ipl_impl_non_prio.h
  src/arch/arm/armmlib/ipl_impl_prio.h
  src/drivers/interrupt/cortexm/Mybuild
  src/drivers/interrupt/cortexm/cortexm0_nvic.c
  src/drivers/interrupt/cortexm/cortexm0_nvic.h
  src/drivers/interrupt/cortexm/cortexm_irq_handle.S
  src/drivers/interrupt/cortexm/cortexm_nvic.c
  src/drivers/interrupt/cortexm/cortexm_nvic.h
  src/drivers/interrupt/cortexm/irq_entry.S
  src/kernel/Irq.my
  src/kernel/irq_static.h
  templates/arm/stm32f746g-discovery-lua/mods.config
  templates/arm/stm32f746g-discovery/mods.config
  templates/arm/stm32f769i-discovery/mods.config
Labels: arch:arm

#2001 templates: da14695: Add dhcpd
  templates/arm/da14695/mods.config
  templates/arm/da14695/start_script.inc
Labels: templates

#1999 systimer lthread call only if required
  platform/efm32zg_sk3200/templates/debug/mods.config
  platform/mesa/templates/integratorcp/mods.config
  platform/mesa/templates/mesa_x86_osmesa/mods.config
  platform/nuklear/templates/arm_qemu/mods.config
  platform/nuklear/templates/x86_qemu/mods.config
  platform/opencv/templates/arm-qemu/mods.config
  platform/pjsip/templates/x86-qemu/mods.config
  platform/quake3/templates/qemu/mods.config
  platform/stellaris/templates/lm3s811evb/mods.config
  src/include/kernel/time/time.h
  src/include/kernel/time/timer.h
  src/include/kernel/time/timer_strat.h
  src/kernel/time/timer.c
  src/kernel/time/timer/strategy/head_timer.c
  src/kernel/time/timer/strategy/list_timer.c
  src/kernel/time/timer/sys_timer.c
  templates/aarch64/qemu/mods.config
  templates/arm/c++_demo/mods.config
  templates/arm/da14680/mods.config
  templates/arm/qemu/mods.config
  templates/arm/qt-app/mods.config
  templates/arm/qt-fb-small/mods.config
  templates/arm/rpi1-model-b/mods.config
  templates/arm/sabrelite/mods.config
  templates/arm/stm32_vl/mods.config
  templates/arm/stm32_vl_light/mods.config
  templates/arm/test/units/mods.config
  templates/e2k/monocube/mods.config
  templates/microblaze/qemu/mods.config
  templates/mips/c++_demo/mods.config
  templates/mips/qemu/mods.config
  templates/mips/test/units/mods.config
  templates/mips64/qemu/mods.config
  templates/riscv/qemu-sifive-u/mods.config
  templates/sparc/c++_demo/mods.config
  templates/sparc/greth/mods.config
  templates/sparc/qemu/mods.config
  templates/sparc/test/units/mods.config
  templates/sparc/tsim/mods.config
  templates/usermode86/debug/mods.config
  templates/x86/bifferboard/mods.config
  templates/x86/c++_demo/mods.config
  templates/x86/debug/mods.config
  templates/x86/qemu/mods.config
  templates/x86/qt-app/mods.config
  templates/x86/qt-fb/mods.config
  templates/x86/qt-vnc/mods.config
  templates/x86/smp/mods.config
  templates/x86/studp/mods.config
  templates/x86/test/lang/mods.config
  templates/x86/test/net/mods.config
  templates/x86/test/packetdrill/mods.config
  templates/x86/test/ping-target/mods.config
  templates/x86/test/qt-vnc/mods.config
  templates/x86/test/units/mods.config
  templates/x86/third_party/mods.config
  templates/x86/user_apps/mods.config
Labels: module:kernel

#2005 drivers: Improve SPI for stm32f4 (add nucleo-f429zi support)
  src/drivers/spi/spi.h
  src/drivers/spi/stm32/spi_conf_f4.h
  src/drivers/spi/stm32/stm32.c
  src/drivers/spi/stm32/stm32_spi1.c
  src/drivers/spi/stm32/stm32_spi2.c
Labels: module:drivers

#2007 Fix microblaze/qemu timer freq
  src/drivers/clock/mb_timer/mb_timer.c
  templates/microblaze/qemu/build.conf
  templates/microblaze/qemu/mods.config
Labels: arch:microblaze

#2008 cmd: Add blockdev command utlity
  src/cmds/Blockdev.my
  src/cmds/blockdev.c
Labels: cmds
