Repository embox/embox, pull requests merged in 2020-10, with the labels that each got.

#2211 Enable i2c combined transactions
  src/drivers/i2c/i2c.c
  src/drivers/i2c/i2c.h
Labels: module:drivers

#2213 Improve ttys processing
  src/cmds/hardware/lorawan/lorawan.c
  src/drivers/power/imx/imx.c
  src/drivers/serial/Mybuild
  src/drivers/serial/am85c30/am85c30.c
  src/drivers/serial/apbuart/apbuart.c
  src/drivers/serial/diag_serial.c
  src/drivers/serial/efm32_leuart.c
  src/drivers/serial/el24d1/el24d1.c
  src/drivers/serial/i8250/8250.c
  src/drivers/serial/imx_uart/imx_uart.c
  src/drivers/serial/ns16550/ns16550.c
  src/drivers/serial/pl011/pl011.c
  src/drivers/serial/rpi_mini_uart/rpi_mini_uart.c
  src/drivers/serial/sifive_uart/sifive_uart.c
  src/drivers/serial/stm32_usart.c
  src/drivers/serial/stm32_usart/stm_diag.c
  src/drivers/serial/stm32_usart/stm_ttyS0.c
  src/drivers/serial/stm32_usart/stm_ttyS1.c
  src/drivers/serial/stm32_usart/stm_usart.c
  src/drivers/serial/uart_dev.c
  src/drivers/serial/uart_dev.h
  src/drivers/serial/xuartlite/xuartlite.c
  src/drivers/tty/serial/idesc_serial.c
  src/drivers/tty/serial/ttys.c
  src/drivers/tty/serial/ttys_processing.c
  src/drivers/tty/serial/ttys_term.c
  src/drivers/usb/gadget/acm/acm_tty.c
Labels: module:drivers

#2218 scripts: auto_qemu: Remove extra comma
  scripts/qemu/auto_qemu
Labels: scripts

#2221 Clean devfs
  src/fs/driver/devfs/devfs_common.c
  src/fs/driver/devfs/devfs_dvfs.c
  src/fs/driver/devfs/devfs_oldfs.c
  src/fs/dvfs/dvfs.h
  src/fs/dvfs/inode.h
  src/fs/inode.h
Labels: module:fs

#2230 Fix efm32zg sk3200
  mk/extbld/toolchain.mk
  mk/image3.mk
  platform/efm32zg_sk3200/src/bsp/Makefile
  platform/efm32zg_sk3200/src/bsp/Mybuild
  platform/efm32zg_sk3200/templates/debug/build.conf
  platform/efm32zg_sk3200/templates/debug/mods.conf
  scripts/ld_map_info.sh
  src/arch/aarch64/embox.lds.S
  src/arch/arm/embox.lds.S
  src/arch/e2k/embox.lds.S
  src/arch/msp430/embox.lds.S
  src/arch/ppc/embox.lds.S
  src/arch/usermode86/embox.lds.S
  src/arch/x86/embox.lds.S
  src/compat/libc/string/Mybuild
  src/compat/libc/string/strerror.c
  src/drivers/char/terminal/vtparse_state.c
  src/drivers/char/terminal/vtparse_state.h
  src/drivers/clock/Mybuild
  src/drivers/clock/mcsis_systick/Mybuild
  src/drivers/clock/mcsis_systick/cmsis_systick.c
  src/drivers/interrupt/Mybuild
  src/drivers/interrupt/cmsis_nvic/Mybuild
  src/drivers/interrupt/cmsis_nvic/cmsis_nvic.c
  src/drivers/interrupt/cmsis_nvic/cmsis_nvic.h
  src/drivers/tty/serial/ttys.c
  src/drivers/tty/serial/ttys_processing.c
Labels: module:platform
