Repository embox/embox, pull requests merged in 2020-01, with the labels that each got.

#1621 Samba extbld
  third-party/lib/zlib/Makefile
  third-party/samba/Makefile
  third-party/samba/Mybuild
  third-party/samba/include/Python.h
  third-party/samba/include/arpa/nameser.h
  third-party/samba/include/config.h
  third-party/samba/include/err.h
  third-party/samba/include/malloc.h
  third-party/samba/include/pwdadj.h
  third-party/samba/include/sys/audit.h
  third-party/samba/include/sys/label.h
  third-party/samba/include/sys/statvfs.h
  third-party/samba/include/sys/termios.h
  third-party/samba/include/syslog.h
  third-party/samba/patch.txt
  third-party/samba/samba_embox_compat.h
  third-party/samba/shell_cmd.c
  third-party/samba/shell_cmd_testbrowse2.c
  third-party/samba/stubs.c
  third-party/samba/tree/source3/runfromhere.sh
  third-party/samba_ext/Makefile
  third-party/samba_ext/Mybuild
  third-party/samba_ext/include/arpa/nameser.h
  third-party/samba_ext/include/arpa/nameser_compat.h
  third-party/samba_ext/include/sys/un.h
  third-party/samba_ext/patch.txt
Labels: module:fs, module:thirdparty

#1623 drivers: Add block_dev missed dependence
  src/drivers/block_dev/Mybuild
Labels: module:drivers

#1627 Clean ip stack
  src/cmds/net/ping.c
  src/include/net/l3/icmpv4.h
  src/include/net/socket/inet_sock.h
  src/net/l3/icmpv4.c
  src/net/lib/icmpv4.c
  src/net/skbuff/skb_data.c
Labels: module:net

#1632 Fix devfs mount
  src/compat/posix/fs/dirent/dirent_oldfs.c
  src/fs/driver/devfs/devfs_oldfs.c
  src/fs/driver/ntfs/ntfs.c
  src/fs/mount_table.c
  src/fs/rootfs.c
  src/fs/syslib/kfsop.c
  src/fs/syslib/perm.c
Labels: module:fs

#1633 Fix chdir
  src/compat/posix/fs/chdir.c
  src/fs/Mybuild
  src/fs/dentry.c
  src/fs/dentry.h
  src/fs/dvfs/Mybuild
  src/fs/dvfs/dentry.h
  src/fs/dvfs/dvfs.c
  src/fs/dvfs/dvfs.h
  src/fs/dvfs/dvfs_util.c
  src/fs/inode.c
  src/fs/inode.h
  src/fs/vfs.c
  src/kernel/task/resource/Mybuild
  src/kernel/task/resource/vfs.c
Labels: module:fs

#1634 ehci: Use IOC interrupt instead of IAA
  src/drivers/usb/hc/ehci_hcd.c
  src/drivers/usb/hc/ehci_q.c
Labels: module:drivers

#1636 tcp_sock fix
  src/fs/Mybuild
  src/net/socket/tcp_sock.c
Labels: easy

#1635 vfs: Remove .pathname inode operation
  src/compat/posix/fs/dirent/dirent_oldfs.c
  src/drivers/block_dev/block_dev_idesc.c
  src/fs/driver/devfs/devfs_dvfs.c
  src/fs/driver/devfs/devfs_oldfs.c
  src/fs/driver/fat/fat_dvfs.c
  src/fs/driver/fuse/fuse_fs_driver.c
  src/fs/driver/initfs/initfs_dvfs.c
  src/fs/dvfs/dvfs.c
  src/fs/dvfs/dvfs_util.c
  src/include/fs/inode_operation.h
Labels: module:fs

#1637 compat/posix/fs/closedir: Fix resource free
  src/compat/posix/fs/dirent/dirent_oldfs.c
Labels: module:fs

#1638 dvfs: Fix mount
  src/fs/dvfs/dvfs.c
Labels: easy, module:fs

#1640 stdlib.h minor refactor
  src/compat/libc/include/stdlib.h
Labels: compat, easy

#1641 Adding section for buildinfo
  mk/gen_buildinfo.sh
  mk/image2.mk
  src/cmds/sys/Version.my
  src/cmds/sys/version.c
  src/lib/debug/Mybuild
  src/lib/debug/buildinfo.c
  src/lib/debug/buildinfo.h
  src/lib/debug/buildinfo.lds.S
Labels: buildsystem, in progress

#1642 Clean network
  src/cmds/net/httpd/httpd.c
  src/drivers/net/dwc_gmac/dwc_gmac.c
  src/drivers/net/e1000/e1000.c
  src/drivers/net/emac/emac.c
  src/drivers/net/stm32cube/stm32cube_eth.c
  src/drivers/net/tun/tun.c
  src/drivers/net/usbnet/usbnet.c
  src/drivers/net/usermode/usermode.c
  src/drivers/net/virtio_net/virtio_net.c
  src/include/net/l3/icmpv6.h
  src/include/net/mii.h
  src/include/net/netdevice.h
  src/net/lib/icmpv6.c
  src/net/skbuff/skb_data.c
Labels: module:net

#1646 readdir() fix
  scripts/autotest/testsuite/fs-rootfs/finish.exp
  scripts/autotest/testsuite/fs-rootfs/ls/test.exp
  scripts/autotest/testsuite/fs-rootfs/setup.exp
  src/compat/posix/fs/dirent/dirent_dvfs.c
  src/compat/posix/fs/open/open_dvfs.c
  src/fs/dvfs/dvfs.c
Labels: compat, module:fs

#1649 x86: Fix mmu_pte_get() and mmu_pte_unpack()
  src/arch/x86/mmu/mmu.c
Labels: arch:x86

#1648 Riscv
  src/arch/riscv/kernel/Mybuild
  src/arch/riscv/kernel/context.c
  src/arch/riscv/kernel/context.h
  src/arch/riscv/kernel/context_switch.S
  templates/riscv/qemu-sifive-u/mods.config
Labels: arch:risc-v

#1629 Add mcst netcard driver
  src/arch/e2k/include/asm/hal/arch.h
  src/arch/e2k/include/mmu_regs.h
  src/arch/e2k/mmu/mmu.c
  src/drivers/net/mcst/Mybuild
  src/drivers/net/mcst/dp83865_phy.h
  src/drivers/net/mcst/l_e1000.c
  src/drivers/net/mcst/l_e1000.h
  src/drivers/pci/pci_chip/pci_chip_elbrus.c
  src/include/endian.h
  templates/e2k/monocube/mods.config
  templates/e2k/monocube/start_script.inc
Labels: arch:e2k, module:drivers

#1652 riscv: add vfork and ptregs_jmp
  src/arch/riscv/include/asm/entry.h
  src/arch/riscv/include/asm/ptrace.h
  src/arch/riscv/kernel/context.c
  src/arch/riscv/kernel/context.h
  src/arch/riscv/lib/Mybuild
  src/arch/riscv/lib/ptregs_jmp.S
  src/arch/riscv/lib/vfork.S
  templates/riscv/qemu-sifive-u/mods.config
  templates/riscv/qemu-sifive-u/rootfs/network
  templates/riscv/qemu-sifive-u/system_start.inc
Labels: arch:risc-v

#1656 usb: Create usb device even when driver wasn't found
  src/drivers/usb/usb_hub.c
Labels: easy, module:drivers

#1651 aarch64: Fix mmu_pte_unpack() return value
  src/arch/aarch64/mmu/mmu.c
Labels: arch:aarch64

#1658 fs/file_desc: Rename file_desc fieldsto fit dvfs file_desc version
  src/compat/posix/fs/ftruncate/ftruncate_oldfs.c
  src/fs/driver/cifs/cifs.c
  src/fs/driver/ext2/ext2.c
  src/fs/driver/ext3/ext3.c
  src/fs/driver/ext4/ext4.c
  src/fs/driver/iso9660/cdfs.c
  src/fs/driver/jffs2/jffs2.c
  src/fs/driver/nfs/nfs.c
  src/fs/file_desc.c
  src/fs/file_desc.h
  src/fs/file_xattr.c
  src/fs/syslib/kfile.c
  src/fs/syslib/kfsop.c
Labels: easy, refactoring
