Repository embox/embox, pull requests merged in 2021-08, with the labels that each got.

#2480 cmds: Improve 'time' command
  src/cmds/sys/time.c
Labels: easy, cmds

#2483 Bcm dma
  platform/raspberry_pi/rpi0-hw/mods.conf
  src/cmds/dma/Mybuild
  src/cmds/dma/dma.c
  src/drivers/dma/Mybuild
  src/drivers/dma/dma.c
  src/drivers/dma/dma.h
  src/drivers/dma/pl330/Mybuild
  src/drivers/dma/pl330/pl330_dma.c
  src/drivers/dma/pl330/pl330_dma.h
  src/drivers/dma/stm32_cube/Mybuild
  src/drivers/dma/stm32_cube/stm32f7_dma.c
  src/include/drivers/bcm283x_dma.h
Labels: module:drivers

#2487 templates: Update project/pjsip/stm32h745i-discovery(-sip-nuklear)
  project/pjsip/templates/stm32h745i-discovery-sip-nuklear/build.conf
  project/pjsip/templates/stm32h745i-discovery-sip-nuklear/conf_setup.inc
  project/pjsip/templates/stm32h745i-discovery-sip-nuklear/mods.conf
  project/pjsip/templates/stm32h745i-discovery-sip-nuklear/rootfs/sip_acc.conf
  project/pjsip/templates/stm32h745i-discovery/mods.conf
  project/pjsip/templates/stm32h745i-discovery/rootfs/network
  project/pjsip/templates/stm32h745i-discovery/start_script.inc
Labels: easy

#2489 Clean fs
  src/cmds/fs/mount/mount.c
  src/cmds/hardware/ide.c
  src/compat/libc/Mybuild
  src/compat/libc/stdio/rename_dvfs.c
  src/compat/posix/fs/dvfs/fsop.c
  src/drivers/block_dev/Mybuild
  src/drivers/block_dev/block_dev_idesc.c
  src/drivers/block_dev/ide/Mybuild
  src/drivers/block_dev/ide/cdrom.c
  src/drivers/block_dev/ide/harddisk_dma.c
  src/drivers/block_dev/ide/harddisk_pio.c
  src/drivers/block_dev/ide/ide.h
  src/drivers/block_dev/ide/ide_drive.c
  src/drivers/block_dev/partition/partition.c
  src/fs/driver/binfs/binfs_oldfs.c
  src/fs/driver/cifs/Mybuild
  src/fs/driver/cifs/cifs.c
  src/fs/driver/devfs/devfs_oldfs.c
  src/fs/driver/dfs/dfs.c
  src/fs/driver/ext2/ext2.c
  src/fs/driver/ext3/ext3.c
  src/fs/driver/ext4/ext4.c
  src/fs/driver/fat/fat_oldfs.c
  src/fs/driver/initfs/initfs_dvfs.c
  src/fs/driver/initfs/initfs_fops.c
  src/fs/driver/initfs/initfs_oldfs.c
  src/fs/driver/iso9660/cdfs.c
  src/fs/driver/jffs2/jffs2.c
  src/fs/driver/nfs/nfs.c
  src/fs/driver/ntfs/ntfs.c
  src/fs/driver/ramfs/ramfs_dvfs.c
  src/fs/driver/ramfs/ramfs_oldfs.c
  src/fs/driver/ramfs/ramfs_ops.c
  src/fs/dvfs/Mybuild
  src/fs/dvfs/dcache_polynomial.c
  src/fs/dvfs/dentry.h
  src/fs/dvfs/dvfs.c
  src/fs/dvfs/dvfs.h
  src/fs/dvfs/dvfs_dentry.c
  src/fs/syslib/kfile.c
  src/include/fs/fs_driver.h
  third-party/ntfs-3g/ntfs-3g_embox_compat.h
  third-party/samba/Makefile
  third-party/samba/Mybuild
  third-party/samba/patch.txt
Labels: module:fs
