Repository embox/embox, pull requests merged in 2021-01, with the labels that each got.

#2319 c++: arm: Fix cxxabi modules declaration
  src/arch/arm/lib/cxxabi/Mybuild
Labels: easy

#2330 Move RaPi templates into platform folder
  platform/raspberry_pi/rpi0/build.conf
  platform/raspberry_pi/rpi0/lds.conf
  platform/raspberry_pi/rpi0/mods.conf
  platform/raspberry_pi/rpi0/start_script.inc
  platform/raspberry_pi/rpi0/system_start.inc
  platform/raspberry_pi/rpi0w/build.conf
  platform/raspberry_pi/rpi0w/lds.conf
  platform/raspberry_pi/rpi0w/mods.conf
  platform/raspberry_pi/rpi0w/start_script.inc
  platform/raspberry_pi/rpi0w/system_start.inc
  platform/raspberry_pi/rpi1-model-b/build.conf
  platform/raspberry_pi/rpi1-model-b/lds.conf
  platform/raspberry_pi/rpi1-model-b/mods.conf
  platform/raspberry_pi/rpi1-model-b/start_script.inc
  platform/raspberry_pi/rpi1-model-b/system_start.inc
  platform/raspberry_pi/rpi2-model-b/build.conf
  platform/raspberry_pi/rpi2-model-b/lds.conf
  platform/raspberry_pi/rpi2-model-b/mods.conf
  platform/raspberry_pi/rpi2-model-b/start_script.inc
  platform/raspberry_pi/rpi2-model-b/system_start.inc
Labels: easy, module:platform, templates

#2331 Move stm32 test cmds to stm32
  platform/stm32/cmds/cpu_cache/Mybuild
  platform/stm32/cmds/cpu_cache/cpu_cache_test.c
  platform/stm32/cmds/moving_square/Mybuild
  platform/stm32/cmds/moving_square/moving_square.c
  platform/stm32/cmds/moving_square/moving_square_draw.c
  platform/stm32/cmds/static_square/Mybuild
  platform/stm32/cmds/static_square/static_square.c
  platform/stm32/cmds/static_square/static_square_draw.c
Labels: easy, module:platform
