Repository embox/embox, pull requests merged in 2022-08, with the labels that each got.

#2585 x86: Add region for multiboot section in arch/x86/embox.lds.S
  src/arch/x86/embox.lds.S
Labels: arch:x86

#2589 drivers/servo: Initial subsystem implementation
  project/servo/cmds/Mybuild
  project/servo/cmds/pwm.c
  project/servo/templates/stm32f3-discovery/mods.conf
  src/drivers/servo/Mybuild
  src/drivers/servo/servo.c
  src/drivers/servo/servo.h
  src/drivers/servo/stm32f3_pwm.c
Labels: module:drivers, module:platform

#2592 drivers/stm32f4 servo
  platform/stm32/f4/stm32f4_discovery/stm32f4xx_hal_conf.h
  project/servo/templates/stm32f4-discovery/board.conf.h
  project/servo/templates/stm32f4-discovery/build.conf
  project/servo/templates/stm32f4-discovery/conf_setup.inc
  project/servo/templates/stm32f4-discovery/lds.conf
  project/servo/templates/stm32f4-discovery/mods.conf
  project/servo/templates/stm32f4-discovery/rootfs/log.txt
  project/servo/templates/stm32f4-discovery/rootfs/network
  project/servo/templates/stm32f4-discovery/start_script.inc
  src/drivers/servo/Mybuild
  src/drivers/servo/stm32f4_pwm.c
Labels: module:drivers
