Repository embox/embox, pull requests merged in 2023-02, with the labels that each got.

#2659 Improve gpio driver
  src/drivers/gpio/gpio.c
  src/drivers/gpio/gpio.h
  src/drivers/gpio/gpio_driver.h
  src/drivers/gpio/stm32/stm32_gpio_cube.c
Labels: module:drivers

#2668 Issue 2665 fix stm32 qt
  scripts/gdb_load_stm32.sh
  src/drivers/input/input_dev_devfs.c
Labels: scripts

#2676 posix fs stubs
  src/compat/posix/include/grp.h
Labels: module:fs, easy
